@import "../../global/less/variables";

body {
  background: @light;
}

.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}

.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}

.numbers {
  color: @dark-blue;
  opacity: 0.8;
}

span {
  display: inline-block;
  width: 20px;
}

.clue{
  margin-bottom: 20px;
  font-size: 24px;
  color: @dark-blue;
}

.form{
  margin-top: 40px;
}

.puzzle {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
}