.main {
  background: #ffffff;
}
.main .content {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
  z-index: 2;
}
.main .content .level-content {
  position: relative;
  z-index: 3;
}
.main .content .level-content .mystery {
  font-size: 28px;
  color: #ffffff;
}
.main .content .level-content .mystery span {
  margin: 0 2px;
  cursor: pointer;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  line-height: 36px;
}
.main .content .level-content .mystery .h {
  color: #f3f3f3;
  transition: 1s;
  -webkit-transition: 1s;
}
.main .content .level-content .hint {
  margin-top: 20px;
  font-size: 20px;
  color: #485158;
  opacity: 1;
}
.main .content .level-content form {
  position: relative;
  top: 40px;
}
.bg1 {
  position: fixed;
  height: 100%;
  width: 33%;
  left: 0;
  background: #151b1f;
  z-index: 1;
  transition: 1s;
  -webkit-transition: 1s;
}
.bg2 {
  position: fixed;
  height: 100%;
  width: 33%;
  background: #151b1f;
  left: 33%;
  z-index: 1;
  transition: 1s;
  -webkit-transition: 1s;
}
.bg3 {
  position: fixed;
  height: 100%;
  width: 34%;
  background: #151b1f;
  left: 66%;
  z-index: 1;
  transition: 1s;
  -webkit-transition: 1s;
}
.lamp-wrapper .lamp-stem {
  margin: 0 auto;
  width: 4px;
  height: 80px;
  background: #000000;
  cursor: pointer;
}
.lamp-wrapper .lamp-rect {
  width: 30px;
  height: 30px;
  background: #000000;
  margin: 0 auto;
  cursor: pointer;
}
.lamp-wrapper .lamp-dome {
  position: relative;
  top: -2px;
  margin: 0 auto;
  height: 45px;
  width: 90px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  background: #000000;
  cursor: pointer;
}
.lamp-wrapper .lamp-bulb {
  position: relative;
  top: -2px;
  margin: 0 auto;
  height: 20px;
  width: 40px;
  border-radius: 0px 0px 40px 40px;
  -moz-border-radius: 0px 0px 40px 40px;
  -webkit-border-radius: 0px 0px 40px 40px;
  background: #ffffff;
  opacity: 0.1;
  cursor: pointer;
}
.white {
  background: #f3f3f3 !important;
  transition: 1s;
  -webkit-transition: 1s;
}
.on {
  background: #ffffff;
  opacity: 1 !important;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 186, 0, 0.5);
  -moz-box-shadow: 0px 0px 30px 0px rgba(255, 186, 0, 0.5);
  box-shadow: 0px 0px 30px 0px rgba(255, 186, 0, 0.5);
  transition: 1s;
  -webkit-transition: 1s;
}
