@import "../../global/less/variables";

.main{
	background: @light;

	.content{
		position: relative;
		max-width: 600px;
		padding: 0 20px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.hint{
				color: @dark-blue;
				font-size: 18px;
				margin-bottom: 40px;

				@media (max-width: @m){
					font-size: 14px;
				}
			}

			.img{
				display: block;
				width: 400px;
				margin: 0 auto;

				@media(max-width: @m){
					width: 200px;
				}
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


