@import "../../global/less/variables";

.main{
	background: @light;

	.content{
		position: relative;
		top: 28%;
		max-width: 750px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			p{
				font-size: 18px;
				color: @dark-blue;
				margin-bottom: 15px;
				line-height: 26px;
			}

			.hint{
				color: red;
				position: relative;
				text-decoration: underline;
			}
			

			.form{
				margin-top: 40px;
			}

		}
	}
}


