.main {
  background: #eaf0f8;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #171b1d;
  margin-bottom: 40px;
  font-size: 20px;
}
.main .content .level-content .hint span {
  font-weight: 700;
  font-style: italic;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    font-size: 18px;
  }
}
.main .content .level-content .words {
  font-size: 30px;
  color: red;
  margin-top: 15px;
}
.main .content .level-content .words span {
  display: inline-block;
  width: 40px;
}
.main .content .level-content hr {
  width: 150px;
  border: none;
  border-top: 1px solid #7599ac;
}
.main .content .level-content .form {
  margin-top: 40px;
}
