@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{
		position: relative;
		max-width: 450px;
		padding: 0 20px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.box-row{
				height: 100px;
				margin-bottom: 2px;

				@media (max-width: @m){
					height: 70px;
				}
			}

			span{
				display: inline-block;
				width: 100px;
				height: 100px;
				background: #000000;
				margin: 0 1px;
				cursor: pointer;
				color: @f;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				@media (max-width: @m){
					width: 70px;
					height: 70px;
				}

				&:hover{
					background: @light-blue;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}
			}

			.on{
				background: red;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				&:hover{
					background: red;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}
			}

			.hint{
				font-size: 24px;
				color: @f;
				opacity: 1;	
				margin-top: 60px;
			}
		}
	}
}


