.main {
  background: #eaf0f8;
}
.main .content {
  position: relative;
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #171b1d;
  font-size: 18px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    font-size: 14px;
  }
}
.main .content .level-content .img {
  display: block;
  width: 400px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .main .content .level-content .img {
    width: 200px;
  }
}
.main .content .level-content .form {
  margin-top: 40px;
}
