@import "../../global/less/variables";

.main{
	background: @light;

	.content{
		position: relative;
		max-width: 600px;
		padding: 0 20px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.col{
				width: 20%;
				float: left;

				.image{
					height: 40px;
					display: block;
					margin: 0 auto;
					margin-bottom: 40px;

					@media (max-width: @m){
						height: 30px;
						margin-bottom: 30px;
					}
				}

				.hint{
					height: 40px;
					width: 40px;
					margin: 0 auto;
					display: inline-block;
					border-bottom: 1px solid @light-blue;

					@media (max-width: @m){
						width: 30px;
						height: 30px;
					}

					img{
						height: 30px;
						display: inline-block;
						margin: 0 auto;

						@media (max-width: @m){
							height: 20px;
						}
						
					}
				}
			}


			.form{
				margin-top: 40px;
			}

		}
	}
}


