.main {
  background: #ffffff;
  position: fixed;
  overflow: hidden;
}
.main .content {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .start {
  position: relative;
  z-index: 2;
  color: #171b1d;
  border: 1px solid #171b1d;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .start:hover {
  color: #ffffff;
  background: #171b1d;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .reset {
  display: inline-block;
  position: relative;
  z-index: 2;
  color: red;
  border: 1px solid red;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  margin-bottom: 20px;
}
.main .content .level-content .reset:hover {
  color: #ffffff;
  background: red;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .hint {
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  display: none;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    font-size: 16px;
  }
}
.main .content .level-content .form {
  position: relative;
  z-index: 2;
  margin-top: 40px;
}
.main #counter {
  color: red;
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 30px;
}
.main .area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.main .circle {
  position: absolute;
  width: 100px;
  height: 100px;
  display: inline-block;
  background: #221e20;
  border-radius: 50%;
}
