.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .numbers {
  margin-bottom: 40px;
  color: #7599ac;
  font-size: 30px;
}
.main .content .level-content .image-wrap {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .main .content .level-content .image-wrap {
    width: 250px;
    height: 250px;
  }
}
.main .content .level-content .image-wrap .image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .spin-btn {
  padding: 15px 25px;
  background: #7599ac;
  color: #ffffff;
  border-radius: 2px;
  margin-top: 40px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .spin-btn:hover {
  background: #171b1d;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .form {
  margin-top: 40px;
}
