@import "../../global/less/variables";

body{
	background: @dark-red;
}
.main{
	height: auto;

	.content{
		position: relative;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;
			padding: 40px 0px;

			h6{
				color: @f;
				text-align: left;
				margin-bottom: 40px;
				padding-left: 40px;
				font-size: 30px;

				@media (max-width: @m){
					text-align: center;
					padding-left: 0px;
				}
			}

			hr{
				border: none;
				border-top: 2px solid @f;
				margin: 40px 0px;
			}

			.number{
				color: @f;
				position: relative;
				text-align: right;
				margin-bottom: 1000px;
				padding: 0 40px;
				font-size: 18px;
			}

			.invert{
				-webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
				-moz-transform: rotate(180deg);        /* FF */
				-o-transform: rotate(180deg);          /* Opera */
				-ms-transform: rotate(180deg);         /* IE9 */
				transform: rotate(180deg);             /* W3C compliant browsers */
				text-align: left;
			}

			.fix{
				margin-bottom: 371px;
			}

			.center{
				color: red;
			}

			.end{
				margin-bottom: 0px;
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


