@import "../../global/less/variables";

.main{
	background: @f6;

	.content{
		position: relative;
		top: 28%;
		max-width: 750px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.hint{
				color: @light-blue;
				margin-bottom: 40px;
				font-size: 20px;

				span{
					color: @light-blue;
					font-style: italic;
					font-weight: 700;
				}

				@media (max-width: @m){
					font-size: 16px;
				}
			}

			.sec{
				display: inline-block;
				margin: 0 10px;
				padding: 10px 10px;	
				color: red;
				height: 48px;

				@media (max-width: @m){
					margin: 0 0px;
					padding: 10px 5px;
				}

				span{
					display: inline-block;
					width: 20px;
					font-size: 24px;

					@media (max-width: @m){
						font-size: 14px;
					}
				}
			}

			hr{
				margin: 20px 0;
				border: none;
				border-top: 1px solid @grey-blue;
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


