body {
  background: #221e20;
}
.puzzle {
  min-width: 500px;
  margin: 0 auto;
}
.content {
  position: relative;
  top: 80px;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}
.puzzle {
  margin-bottom: 40px;
}
.choice {
  width: 150px;
  display: block;
  color: #ffffff;
  font-size: 14px;
}
.choice span {
  width: 86px;
  display: inline-block;
}
.choice .fa {
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 5px;
}
.choice .fa:hover {
  color: red;
}
.spot {
  width: 150px !important;
  display: inline-block;
}
.white {
  color: #ffffff;
}
.white li {
  color: #ffffff;
  margin: 5px 0px;
}
.num_code {
  width: auto;
  margin: 5px;
}
img.resize {
  width: 250px;
  /* you can use % */
  height: auto;
}
