@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{
		position: relative;
		width: 450px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.box-row{
				height: 100px;
				margin-bottom: 2px;
			}

			span{
				display: inline-block;
				width: 100px;
				height: 100px;
				background: #000000;
				margin: 0 1px;
				color: @f;
				transition: 0.5s;
				-webkit-transition: 0.5s;

			}

			.disabled{
				background: @dark-blue;
			}

			.open{
				background: @light-blue;
				transition: 0.5s;
				-webkit-transition: 0.5s;
				cursor: pointer;
			}

			img{
				height: 50px;
				display: block;
				margin: 0 auto;
				position: relative;
				top: 20px;
				cursor: pointer;
			}

			.hint{
				font-size: 24px;
				color: @light-blue;
				opacity: 1;	
				margin-top: 40px;
			}
		}
	}
}


