body {
  background: #151b1f;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.hint {
  color: #485158;
  margin: 40px 0px;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}
.form {
  margin-top: 40px;
}
.numbers {
  color: white;
  opacity: 0.8;
  font-size: 18px;
}
@media (max-width: 767px) {
  .numbers {
    font-size: 10px;
    margin: 30px 0px;
  }
}
span {
  display: inline-block;
  width: 20px;
}
.message {
  color: white;
  opacity: 0.8;
}
