@import "../../global/less/variables";

.main{
	background: @f6;

	.content{
		position: relative;
		top: 28%;
		max-width: 650px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.numbers{
				margin-bottom: 40px;
				color: @grey-blue;
				font-size: 30px;
			}

			.image-wrap{
				position: relative;
				width: 300px;
				height: 300px;
				margin: 0 auto;

				@media (max-width: @m){
					width: 250px;
					height: 250px;
				}

				.image{
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
					width: 100%;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}
			}

			.spin-btn{
				padding: 15px 25px;
				background: @grey-blue;
				color: @f;
				border-radius: 2px;
				margin-top: 40px;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				&:hover{
					background: @dark-blue;
					transition: 0.5s;
					-webkit-transition: 0.5s;

				}
			}
		
			.form{
				margin-top: 40px;
			}

		}
	}
}


