@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{
		position: relative;
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.col{
				float: left;
				width: 33.33333%;

				@media (max-width: @m){
					float: none;
					width: 100%;
				}

				.text{
					color: @light-blue;
					display: inline-block;
					padding: 5px 5px;

					span{
						display: inline-block;
						width: 20px;
						margin: 0 5px;
						line-height: 26px;
						font-size: 24px;
						padding-bottom: 3px;
						border-bottom: 1px solid @light-blue;
					}

					.special{
						color: @f;
					}
				}
			}

			.hint{
				font-size: 24px;
				color: @f;
				opacity: 0.8;
				margin-bottom: 40px;

				@media (max-width: @m){
					margin-bottom: 20px;
					font-size: 18px;
				}
				
			}


			form{
				position: relative;
				margin-top: 40px;
			}
		}
	}
}


