@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  -webkit-appearance: none;
  border-radius: 0px;
}
button {
  display: inline-block;
  line-height: 1;
  font-size: 18px;
  border: none;
  outline: none;
  margin: 0 0;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -webkit-appearance: none;
  border-radius: 0px;
}
.row:before,
.row:after {
  content: "";
  display: table;
  box-sizing: border-box;
}
.row:after {
  clear: both;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* END OF CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
a,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: 'Roboto', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}
body {
  background: #f6f6f6;
}
.main {
  position: absolute;
  width: 100%;
  height: 100%;
}
.level {
  opacity: 0;
  display: none;
  position: fixed;
  z-index: 9;
  bottom: 40px;
  left: 20px;
  color: #6f7f8b;
  font-size: 40px;
}
.level-content {
  opacity: 0;
  display: none;
}
.form {
  font-size: 0;
}
.form .row {
  display: inline-block;
  margin: 0 auto;
}
.form .answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #6f7f8b;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: none;
  color: #6f7f8b;
  -webkit-appearance: none !important;
  border-radius: 0px !important;
}
.form .answer-input:focus {
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  background: #6f7f8b;
  color: #ffffff;
}
.form .submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #6f7f8b;
  background: transparent;
  border: 1px solid #6f7f8b;
  border-left: none;
  font-weight: 300;
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.form .submit:hover {
  background: #6f7f8b;
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.continue_wrapper {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 90px;
  bottom: -20px;
  background: transparent;
  transition: 1s;
  -webkit-transition: 1s;
  opacity: 0;
}
@media (max-width: 767px) {
  .continue_wrapper {
    background: rgba(0, 0, 0, 0.95);
  }
}
.next_level {
  background: transparent;
  border: 1px solid #6f7f8b;
  padding: 15px 20px;
  color: #6f7f8b;
  border-radius: 0px;
  -webkit-appearance: none;
  position: fixed !important;
  z-index: 10;
  opacity: 1;
  bottom: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
@media (max-width: 767px) {
  .next_level {
    width: 80%;
    left: 10%;
  }
}
.next_level:hover {
  background: #6f7f8b;
  border: 1px solid #6f7f8b;
  color: #ffffff;
}
.header {
  position: fixed;
  width: 100%;
  height: 22px;
  background: #000000;
}
.header .menu {
  float: right;
  margin-right: 20px;
}
.header .menu p {
  display: inline-block;
  color: #ffffff;
  margin-right: 20px;
  line-height: 22px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.header .menu p:hover {
  color: #7599ac;
}
.header .menu .logout {
  display: none;
}
.header .menu .levels_icon {
  display: inline-block;
  color: #ffffff;
  background: #ffffff;
  height: 8px;
  width: 8px;
  cursor: pointer;
}
.header .menu .levels_icon:hover {
  background: #7599ac;
}
.modal {
  position: fixed;
  display: none;
  z-index: 12;
  background: #000000;
  width: 100%;
  height: 100%;
}
.modal .modal_body {
  position: relative;
  margin: 0 auto;
  max-width: 300px;
  top: 30%;
}
.modal .modal_body form input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  -webkit-appearance: none;
  background: transparent;
  border-bottom: 1px solid #ffffff;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  font-size: 18px;
  color: #ffffff;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-weight: 100;
}
.modal .modal_body form ::-webkit-input-placeholder {
  color: #ffffff;
}
.modal .modal_body form :-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}
.modal .modal_body form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}
.modal .modal_body form :-ms-input-placeholder {
  color: #ffffff;
}
.modal .modal_body form a {
  display: block;
  text-decoration: none;
  border: none;
  outline: none;
  background: #7599ac;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
.modal .close_modal {
  display: inline-block;
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 30px 30px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIyNDdweCIgaGVpZ2h0PSIyMDBweCIgdmlld0JveD0iNzQuNSAwIDI0NyAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgNzQuNSAwIDI0NyAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBvbHlnb24gZmlsbD0iI0ZGRkZGRiIgcG9pbnRzPSIyOTkuOTk2LDYuMjMzIDI5My43NzIsMCAyMDAsOTMuNzY2IDEwNi4yMzQsMCAxMDAuMDA0LDYuMjMzIDE5My43NzEsOTkuOTk4IDEwMC4wMDQsMTkzLjc2NCANCgkJMTA2LjIzNCwyMDAgMjAwLDEwNi4yMjIgMjkzLjc3MiwyMDAgMjk5Ljk5NiwxOTMuNzY0IDIwNi4yMjksOTkuOTk4IAkiLz4NCjwvZz4NCjwvc3ZnPg0K');
  background-size: 30px auto;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.malum_levels {
  background: #000000;
  padding: 100px 20px;
}
.malum_levels .container {
  max-width: 600px;
  margin: 0 auto;
}
.malum_levels .tutorial_levels {
  text-align: center;
  font-size: 0;
  margin-bottom: 50px;
}
.malum_levels .tutorial_levels a {
  display: inline-block;
  width: 80px;
  padding: 10px 0px;
  border: 1px solid #333333;
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 30px;
  text-align: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.malum_levels .tutorial_levels a:hover {
  background: #333333;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  color: #6f7f8b;
}
.malum_levels .tutorial_levels a.complete {
  background: #97D46E;
  color: #ffffff;
}
.malum_levels .all_levels a {
  position: relative;
  line-height: 60px;
  display: block;
  border-bottom: 1px solid #333333;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
}
.malum_levels .all_levels a:hover {
  color: #2880ae;
}
.malum_levels .all_levels a .num {
  opacity: 0.75;
}
.malum_levels .all_levels a .box {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 15px;
  border: 1px solid #333333;
}
.malum_levels .all_levels a.complete .box {
  background: #97D46E;
}
.malum_levels h1 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 40px;
}
