body {
  background: #f6f6f6;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}
.numbers {
  color: #171b1d;
  opacity: 0.8;
}
.red {
  color: red;
  opacity: 0.8;
  font-weight: bolder;
  font-size: 20px;
}
span {
  display: inline-block;
  width: 30px;
}
button {
  border: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  opacity: 0.8;
  background: transparent;
}
@media (max-width: 767px) {
  #text {
    font-size: 15px;
  }
}
.next_level {
  background-color: white;
}
@media (max-width: 767px) {
  .next_level {
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  .continue_wrapper {
    top: 0px !important;
  }
}
@media (max-width: 767px) {
  .continue_wrapper .next_level {
    width: 280px;
    top: 20px !important;
    left: 20px;
    bottom: initial;
  }
}
.level {
  background-color: #f6f6f6;
}
