@import "../../global/less/variables";

.main{
	background: @dark-red;

	.content{
		position: relative;
		top: 28%;
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.hint{
				color: @f;
				font-size: 24px;
				margin-bottom: 20px;

                @media (max-width: @m){
                    font-size: 18px;
                }
			}

			img{
				display: block;
				margin: 0 auto;
				width: 100px;
				margin-top: 40px;
			}

		}
	}
}

.number{
    position: relative;
    top: -75px;
    font-size: 40px;
    color: @f;
}


.animated1 { 
    -webkit-animation-duration: 0.3s; 
    animation-duration: 0.3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

.animated2 { 
    -webkit-animation-duration: 0.6s; 
    animation-duration: 0.6s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

.animated3 { 
    -webkit-animation-duration: 0.9s; 
    animation-duration: 0.9s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

.animated4 { 
    -webkit-animation-duration: 1.2s; 
    animation-duration: 1.2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

.animated5 { 
    -webkit-animation-duration: 1.5s; 
    animation-duration: 1.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

.animated6 { 
    -webkit-animation-duration: 1.8s; 
    animation-duration: 1.8s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

.animated7 { 
    -webkit-animation-duration: 60s; 
    animation-duration: 60s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.1); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.1); } 
    100% { transform: scale(1); } 
} 
.pulse { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}

.pseudoform{
     font-size: 0;
     margin-top: 40px;

    .row{
        display: inline-block;
        margin: 0 auto;
    }

    .pseudo-input{
        display: block;
        float: left;
        background: transparent;
        border: 1px solid @light-blue;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        width: 150px;
        height: 36px;
        padding: 0 10px;
        font-size: 18px;
        outline: none;
        color: @light-blue;
        -webkit-appearance: none !important;
        border-radius: 0px !important;

        &:focus{
            outline: none;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            background: @light-blue;
            color: @f;
        }
    }

    .pseudo-submit{
        display: block;
        float: left;
        width: 100px;
        font-size: 18px;
        height: 38px;
        color: @light-blue;
        background: transparent;
        border: 1px solid @light-blue;
        border-left: none;
        font-weight: 300;
        outline: none;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        line-height: 38px;

        &:hover{
          background: @light-blue;
          color: @f;
          transition: 0.5s;
          -webkit-transition: 0.5s;
        }
    }
}
