.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  padding: 0 20px;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .arrow {
  color: #485158;
  font-size: 100px;
}
.main .content .level-content .text-hint {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 24px;
}
.main .content .level-content .hint {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 40px;
}
.main .content .level-content .hint .i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.main .content .level-content .i {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #485158;
  margin: 0 3px;
}
.main .content .level-content .circle {
  border-radius: 50%;
}
.main .content .level-content .space {
  display: inline-block;
  width: 20px;
}
@media (max-width: 767px) {
  .main .content .level-content .space {
    display: block;
    height: 20px;
  }
}
.main .content .level-content .form {
  margin-top: 40px;
}
