@import "../../global/less/variables";

.main{
	background: @light;

	.content{
		position: relative;
		top: 28%;
		max-width: 500px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.col{
				float: left;
				width: 16.6666666667%;

				p{
					color: @light-blue;
				}

				.plus,.minus{
					cursor: pointer;
				}

				.num{
					font-size: 30px;

					@media (max-width: @m){
						font-size: 18px;
					}
				}

				.fa{
					color: red;
					padding: 5px 5px;
					opacity: 0.8;
					cursor: pointer;
					transition: 0.5s;
					-webkit-transition: 0.5s;

					&:hover{
						color: red;
						transition: 0.5s;
						-webkit-transition: 0.5s;
						opacity: 1;
					}
				}

			}

			.hint{
				color: @dark-blue;
				font-size: 30px;
				margin-bottom: 20px;

				@media (max-width: @m){
					font-size: 18px;
				}
			}

			.hint2{
				color: red !important;
				text-decoration: none !important;
				font-size: 30px;
				margin-bottom: 40px;

				@media (max-width: @m){
					font-size: 18px;
				}

				span{
					display: inline-block;
					font-weight: 400;
					margin: 0 10px;
				}
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


