body {
  background: #151b1f;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}
.image {
  width: 482px;
  height: 263px;
  cursor: pointer;
  z-index: 99;
}
.mover {
  z-index: 99;
}
.numbers {
  color: #ffffff;
  margin: 6px auto;
}
.content {
  position: relative;
  top: 200px;
  min-width: 600px;
}
span {
  display: inline-block;
  width: 40px;
}
.form {
  margin-top: 40px;
  margin-bottom: 40px;
}
