@import "../../global/less/variables";

.content{
	position: relative;
	top: 150px;
	height: 100%;

	@media (max-width: @m){
		top: 100px;
	}

}

.ball_game{
	display: inline-block;
	position: relative;
	left: 50%;
	margin-left: -160px;

	rect{
		cursor: pointer;
	}
}
