.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  max-width: 750px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .row {
  max-width: 300px;
  margin: 0 auto;
}
.main .content .level-content .row .col {
  float: left;
  width: 33.33333%;
  padding: 0 5px;
}
.main .content .level-content .row .col .num {
  font-size: 30px;
  background: #485158;
  padding: 10px 10px;
  color: #ffffff;
}
@media (max-width: 767px) {
  .main .content .level-content .row .col .num {
    font-size: 24px;
  }
}
.main .content .level-content .row .col .symbols {
  padding: 18px 20px;
  background: #2880ae;
  height: 55px;
}
@media (max-width: 767px) {
  .main .content .level-content .row .col .symbols {
    height: 48px;
  }
}
.main .content .level-content .row .col .symbols img {
  width: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .row .col .arrow {
  font-size: 30px;
  color: #ffffff;
  padding: 10px 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 767px) {
  .main .content .level-content .row .col .arrow {
    font-size: 24px;
  }
}
.main .content .level-content .row .col .arrow:hover {
  opacity: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  color: #2880ae;
}
.main .content .level-content .image {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .main .content .level-content .image {
    width: 260px;
    margin: 0 auto;
  }
}
.main .content .level-content .form {
  margin-top: 40px;
}
.main .content .level-content .form .row {
  border-left: 1px solid #485158;
}
