@import "../../global/less/variables";

.main{
	background: @dark-red;

	.content{
		position: relative;
		max-width: 600px;
		padding: 0 20px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.hint{
				color: @f;
				font-size: 30px;
			}

			.clue{
				margin-top: 20px;
				word-wrap: break-word;
				color: @light-blue;

				span{
					color: red;
				}
			}


			.form{
				margin-top: 40px;
			}

		}
	}
}


