.main {
  background: #221e20;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}
.main .content .level-content .form {
  margin-top: 40px;
}
