.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  max-width: 450px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .box-row {
  height: 100px;
  margin-bottom: 2px;
}
@media (max-width: 767px) {
  .main .content .level-content .box-row {
    height: 70px;
  }
}
.main .content .level-content span {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #000000;
  margin: 0 1px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
@media (max-width: 767px) {
  .main .content .level-content span {
    width: 70px;
    height: 70px;
  }
}
.main .content .level-content span:hover {
  background: #485158;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .on {
  background: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .on:hover {
  background: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .hint {
  font-size: 24px;
  color: #ffffff;
  opacity: 1;
  margin-top: 60px;
}
