@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{
		position: relative;
		z-index: 2;
		top: 28%;
		max-width: 750px;
		padding: 0 20px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;
			z-index: 2;

			.hint{
				position: relative;
				z-index: 2;
				color: @f;
				font-size: 24px;
				margin-bottom: 20px;
			}

			.e{
				position: relative;
				z-index: 2;
				span{
					display: inline-block;
					margin: 0 10px;
					color: @light-blue;
					font-size: 30px;
					margin-bottom: 20px;
				}
			}

			.form{
				position: relative;
				z-index: 2;
				margin-top: 20px;
			}

		}
	}
}



.img{
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: url('../static/img.png') no-repeat center center;
	background-size: cover;
	opacity: 0.08;
}