@import "../../global/less/variables";

@blood: #b12222;
@ground: #dddddd;


body{
	width: 100%;
	height: 100vh;
	background-image: url('../static/bg.jpg');
	background-repeat: no-repeat;
	background-size: 1440px auto;
 	background-position: center bottom;
}
.main{

	.content{
		position: relative;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding: 0 0px;
		height: 100vh;

		.level-content{
			position: relative;
			height: 100vh;

			.hint{
				position: relative;
				top: 20%;
				text-align: center;
				color: @f;
				font-size: 24px;
				line-height: 30px;
				font-weight: 400;
			}

			.row{
				position: absolute;
				bottom: 0;
				width: 100%;
				min-width: 900px;
			}

			.col{
				float: left;
				position: relative;
				height: 138px;

				span{
					position: relative;
					margin: 0px 3px;
					cursor: pointer;
					top: -10px;
					height: 30px;
					padding: 2px 2px;
					display: inline-block;
				}

				.ground{
					width: 100%;
					height: 118px;
					position: absolute;
					top: 20px;
				}
			}

			.col1,.col3{
				width: 20%;
				background: @ground;
			}

			.col2{
				width: 60%;
				overflow: hidden;
				

				.character{
					top: -15px;
				}
			}

			.character{

				img{
					height: 30px;
				}
			}
			
			.form{
				margin-top: 40px;
			}

		}
	}
}

.error{
	margin-top: 40px;
	color: red;
	font-size: 14px;
	text-align: center;

	.error1{
		display: none;
	}

	.error2{
		display: none;
	}
}

.move{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 60px;

	a{

		display: inline-block;
		padding: 10px 20px;
		border: 1px solid @f;
		color: @f;
		cursor: pointer;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		cursor: pointer;

		&:hover{
			color: @grey-blue;
			background: @f;
			transition: 0.5s;
			-webkit-transition: 0.5s;
		}
	}

}

.boat-wrapper{
	position: absolute;
	z-index: 2;
	top: 25px;
	height: 40px;
	width: 100px;
	left: 110px;
	margin-left: -105px !important;
}

.boat{
	 height: 20px;
     width: 100px;
     border-radius:  0 0 80px 80px;
     -moz-border-radius: 0 0 80px 80px;
     -webkit-border-radius: 0 0 80px 80px;
     background: #ffffff;
     position: absolute;
     top: 5px;
     z-index: 2;
}

.inboat{
	position: relative;
	top: -15px;
}

.fail{
	position: fixed;
	background: rgba(0, 0, 0, 0.95);
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 5;
	opacity: 0;
	display: none;

	.text{
		position: relative;
		top: 40%;
	}

	p{
		color: @f;
		text-align: center;
		font-style: italic;
		margin-bottom: 40px;
	}

	button{
		display: inline-block;
		padding: 10px 20px;
		border: 1px solid @grey-blue;
		color: @grey-blue;
		background: transparent;
		transition: 0.5s;
		-webkit-transition: 0.5s;


		&:hover{
			color: @f;
			background: @grey-blue;
			transition: 0.5s;
			-webkit-transition: 0.5s;
		}
	}

}