@import "variables.less";

/* CSS RESET */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      box-sizing: border-box;
      }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
      display: block;
  }

  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

  input{
    -webkit-appearance: none;
    border-radius: 0px;
  }

  button{
      display: inline-block;
      line-height: 1;
      font-size: 18px;
      border: none;
      outline: none;
      margin: 0 0;
      text-decoration: none;
      letter-spacing: 1px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-align: center;
      cursor: pointer;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -webkit-appearance: none;
      border-radius: 0px;
  }

.row:before, .row:after{
    content: "";
    display: table;
    box-sizing: border-box;
}

.row:after{
    clear:both; 
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* END OF CSS RESET */

// ========================================
// Styling
// ========================================


//
// Font Styling
// ========================================
  @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);


  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center, a,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    font-family: 'Roboto', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
  }
//
// End of Font Styling
// ========================================


.main{
    position: absolute;
    width: 100%;
    height: 100%;
}

.level{
    opacity: 0;
    display: none;
    position: fixed;
    z-index: 9;
    bottom: 40px;
    left: 20px;
    color: @f;
    font-size: 40px;
}

.level-content{
  opacity: 0;
  display: none;
}

.form{
     font-size: 0;

    .row{
        display: inline-block;
        margin: 0 auto;
    }

    .answer-input{
        display: block;
        float: left;
        background: transparent;
        border: 1px solid @light-blue;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        width: 150px;
        height: 36px;
        padding: 0 10px;
        font-size: 18px;
        outline: none;
        color: @light-blue;
        -webkit-appearance: none !important;
        border-radius: 0px !important;

        &:focus{
            outline: none;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            background: @light-blue;
            color: @f;
        }
    }

    .submit{
        display: block;
        float: left;
        width: 100px;
        font-size: 18px;
        height: 38px;
        color: @light-blue;
        background: transparent;
        border: 1px solid @light-blue;
        border-left: none;
        font-weight: 300;
        outline: none;
        transition: 0.5s;
        -webkit-transition: 0.5s;

        &:hover{
          background: @light-blue;
          color: @f;
          transition: 0.5s;
          -webkit-transition: 0.5s;
        }
    }
}

.continue_wrapper{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 90px;
    bottom: -20px;
    background: transparent;
    transition: 1s;
    -webkit-transition: 1s;
    opacity: 0;

    @media (max-width: @m){
      background: rgba(0,0,0,0.95);
    }

}

.next_level{
  background: transparent;
  border: 1px solid @light-blue;
  padding: 15px 20px;
  color: @light-blue;
  border-radius: 0px;
  -webkit-appearance: none;
  position: fixed !important;
  z-index: 10;
  opacity: 1;
  bottom: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;

  @media(max-width: @m){
    width: 80%;
    left: 10%;
  }

  &:hover{
    background: @light-blue;
    border: 1px solid @light-blue;
    color: @f;
  }
}

.ticker{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  overflow: hidden;
  background: #000000;
  padding: 10px 0px;
  opacity: 0;
  transition: 1s;
  -webkit-transition: 1s;

  &:hover{
    transition: 1s;
    -webkit-transition: 1s;
    opacity: 0.5 !important;
  }
}

.ticker-content {
  width: 550%;
  padding-left: 100%;
  font-size: 18px;
  color: @f;
  text-transform: uppercase;
  text-overflow: hidden;
  white-space: nowrap;
  animation: scroll 40s linear;
  -webkit-animation: scroll 50s linear;
}

.ticker-fix{
  width: 100%;
  padding: 0 0;
  text-align: center;
  margin-left: 0;
  display: block;
  font-size: 18px;
  color: @f;
  text-transform: uppercase;
  text-overflow: hidden;
  white-space: nowrap;
}

@keyframes scroll {
  from { margin-left: 0; }
  to { margin-left: -550% ; }
}

@-webkit-keyframes scroll {
  from { margin-left: 0; }
  to { margin-left: -550% ; }
}
.header{
    position: fixed;
    width: 100%;
    height: 22px;
    background: #000000;
    z-index: 11;

    .menu{
        float: right;
        margin-right: 20px;

        p{
            display: inline-block;
            color: @f;
            margin-right: 20px;
            line-height: 22px;
            font-size: 12px;
            text-transform: uppercase;
            cursor: pointer;

            &:hover{
              color: @grey-blue;
            }
        }

        .logout{
            display: none;
        }

        .levels_icon{
            display: inline-block;
            color: @f;
            background: @f;
            height: 8px;
            width: 8px;
            cursor: pointer;

            &:hover{
              background: @grey-blue;
            }
        }
    }
}

.modal{
    position: fixed;
    display: none;
    z-index: 12;
    background: #000000;
    width: 100%;
    height: 100%;

    .modal_body{
        position: relative;
        margin: 0 auto;
        max-width: 300px;
        top: 30%;


        form{

            input{
                display: block;
                width: 100%;
                border: none;
                outline: none;
                -webkit-appearance: none;
                background: transparent;
                border-bottom: 1px solid @f;
                height: 40px;
                line-height: 40px;
                padding-left: 10px;
                font-size: 18px;
                color: @f;
                box-sizing: border-box;
                margin-bottom: 20px;
                font-weight: 100;
            }

            ::-webkit-input-placeholder {
               color: @f;
            }

            :-moz-placeholder { /* Firefox 18- */
               color: @f;  
            }

            ::-moz-placeholder {  /* Firefox 19+ */
               color: @f;  
            }

            :-ms-input-placeholder {  
               color: @f;  
            }

            a{
                display: block;
                text-decoration: none;
                border: none;
                outline: none;
                background: @grey-blue;
                color: @f;
                font-size: 18px;
                padding: 10px 20px;
                width: 100%;
                border-radius: 20px;
                text-align: center;
                cursor: pointer;
            }
        }
    }

    .close_modal{
        display: inline-block;
        position: absolute;
        z-index: 9;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        padding: 30px 30px;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIyNDdweCIgaGVpZ2h0PSIyMDBweCIgdmlld0JveD0iNzQuNSAwIDI0NyAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgNzQuNSAwIDI0NyAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBvbHlnb24gZmlsbD0iI0ZGRkZGRiIgcG9pbnRzPSIyOTkuOTk2LDYuMjMzIDI5My43NzIsMCAyMDAsOTMuNzY2IDEwNi4yMzQsMCAxMDAuMDA0LDYuMjMzIDE5My43NzEsOTkuOTk4IDEwMC4wMDQsMTkzLjc2NCANCgkJMTA2LjIzNCwyMDAgMjAwLDEwNi4yMjIgMjkzLjc3MiwyMDAgMjk5Ljk5NiwxOTMuNzY0IDIwNi4yMjksOTkuOTk4IAkiLz4NCjwvZz4NCjwvc3ZnPg0K');
        background-size: 30px auto;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
    }
}
