@import "../../global/less/variables";

body{
	background: @light;
}
.main{
	font-family: "Lucida Console", Monaco, monospace !important;

	.content{
		position: relative;		
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;
			padding: 20px 20px;

			.clue{
				color: red;
				font-size: 24px;
			}

			.hint{
				font-size: 24px;
				color: @light-blue;
				margin-bottom: 20px;
			}

			form{
				margin-top: 40px;
			}

		}
	}

}


