@import "../../global/less/variables";

.main{
	background: @dark-red;

	.content{
		position: relative;
		top: 28%;
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			@media(max-width: @m){
				padding: 20px 0px;
			}

			.hint{
				color: @f;
				font-size: 24px;
				margin-bottom: 20px;
				text-decoration: line-through;
			}

			.col{
				float: left;
				width: 33.3333%;

				img{
					display: block;
					width: 100px;
					margin: 10px auto;
					border: 2px solid transparent;
					cursor: pointer;
					opacity: 0.5;
					transition: 0.5s;
					-webkit-transition: 0.5s;

					@media (max-width: @m){
						width: 80px;
					}

					&:hover{
						opacity: 1;
						transition: 0.5s;
						-webkit-transition: 0.5s;
					}
				}

				.select{
					border: 2px solid @f;
				}
			}

			.btn{
				display: inline-block;
				color: @light-blue;
				border: 1px solid @light-blue;
				background: transparent;
				padding: 10px 20px;
				transition: 0.5s;
				-webkit-transition: 0.5s;
				margin-top: 40px;
				cursor: pointer;

				&:hover{
					color: @f;
					background: @light-blue;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}
			}

			.form{
				margin-top: 40px;
			}

		}
	}

	.num{
		position: fixed;
		right: 30px;
		top: 30px;
		font-size: 30px;
		color: red;
	}
}


