body {
  background: #221e20;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.period {
  width: 2px;
  height: 2px;
}
.content {
  padding-top: 20%;
}
.super_small {
  transform: scale(0.1, 0.1);
  -webkit-transform: scale(0.1, 0.1);
  -moz-transform: scale(0.1, 0.1);
  -o-transform: scale(0.1, 0.1);
  -ms-transform: scale(0.1, 0.1);
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}
.numbers {
  color: #171b1d;
  opacity: 0.8;
}
.red {
  color: red;
  opacity: 0.8;
  font-weight: bolder;
  font-size: 20px;
}
.puzzle-holder {
  background-color: black;
}
span {
  display: inline-block;
  width: auto;
  color: #585858;
}
button {
  border: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  opacity: 0.8;
  background: transparent;
}
.reset {
  padding: 10px 20px;
  border-radius: 0px;
  margin-top: 20px;
  -webkit-appearance: none;
  border: 1px solid #171b1d !important;
  color: #171b1d;
}
.reset:hover {
  background: #6f7f8b;
  border: 1px solid #6f7f8b;
  color: #ffffff;
}
.fa {
  cursor: pointer;
}
.form {
  margin-top: 40px;
}
