@import "../../global/less/variables";

.main{
	background: @f6;

	.content{
		position: relative;
		top: 28%;
		max-width: 750px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.hint{
				color: @grey-blue;
				text-align: center;
				margin-bottom: 20px;
			}

			.imagerow{
				line-height: 0;
				width: 372px;
				margin: 0 auto;
				
				img{
					display: inline-block;
					width: 120px;
					margin: 2px 2px;
					cursor: pointer;
				}

			}

			.r0{
			    -ms-transform: rotate(0deg); /* IE 9 */
			    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
			    transform: rotate(0deg);
			}

			.r90{
			    -ms-transform: rotate(90deg); /* IE 9 */
			    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
			    transform: rotate(90deg);
			}

			.r180{
			    -ms-transform: rotate(180deg); /* IE 9 */
			    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
			    transform: rotate(180deg);
			}

			.r270{
			    -ms-transform: rotate(270deg); /* IE 9 */
			    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
			    transform: rotate(270deg);
			}


			.form{
				margin-top: 40px;
			}

		}
	}
}


