body {
  background: #221e20;
  overflow: hidden;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
  z-index: 2;
  position: relative;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
  z-index: 2;
  position: relative;
}
.square {
  margin: 0px;
  margin-left: -1px;
  display: inline-block;
  border: 1px solid #777777;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.rows {
  margin-bottom: -1px;
  display: block;
  height: 40px;
  position: relative;
  z-index: 2;
}
.queen {
  margin-left: 0.4px;
  margin-top: 1px;
  width: 38px;
  height: 38px;
  position: relative;
  z-index: 2;
}
.hint {
  margin-bottom: 40px;
  color: #ffffff;
  font-size: 24px;
  position: relative;
  z-index: 2;
}
.content {
  position: relative;
  z-index: 2;
}
.level {
  position: fixed;
  z-index: 2;
}
.bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../static/grid.png');
  background-size: 50px 50px;
  opacity: 0.01;
  overflow: hidden;
}
