@import "../../global/less/variables";

body {
  background: @dark-blue;
}

.content{
  position: absolute;
  top: 30%;
  width: 100%;
  min-width: 600px;
}

.cipher{
  z-index: 999;
}

.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}

.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}

.numbers {
  color: @f;
  opacity: 0.8;
}

span {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.image {
  display: block;
}

.form{
  margin-bottom: 40px;
}