// ========================================
// Variables
// ========================================


// Colors
// ========================================
// Standard Colors
@f:										#ffffff;
@d:										#dddddd;
@ea:									#eaeaea;
@f6:									#f6f6f6;
@fa:									#fafafa;
@c7:									#777777;
@c9:									#999999;
@c1:									#111111;
@c2:									#222222;
@c3:									#333333;
@c4:									#444444;
@c4:									#333333;
@dark-blue:								#151b1f;
@light-blue:							#485158;
@blue:									#2880ae;
@grey-blue:								#7599ac;


@m:										767px;