@import "../../global/less/variables";

.main{
	background: @light;

	.float{
		color: red;
		position: fixed;
		right: 20px;
		top: 20px;
		font-size: 30px;
	}

	.content{
		position: relative;
		top: 28%;
		max-width: 700px;
		margin: 0 auto;
		padding: 0 20px;

		.level-content{
			position: relative;

			.firstrow{
				margin-bottom: 20px;
			}

			.clue{
				display: inline-block;

				span{
					color: red;
					display: inline-block;
					width: 60px;
					font-size: 24px;
					text-align: center;

					@media (max-width: @m){
						width: 35px;
						font-size: 14px;
					}
				}
				
			}

			.question{
				display: inline-block;

				span{
					color: @light-blue;
					display: inline-block;
					width: 60px;
					font-size: 24px;
					text-align: center;

					@media (max-width: @m){
						width: 35px;
						font-size: 14px;
					}
				}
			}

			.question-answer{
				display: inline-block;
				font-size: 40px;
				padding: 5px 20px;
				color: @f;
				background: @light-blue;

				@media (max-width: @m){
					font-size: 20px;
					display: block;
					text-align: center;
					margin-top: 5px;
				}
			}
			.clue-answer{
				display: inline-block;
				font-size: 40px;
				padding: 5px 20px;
				color: @f;
				background: red;

				@media (max-width: @m){
					font-size: 20px;
					display: block;
					text-align: center;
					margin-top: 5px;
				}
			}

			.next{
				padding: 10px 20px;
				color: red;
				border: 1px solid red;
				font-size: 18px;
				cursor: pointer;
				display: block;
				width: 100px;
				text-align: center;
				margin: 0 auto;
				margin-bottom: 40px;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				&:hover{
					color: @f;
					background: red;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}
			}

			.hint{
				color: @dark-blue;
				font-size: 24px;
				margin-bottom: 20px;
				text-align: center;
			}


			.pseudo-form{
			     font-size: 0;
			     margin-top: 40px;
			     text-align: center;

			    .row{
			        display: inline-block;
			        margin: 0 auto;
			    }

			    .input{
			        display: block;
			        float: left;
			        background: transparent;
			        border: 1px solid @light-blue;
			        transition: 0.5s;
			        -webkit-transition: 0.5s;
			        width: 150px;
			        height: 36px;
			        padding: 0 10px;
			        font-size: 18px;
			        outline: none;
			        color: @light-blue;
			        -webkit-appearance: none !important;
			        border-radius: 0px !important;

			        &:focus{
			            outline: none;
			            transition: 0.5s;
			            -webkit-transition: 0.5s;
			            background: @light-blue;
			            color: @f;
			        }
			    }

			    .enter{
			        display: block;
			        float: left;
			        width: 100px;
			        font-size: 18px;
			        height: 38px;
			        color: @light-blue;
			        background: transparent;
			        border: 1px solid @light-blue;
			        border-left: none;
			        font-weight: 300;
			        outline: none;
			        transition: 0.5s;
			        -webkit-transition: 0.5s;

			        &:hover{
			          background: @light-blue;
			          color: @f;
			          transition: 0.5s;
			          -webkit-transition: 0.5s;
			        }
			    }
			}

		}
	}

	.num{
		position: fixed;
		right: 30px;
		top: 30px;
		font-size: 30px;
		color: red;
	}
}


.form{
	text-align: center;
	margin: 0 auto;
	margin-top: 40px;

}

