@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{
		position: relative;
		max-width: 450px;
		padding: 0 20px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.col{
				position: relative;
				float: left;
				width: 33.3333333%;
				margin-bottom: 140px;

				@media (max-width: @m){
					margin-bottom: 80px;
				}
			}

			.circle{
			    position: absolute;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    width: 50px;
			    height: 50px;
			    margin: auto;
			    background-color: @light-blue;
			    border-radius: 50%;
			    box-shadow: 0 0 5px white;		
			    cursor: pointer;
			    transition: 0.5s;
			    -webkit-transition: 0.5s;

			    &:hover{
			    	background: @f;
			    	transition: 0.5s;
			    	-webkit-transition: 0.5s;
			    }
			}

			.glow {
			    position: absolute;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    width: 50px;
			    height: 50px;
			    margin: auto;
			    background-color: orange;
			    border-radius: 50%;
			    box-shadow: 0 0 5px white;
			    animation: box 3s infinite ease-in-out;
			    -webkit-animation: box 3s infinite ease-in-out;
			}

			@keyframes box {
			    0%, 100% {
			    	-webkit-transform: scale(1);
			        transform: scale(1);
			        color: white;
			        background-color: orange;
			    }

			    50% {
			    	-webkit-transform: scale(1.1);
			        transform: scale(1.1);
			        background-color: orange;
			        box-shadow: 0 0 60px @blue;
			        color: black;
			    }
			}

			@-webkit-keyframes box{
			    0%, 100% {
			    	-webkit-transform: scale(1);
			        transform: scale(1);
			        color: white;
			        background-color: orange;
			    }

			    50% {
			    	-webkit-transform: scale(1.1);
			        transform: scale(1.1);
			        background-color: orange;
			        box-shadow: 0 0 60px @blue;
			        color: black;
			    }
			}

			.hint{
				font-size: 24px;
				color: @f;
				opacity: 1;	
			}
		}
	}
}


