.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  text-align: center;
}
.main .content .level-content .hint span {
  display: inline-block;
  position: relative;
  font-size: 18px;
  text-align: center;
  width: 26px;
  margin: 10px 3px;
}
.main .content .level-content .hint .fa {
  color: red;
  position: absolute;
  left: 0;
  font-size: 33px;
  top: -5px;
  opacity: 0.5;
}
.main .content .level-content .form {
  margin-top: 40px;
}
