@import "../../global/less/variables";

#home{
	background: @dark-blue;

	.content{
		position: relative;
		top: 45% !important;
		max-width: 750px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;


		.opening{
			.logo{

				img{
					position: relative;
					display: block;
					height: 25px;
					margin: 0 auto;
				}

				#logo2{
					position: relative;
					opacity: 0;
					top: 20px;

					@media (max-width: @m){
						height: 22px;
					}
				}
			}

			.circle{
				position: absolute;
				display: inline-block;
				top: 50px;

				.pulse {
					width: 10px;
					height: 10px;
					border: 5px solid @light-blue;
					-webkit-border-radius: 30px;
					-moz-border-radius: 30px;
					border-radius: 30px;
					background-color: @light-blue;
					z-index: 10;
					position: absolute;
					margin-left: -5px;
					cursor: pointer;
					transition: 1s;
					-webkit-transition: 1s;

					&:hover{
						color: @f;
						border-color: @f;
						transition: 1s;
						-webkit-transition: 1s;
					}

				}

				.dot {
					border: 10px solid @light-blue;
					background: transparent;
					-webkit-border-radius: 60px;
					-moz-border-radius: 60px;
					border-radius: 60px;
					height: 50px;
					width: 50px;
					-webkit-animation: pulse 2s ease-out;
					-moz-animation: pulse 2s ease-out;
					animation: pulse 2s ease-out;
					-webkit-animation-iteration-count: infinite;
					-moz-animation-iteration-count: infinite;
					animation-iteration-count: infinite;
					position: absolute;
					top: -25px;
					left: -25px;
					z-index: 1;
					opacity: 0;
					margin-top: 5px;
				}

				@-moz-keyframes pulse {
					0% {
						-moz-transform: scale(0);
						opacity: 0.0;
					}
					25% {
						-moz-transform: scale(0);
						opacity: 0.1;
					}
					50% {
						-moz-transform: scale(0.1);
						opacity: 0.3;
					}
					75% {
						-moz-transform: scale(0.5);
						opacity: 0.5;
					}
					100% {
						-moz-transform: scale(1);
						opacity: 0.0;
					}
				}

				@-webkit-keyframes pulse {
					0% {
						-webkit-transform: scale(0);
						opacity: 0.0;
					}
					25% {
						-webkit-transform: scale(0);
						opacity: 0.1;
					}
					50% {
						-webkit-transform: scale(0.1);
						opacity: 0.3;
					}
					75% {
						-webkit-transform: scale(0.5);
						opacity: 0.5;
					}
					100% {
						-webkit-transform: scale(1);
						opacity: 0.0;
					}
				}
			}
		}

		.keyhole{
			position: relative;
			opacity: 0.4;
			transition: 0.5s;
			-webkit-transition: 0.5s;
			cursor: pointer;

			&:hover{
				opacity: 0.7;
				transition: 0.5s;
				-webkit-transition: 0.5s;
			}

			#myobj{
				margin: 0 auto;

				svg{
					width: 100px;
					height: 100px;
				}
			}	
		}

		.level-content{
			display: none;
			opacity: 0;
			position: relative;
			top: 20px;

			p{
				color: @f;
				font-size: 24px;
				opacity: 0.8;

				.hint{
					font-weight: 700;
				}

				.dark{
					color: @dark-blue;
				}
			}

			form{
				position: relative;
				margin-top: 40px;
			}
		}
	}
}


