@import "../../global/less/variables";

.main{
	background: @f6;

	.content{
		position: relative;
		margin: 0 auto;
		text-align: center;
		padding: 0 0px;
		width: 100%;

		.level-content{
			position: relative;

			.col{
				float: left;
				width: 33.333333%;
				transition: 1s;
				-webkit-transition: 1s;
				padding-bottom: 80px;
			}

			.on{
				background: #e4cdaa;
				transition: 1s;
				-webkit-transition: 1s;
			}


			.line{
				width: 4px;
				height: 150px;
				background: @light-blue;
				margin: 0 auto;
			}

			.fa-sun-o{
				font-size: 100px;
				color: @light-blue;
				position: relative;
				top: -5px;
				cursor: pointer;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				@media (max-width: @m){
					font-size: 40px;
				}
			}

			.sunColor{
				color: #eca22c;
				transition: 0.5s;
				-webkit-transition: 0.5s;
			}
			
			.hint{
				color: @f6;
				font-size: 60px;
				margin-top: 80px;

				@media (max-width: @m){
					font-size: 30px;
				}

				span{
					display: inline-block;
					margin: 0px 20px;

					@media (max-width: @m){
						margin: 0 5px;
					}
				}
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


