body {
  background: #151b1f;
}
.numbers {
  color: white;
  opacity: 0.8;
}
.row {
  width: 450px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .row {
    width: 100%;
  }
}
.col {
  float: left;
  width: 150px;
  position: relative;
}
@media (max-width: 767px) {
  .col {
    float: none;
    margin: 0 auto;
  }
}
.col:hover .line {
  background: #657e92;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.col:hover .base {
  background: #657e92;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.col .line {
  height: 150px;
  width: 4px;
  position: absolute;
  background: #485158;
  left: 73px;
  bottom: 0;
  border-radius: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
@media (max-width: 767px) {
  .col .line {
    height: 120px;
  }
}
.col .base {
  position: absolute;
  bottom: 0;
  width: 130px;
  left: 10px;
  height: 10px;
  background: #485158;
  border-radius: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.col .special {
  background: #926566;
}
span {
  display: inline-block;
  width: 150px;
}
button {
  border: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  opacity: 0.8;
  background: transparent;
  border-radius: 10%;
}
.fa {
  cursor: pointer;
}
.plate {
  border-radius: 20px;
  border: solid;
  border-color: #ffffff;
  margin: auto;
  height: 20px;
  cursor: pointer;
  opacity: 1;
}
.pegs {
  position: relative;
  top: -6px;
  z-index: 2;
  transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  cursor: pointer;
}
.highlightPeg {
  background: red;
  border-color: red;
}
