@import "../../global/less/variables";

.main{
	background: @light;

	.content{
		position: relative;
		max-width: 600px;
		padding: 0 20px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.hint{
				color: @dark-blue;
				font-size: 30px;
			}

			.clue{
				margin-top: 20px;
				color: @light-blue;
				font-size: 18px;
			}


			.form{
				margin-top: 40px;
			}

		}
	}
}


