body {
  background: #f6f6f6;
  overflow: hidden;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
  border-radius: 0px;
}
.hint {
  color: #7599ac;
  line-height: 24px;
  margin: 20px 0px;
}
.red {
  color: red;
  opacity: 0.8;
  font-weight: bolder;
  font-size: 20px;
}
span {
  display: inline-block;
  width: 30px;
}
button {
  border: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  opacity: 0.8;
  background: transparent;
  border-radius: 10%;
}
.reset {
  padding: 10px 20px;
  border-radius: 0px;
  margin-top: 20px;
  -webkit-appearance: none;
  border: 1px solid #171b1d !important;
  color: #171b1d;
}
.reset:hover {
  background: #6f7f8b;
  border: 1px solid #6f7f8b;
  color: #ffffff;
}
form {
  margin-top: 40px;
}
.fa {
  cursor: pointer;
}
.rain {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.drop {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5ca2b1), to(rgba(255, 255, 255, 0.6)));
  background: -moz-linear-gradient(top, #5ca2b1 0%, rgba(255, 255, 255, 0.6) 100%);
  width: 1px;
  height: 50px;
  position: absolute;
  bottom: 200px;
  -webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;
}
/* animate the drops*/
@-webkit-keyframes fall {
  to {
    margin-top: 900px;
  }
}
@-moz-keyframes fall {
  to {
    margin-top: 900px;
  }
}
