// ========================================
// Variables
// ========================================


// Colors
// ========================================
// Standard Colors
@f:										#ffffff;
@d:										#dddddd;
@ea:									#eaeaea;
@f6:									#f6f6f6;
@fa:									#fafafa;
@c7:									#777777;
@c9:									#999999;
@c1:									#111111;
@c2:									#222222;
@c3:									#333333;
@c4:									#444444;
@c4:									#333333;
@dark-blue:								#171b1d;
@light-blue:							#6f7f8b;
@blue:									#2880ae;
@grey-blue:								#7599ac;
@dark-red:								#221e20;
@light:									#eaf0f8;

@m:										767px;