@import "../../global/less/variables";

body{
		background: @dark-blue;
}

.main{
	background: @dark-blue;

	.content{
		position: relative;
		padding: 20px 20px;
		max-width: 750px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.clue{
				float: left;
				width: 30%;
				font-size: 0;

				@media (max-width: 565px){
					width: 100%;
					float: none;
					margin-bottom: 20px;
				}
				img{
					width: 50px;
					display: inline-block;
					margin: 0 auto;
					background-color: @light-blue;
					border: 1px solid @f;
					padding: 5px 5px;
				}

				span{
					width: 50px;
					display: inline-block;
					color: @f;
					font-size: 30px;
					border: 1px solid @f;
					padding: 5px 5px;
				}

				.given{
					margin-top: 120px;
					margin-bottom: 20px;

					@media (max-width: 565px){
						margin-top: 40px;
					}
				}

				.solve{

					img{
						background-color: red;
					}

					span{
						color: red;
					}

				}
			}
			
			.image{
				float: left;
				width: 70%;
				padding: 20px 20px;

				@media (max-width: 565px){
					width: 100%;
					float: none;
				}

				img{
					width: 100%;
					margin: 0 auto;
					max-width: 380px;

					@media (max-width: 565px){
						width: 280px;
						float: none;			
					}
				}
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}

