.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
  margin-top: -200px !important;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    font-size: 18px;
  }
}
.main .content .level-content .image {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border: 2px solid #485158;
}
.main .content .level-content .image .painting {
  display: block;
  width: 100%;
}
.main .content .level-content .image .b {
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0.25;
  color: #ffffff !important;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: default;
}
@media (max-width: 767px) {
  .main .content .level-content .image .b {
    opacity: 0.3;
  }
}
.main .content .level-content .image .b:hover {
  opacity: 0.5;
}
.main .content .level-content .image .b p {
  font-size: 10px;
}
.main .content .level-content .form {
  margin-top: 40px;
}
