.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .col {
  float: left;
  width: 33.33333%;
}
@media (max-width: 767px) {
  .main .content .level-content .col {
    float: none;
    width: 100%;
  }
}
.main .content .level-content .col .text {
  color: #485158;
  display: inline-block;
  padding: 5px 5px;
}
.main .content .level-content .col .text span {
  display: inline-block;
  width: 20px;
  margin: 0 5px;
  line-height: 26px;
  font-size: 24px;
  padding-bottom: 3px;
  border-bottom: 1px solid #485158;
}
.main .content .level-content .col .text .special {
  color: #ffffff;
}
.main .content .level-content .hint {
  font-size: 24px;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
.main .content .level-content form {
  position: relative;
  margin-top: 40px;
}
