.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .col {
  float: left;
  width: 25%;
  padding: 0px 10px;
  max-height: 174px;
  overflow: hidden;
  cursor: pointer;
}
@media (max-width: 767px) {
  .main .content .level-content .col {
    width: 50%;
  }
}
.main .content .level-content .hint {
  color: #7599ac;
  margin-bottom: 20px;
}
.main .content .level-content .hint span {
  font-weight: 700;
}
.main .content .level-content .images {
  width: 100%;
  max-width: 285px;
  max-height: 164px;
  border: 4px solid transparent;
  cursor: pointer;
}
.main .content .level-content .images:hover {
  border: 4px solid red;
  cursor: pointer;
}
.main .content .level-content .error {
  color: red;
  margin-top: 10px;
}
.main .content .level-content .boxes {
  text-align: center;
  margin-top: 20px;
}
.main .content .level-content .boxes span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid red;
}
.main .content .level-content .selected {
  border: 4px solid red;
}
.main .content .level-content .form {
  margin-top: 40px;
}
