@import "variables.less";

/* CSS RESET */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      box-sizing: border-box;
      }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
      display: block;
  }

  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

  input{
    -webkit-appearance: none;
    border-radius: 0px;
  }

  button{
      display: inline-block;
      line-height: 1;
      font-size: 18px;
      border: none;
      outline: none;
      margin: 0 0;
      text-decoration: none;
      letter-spacing: 1px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-align: center;
      cursor: pointer;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -webkit-appearance: none;
      border-radius: 0px;
  }

.row:before, .row:after{
    content: "";
    display: table;
    box-sizing: border-box;
}

.row:after{
    clear:both; 
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* END OF CSS RESET */

// ========================================
// Styling
// ========================================


//
// Font Styling
// ========================================
  @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);


  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center, a,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    font-family: 'Roboto', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
  }
//
// End of Font Styling
// ========================================
body{
  background: @f6;
}

.main{
    position: absolute;
    width: 100%;
    height: 100%;
}

.level{
    opacity: 0;
    display: none;
    position: fixed;
    z-index: 9;
    bottom: 40px;
    left: 20px;
    color: @light-blue;
    font-size: 40px;
}

.level-content{
  opacity: 0;
  display: none;
}

.form{
     font-size: 0;

    .row{
        display: inline-block;
        margin: 0 auto;
    }

    .answer-input{
        display: block;
        float: left;
        background: transparent;
        border: 1px solid @light-blue;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        width: 150px;
        height: 36px;
        padding: 0 10px;
        font-size: 18px;
        outline: none;
        color: @light-blue;
        -webkit-appearance: none !important;
        border-radius: 0px !important;

        &:focus{
            outline: none;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            background: @light-blue;
            color: @f;
        }
    }

    .submit{
        display: block;
        float: left;
        width: 100px;
        font-size: 18px;
        height: 38px;
        color: @light-blue;
        background: transparent;
        border: 1px solid @light-blue;
        border-left: none;
        font-weight: 300;
        outline: none;
        transition: 0.5s;
        -webkit-transition: 0.5s;

        &:hover{
          background: @light-blue;
          color: @f;
          transition: 0.5s;
          -webkit-transition: 0.5s;
        }
    }
}

.continue_wrapper{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 90px;
    bottom: -20px;
    background: transparent;
    transition: 1s;
    -webkit-transition: 1s;
    opacity: 0;

    @media (max-width: @m){
      background: rgba(0,0,0,0.95);
    }

}

.next_level{
  background: transparent;
  border: 1px solid @light-blue;
  padding: 15px 20px;
  color: @light-blue;
  border-radius: 0px;
  -webkit-appearance: none;
  position: fixed !important;
  z-index: 10;
  opacity: 1;
  bottom: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;

  @media(max-width: @m){
    width: 80%;
    left: 10%;
  }

  &:hover{
    background: @light-blue;
    border: 1px solid @light-blue;
    color: @f;
  }
}

// .header{
//   position: fixed;
//   width: 100%;

//   .main-header{
//     position: relative;
//     height: 22px;
//     background-color: @c1;

//     .profile{
//       position: absolute;
//       z-index: 9;
//       right: 20px;
//       top: 4px;
//       width: 14px;
//       opacity: 0.8;
//       transition: 0.5s;
//       -webkit-transition: 0.5s;

//       &:hover{
//         opacity: 1;
//         transition: 0.5s;
//         -webkit-transition: 0.5s;
//       }
//     }

//     .right-text{
//       position: absolute;
//       z-index: 9;
//       right: 0px;
//       line-height: 22px;
//       font-size: 12px;
//       padding: 0 20px;
//       color: @f;
//       cursor: pointer;
//       opacity: 0.8;
//       transition: 0.5s;
//       -webkit-transition: 0.5s;

//       &:hover{
//         opacity: 1;
//         transition: 0.5s;
//         -webkit-transition: 0.5s;
//       }
//     }

//     .left-text{
//       position: absolute;
//       z-index: 9;
//       display: inline-block;
//       color: @f;
//       line-height: 22px;
//       top: 0px;
//       left: 20px;
//       font-size: 12px;
//     }

//     .last-level{
//       text-decoration: none;
//       transition: 0.5s;
//       -webkit-transition: 0.5s;

//       &:hover{
//         color: @light-blue;
//         transition: 0.5s;
//         -webkit-transition: 0.5s;
//       }
//     }

//     .profile-icon{
//       position: relative;
//       display: inline-block;
//       width: 10px;
//       height: 10px;
//       background-color: @f;
//     }
//   }
// }

// .profile{
//   background-color: #161616;
//   position: fixed;
//   width: 100%;
//   height: 100%;

//   .levels-container{
//     max-width: 1100px;
//     margin: 0 auto;
//     margin-top: 100px;

//     .col{
//       width: 25%;
//       float: left;
//       padding: 0 20px;

//       @media (max-width: 960px){
//         width: 50%;
//         margin-bottom: 100px;
//       }

//       @media (max-width: 500px){
//         width: 100%;
//         float: none;
//         margin-bottom: 100px;
//       }
//     }

//     .act-number{
//       text-align: center;

//       .number{
//         display: inline-block;
//         width: 40px;
//         height: 40px;
//         border-radius: 50%;
//         border: 1px solid @light-blue;
//         line-height: 40px;
//         font-size: 18px;
//         color: @light-blue;
//       }
//     }

//     .all-act-levels{
//       margin-top: 40px;

//       .levels-list{
//         max-width: 230px;
//         margin: 0 auto;
//         text-align: center;

//         a{
//           display: inline-block;
//           width: 20px;
//           height: 20px;
//           border-radius: 50%;
//           border: 1px solid @light-blue;
//           margin: 5px 10px;
//           transition: 0.5s;
//           -webkit-transition: 0.5s;
//           cursor: default;

//           &:hover{
//             border: 1px solid @f;
//             transition: 0.5s;
//             -webkit-transition: 0.5s;
//           }
//         }

//         .level-complete{
//           background-color: @light-blue;
//           cursor: pointer;

//           &:hover{
//             background-color: @f;
//           }
//         }
//       }

//       .specials-list{
//         text-align: center;

//         .triangle{
//           display: inline-block;
//           margin: 10px;
//           width: 0;
//           height: 0;
//           border-style: solid;
//           border-width: 0 10px 10px 10px;
//           border-color: transparent transparent @f transparent;
//           opacity: 0.1;
//         }

//         .special-complete{
//           border-color: transparent transparent red transparent;
//           opacity: 1;
//         }

//       }
//     }
//   }
// }

// .modal{

//   .close-modal{
//     opacity: 0.3;
//     color: @c2;
//     position: absolute;
//     right: 20px;
//     top: 20px;
//     z-index: 2;
//     cursor: pointer;
//     background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIzNTdweCIgaGVpZ2h0PSIzNTdweCIgdmlld0JveD0iMCAwIDM1NyAzNTciIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM1NyAzNTciIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPGcgaWQ9ImNsb3NlIj4NCgkJPHBvbHlnb24gZmlsbD0iIzZGN0Y4QiIgcG9pbnRzPSIzNTcsMzUuNyAzMjEuMywwIDE3OC41LDE0Mi44IDM1LjcsMCAwLDM1LjcgMTQyLjgsMTc4LjUgMCwzMjEuMyAzNS43LDM1NyAxNzguNSwyMTQuMiAzMjEuMywzNTcgDQoJCQkzNTcsMzIxLjMgMjE0LjIsMTc4LjUgCQkiLz4NCgk8L2c+DQo8L2c+DQo8L3N2Zz4NCg==');
//     background-size: 20px auto;
//     background-position: center;
//     background-repeat: no-repeat;
//     width: 20px;
//     height: 20px;
//     transition: 0.5s;
//     -webkit-transition: 0.5s;

//     &:hover{
//       opacity: 0.6;
//       transition: 0.5s;
//       -webkit-transition: 0.5s;
//     }

//   }

// }


// .login{
//   background: rgba(255, 255, 255, 0.9);
//   display: none;
//   position: fixed;
//   width: 100%;
//   height: 100%;

//   .modal-content{
//     position: relative;
//     top: 20%;
//     max-width: 480px;
//     margin: 0 auto;
//     border: 1px solid @d;
//     padding: 20px 40px;
//     background-color: @f;

//     p{
//       text-transform: uppercase;
//       color: @light-blue;
//       font-size: 30px;
//       text-align: center;
//       margin-bottom: 20px;

//     }

//     input{
//       box-sizing: border-box;
//       display: block;
//       width: 100%;
      
//       border: 1px solid @light-blue;
//       height: 40px;
//       padding: 5px 15px;
//       margin-bottom: 20px;
//       background-color: transparent;
//       font-size: 14px;
//       color: @light-blue;
//       box-shadow: none;
//       outline: none;

//       &:focus{
//         border: 1px solid red;
//       }
//     }

//     .button{
//       display: block;
//       width: 100%;
//       box-sizing: border-box;
//       height: 40px;
//       border: 1px solid @light-blue;
//       background-color: transparent;
//       color: @light-blue;
//       font-size: 14px;
//       transition: 0.5s;
//       -webkit-transition: 0.5s;

//       &:hover{
//         background-color: @light-blue;
//         color: @f;
//         transition: 0.5s;
//         -webkit-transition: 0.5s;
//       }

//     }

//     .link{
//       text-align: center;
//       margin-top: 40px;

//       .modal-link{
//         display: inline-block;
//         text-align: center;
//         color: @light-blue;
//         cursor: pointer;
//         transition: 0.5s;
//         -webkit-transition: 0.5s;

//         &:hover{
//           color: red;
//           transition: 0.5s;
//           -webkit-transition: 0.5s;
//         }
//       }
//     }
//   }
// }

.header{
    position: fixed;
    width: 100%;
    height: 22px;
    background: #000000;

    .menu{
        float: right;
        margin-right: 20px;

        p{
            display: inline-block;
            color: @f;
            margin-right: 20px;
            line-height: 22px;
            font-size: 12px;
            text-transform: uppercase;
            cursor: pointer;

            &:hover{
              color: @grey-blue;
            }
        }

        .logout{
            display: none;
        }

        .levels_icon{
            display: inline-block;
            color: @f;
            background: @f;
            height: 8px;
            width: 8px;
            cursor: pointer;

            &:hover{
              background: @grey-blue;
            }
        }
    }
}

.modal{
    position: fixed;
    display: none;
    z-index: 12;
    background: #000000;
    width: 100%;
    height: 100%;

    .modal_body{
        position: relative;
        margin: 0 auto;
        max-width: 300px;
        top: 30%;


        form{

            input{
                display: block;
                width: 100%;
                border: none;
                outline: none;
                -webkit-appearance: none;
                background: transparent;
                border-bottom: 1px solid @f;
                height: 40px;
                line-height: 40px;
                padding-left: 10px;
                font-size: 18px;
                color: @f;
                box-sizing: border-box;
                margin-bottom: 20px;
                font-weight: 100;
            }

            ::-webkit-input-placeholder {
               color: @f;
            }

            :-moz-placeholder { /* Firefox 18- */
               color: @f;  
            }

            ::-moz-placeholder {  /* Firefox 19+ */
               color: @f;  
            }

            :-ms-input-placeholder {  
               color: @f;  
            }

            a{
                display: block;
                text-decoration: none;
                border: none;
                outline: none;
                background: @grey-blue;
                color: @f;
                font-size: 18px;
                padding: 10px 20px;
                width: 100%;
                border-radius: 20px;
                text-align: center;
                cursor: pointer;
            }
        }
    }

    .close_modal{
        display: inline-block;
        position: absolute;
        z-index: 9;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        padding: 30px 30px;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIyNDdweCIgaGVpZ2h0PSIyMDBweCIgdmlld0JveD0iNzQuNSAwIDI0NyAyMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgNzQuNSAwIDI0NyAyMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBvbHlnb24gZmlsbD0iI0ZGRkZGRiIgcG9pbnRzPSIyOTkuOTk2LDYuMjMzIDI5My43NzIsMCAyMDAsOTMuNzY2IDEwNi4yMzQsMCAxMDAuMDA0LDYuMjMzIDE5My43NzEsOTkuOTk4IDEwMC4wMDQsMTkzLjc2NCANCgkJMTA2LjIzNCwyMDAgMjAwLDEwNi4yMjIgMjkzLjc3MiwyMDAgMjk5Ljk5NiwxOTMuNzY0IDIwNi4yMjksOTkuOTk4IAkiLz4NCjwvZz4NCjwvc3ZnPg0K');
        background-size: 30px auto;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
    }


}

.malum_levels{
  background: #000000;
  padding: 100px 20px;
  

  .container{
    max-width: 600px;
    margin: 0 auto;
  }

  .tutorial_levels{
    text-align: center;
    font-size: 0;
    margin-bottom: 50px;


    a{
      display: inline-block;
      width: 80px;
      padding: 10px 0px;
      border: 1px solid @c4;
      color: @f;
      text-decoration: none;
      margin: 0 20px;
      font-size: 30px;
      text-align: center;
      transition: 0.5s;
      -webkit-transition: 0.5s;

      &:hover{
        background: @c4;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        color: @light-blue;
      }

      &.complete{
        background: #97D46E;
        color: @f;
      }
    }
  }

  .all_levels{
 
    a{
      position: relative;
      line-height: 60px;
      display: block;
      border-bottom: 1px solid @c4;
      color: @f;
      text-decoration: none;
      font-size: 24px;

      &:hover{
        color: @blue;
      }

      .num{
        opacity: 0.75;
      }

      .box{
        display: inline-block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0px;
        top: 15px;
        border: 1px solid @c4;
      }

      &.complete{

        .box{
          background: #97D46E;
        }
      }
    }
  }

  h1{
    font-size: 30px;
    color: @f;
    margin-bottom: 40px;
  }





}