@import "../../global/less/variables";

.main{
	background: @f6;

	.content{
		position: relative;
		max-width: 750px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.hint{
				color: @light-blue;
				margin-bottom: 20px;
				font-size: 18px;

				span{
					color: red;
				}

				.fa{
					margin: 0 5px;
				}
			}

			.letters{
				text-transform: uppercase;
				position: relative;

				span{
					display: inline-block;
					margin: 0 15px;
					color: @grey-blue;
					position: relative;
					top: 0;
				}
			}

			.spacer{
				height: 150px;
			}

			.arrow{
				text-align: center;

				.fa{
					font-size: 30px;
					color: @c9;
					padding: 5px 5px;
					cursor: pointer;
					transition: 0.5s;
					-webkit-transition: 0.5s;

					&:hover{
						color: @c2;
						transition: 0.5s;
						-webkit-transition: 0.5s;
					}
				}
			}

			hr{
				border: none;
				border-top: 1px solid @grey-blue;
				margin: 20px 0px;
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


