@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{
		position: relative;
		max-width: 750px;
		padding: 0 20px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.row{
				max-width: 300px;
				margin: 0 auto;

				.col{
					float: left;
					width: 33.33333%;
					padding: 0 5px;

					.num{
						font-size: 30px;
						background: @light-blue;
						padding: 10px 10px;
						color: @f;

						@media (max-width: @m){
							font-size: 24px;
						}
					}

					.symbols{
						padding: 18px 20px;
						background: @blue;
						height: 55px;

						@media (max-width: @m){
							height: 48px;
						}

						img{
							width: 100%;
							transition: 0.5s;
							-webkit-transition: 0.5s;
						}
					}

					.arrow{
						font-size: 30px;
						color: @f;
						padding: 10px 10px;
						transition: 0.5s;
						-webkit-transition: 0.5s;
						cursor: pointer;

						@media (max-width: @m){
							font-size: 24px;
						}

						&:hover{
							opacity: 1;
							transition: 0.5s;
							-webkit-transition: 0.5s;
							color: @blue;
						}
					}
				}
			}

			.image{
				width: 100%;
				max-width: 300px;
				display: block;
				margin: 0 auto;
				margin-bottom: 20px;

				@media (max-width: @m){
					width: 260px;
					margin: 0 auto;
				}
			}

			.form{
				margin-top: 40px;

				.row{
					border-left: 1px solid @light-blue;
				}
			}

		}
	}
}


