body {
  background: #f6f6f6;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}
.numbers {
  color: #171b1d;
  opacity: 0.8;
}
span {
  display: inline-block;
  width: 20px;
}
@font-face {
  font-family: thehidden;
  src: url(hidden.ttf);
}
.hidden {
  font-family: thehidden;
}
img.resize {
  width: 250px;
  /* you can use % */
  height: auto;
}
.message {
  display: inline-block;
  margin: 5px;
  width: auto;
}
