body {
  background: #f6f6f6;
  overflow: hidden;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
  border-radius: 0px;
}
.numbers {
  color: #171b1d;
  opacity: 0.8;
}
.red {
  color: red;
  opacity: 0.8;
  font-weight: bolder;
  font-size: 20px;
}
span {
  display: inline-block;
  width: 30px;
}
button {
  border: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  opacity: 0.8;
  background: transparent;
  border-radius: 10%;
}
.reset {
  padding: 10px 20px;
  border-radius: 0px;
  margin-top: 20px;
  -webkit-appearance: none;
  border: 1px solid #171b1d !important;
  color: #171b1d;
}
.reset:hover {
  background: #6f7f8b;
  border: 1px solid #6f7f8b;
  color: #ffffff;
}
.fa {
  cursor: pointer;
}
