body {
  background: #eaf0f8;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}
.symbols {
  margin: 10px 0px;
}
.numbers {
  color: #171b1d;
  opacity: 0.8;
}
span {
  display: inline-block;
  width: 20px;
}
.monospace-font {
  font-family: "Courier New", Courier, monospace;
}
.diagram {
  width: auto !important;
}
td,
th {
  border: solid 1px;
  min-width: 50px;
}
img.resize {
  width: 250px;
  /* you can use % */
  height: auto;
}
.legend {
  width: 150px;
}
.legend tr {
  width: 150px;
}
.legend td {
  padding: 5px 10px;
  width: 100px;
}
.legend .symbols {
  width: 50px;
}
.right td {
  border-left: none;
}
.form {
  margin-bottom: 40px;
}
.message {
  display: inline-block;
  margin: 5px;
  width: auto;
}
@font-face {
  font-family: symbols;
  src: url(DARKAB__.TTF);
}
.legend-box {
  margin-top: 40px;
}
.legend-box p {
  color: #171b1d;
  font-size: 18px;
  border: 1px solid #171b1d;
  width: 300px;
  margin: 0 auto;
  padding: 10px 0px;
  position: relative;
  top: 1px;
}
.content {
  padding: 40px 0px;
}
.symbols {
  font-family: symbols;
}
