body {
  background: #151b1f;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}
.alphabet .cipher .numbers {
  color: white;
  opacity: 0.8;
}
.cipher {
  line-height: 30px;
}
@media (max-width: 767px) {
  .cipher {
    line-height: 80px;
    position: relative;
    margin-top: -135px;
  }
}
.alphabet {
  line-height: 30px;
}
@media (max-width: 767px) {
  .alphabet {
    line-height: 80px;
  }
}
span {
  display: inline-block;
  width: 20px;
  color: white;
}
.fa {
  color: red;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px !important;
}
.fa:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  background: rgba(255, 255, 255, 0.2);
}
.message {
  color: white;
  margin-bottom: 10px;
}
.code {
  color: #485158;
  margin-bottom: 40px;
  margin-top: 20px;
}
.form {
  margin-top: 40px;
  margin-bottom: 20px;
}
