.main {
  background: #eaf0f8;
}
.main .content {
  position: relative;
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #171b1d;
  font-size: 30px;
}
.main .content .level-content .clue {
  margin-top: 20px;
  color: #6f7f8b;
  font-size: 18px;
}
.main .content .level-content .form {
  margin-top: 40px;
}
