@import "../../global/less/variables";

.main{
	background: @light;

	.content{
		position: relative;
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.hint{
				font-size: 18px;
				color: @dark-blue;
				margin-bottom: 20px;

				span{
					color: red;
				}
			}

			.num{

				span{
					display: inline-block;
					margin: 0px 5px;
					font-size: 24px;
					color: @light-blue;
				}
			}


			.form{
				margin-top: 40px;
			}

		}
	}
}


