.main {
  background: #221e20;
}
.main .content {
  position: relative;
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #ffffff;
  font-size: 30px;
}
.main .content .level-content .clue {
  margin-top: 20px;
  word-wrap: break-word;
  color: #6f7f8b;
}
.main .content .level-content .clue span {
  color: red;
}
.main .content .level-content .form {
  margin-top: 40px;
}
