@import "../../global/less/variables";

body {
  background: @f6;
}

.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}

.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}

.numbers {
  color: @dark-blue;
  opacity: 0.8;
}

span {
  display: inline-block;
  width: 20px;
}

@font-face {
  font-family: thehidden;
  src: url(hidden.ttf);
}

.hidden {
  font-family: thehidden;
}

img.resize {
  width: 250px; /* you can use % */
  height: auto;
}

.hint{
  color: @light-blue;
  font-size: 24px;
  margin-bottom: 20px;
}

.message {
  display: inline-block;
  margin: 5px;
  width: auto
}

.enclosingJug {
  margin: 20px;

  @media (max-width: @m){
     width: 70px !important;
  }

  p{
    color: @grey-blue;
    margin-top: 10px;
  }
}

.jug {
  position: relative;
  border-bottom-color: @c7 !important;
  border-left-color: @c7 !important;
  border-right-color: @c7 !important;
  cursor: pointer;

  @media (max-width: @m){
    width: 60px !important;
    margin: 0 auto;
  }
}

.water {
  bottom: 0;
  background-color: #538bae;

  @media (max-width: @m){
    width: 52px !important;
  }
}

.drain {
  background: none;
  color: red;
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 40px;
  transition: 0.5s;
  -webkit-transition: 0.5s;

  &:hover{
    color: @f;
    background: red;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
}

.faucet {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  cursor: pointer;
}

.glow {
  -webkit-box-shadow: 0px 10px 38px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 38px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 38px 1px rgba(0, 0, 0, 0.25);
}