.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  top: 50px;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #7599ac;
  margin-bottom: 20px;
}
.main .content .level-content img {
  max-width: 500px;
  width: 100%;
  display: block;
  margin: 0 auto;
}
.main .content .level-content .form {
  margin-top: 40px;
}
