@import "../../global/less/variables";

.main{
	background: @light;

	.content{
		position: relative;
		top: 28%;
		max-width: 650px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.hint{
				color: @dark-blue;
				margin-bottom: 40px;
				font-size: 20px;

				span{
					font-weight: 700;
					font-style: italic;
				}
				@media (max-width: @m){
					font-size: 18px;
				}
			}

			.words{
				font-size: 30px;
				color: red;
				margin-top: 15px;

				span{
					display: inline-block;
					width: 40px;
				}
			}

			hr{
				width: 150px;
				border: none;
				border-top: 1px solid @grey-blue;
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


