@import "../../global/less/variables";

.main{
	background: @f6;

	.content{
		position: relative;
		top: 28%;
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.hint{
				text-align: center;

				span{
					display: inline-block;
					position: relative;
					font-size: 18px;
					text-align: center;
					width: 26px;
					margin: 10px 3px;
				}

				.fa{
					color: red;
					position: absolute;
					left: 0;
					font-size: 33px;
					top: -5px;
					opacity: 0.5;
				}

			}
			.form{
				margin-top: 40px;
			}

		}
	}
}


