@import "../../global/less/variables";

body{

}

.main{
	background: @dark-blue;

	.content{
		position: relative;
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		@media (max-width: @m){
			padding: 0 5px;
		}

		.level-content{
			position: relative;

			.lamp-container{
				display: inline-block;
				padding-left: 60px;
			}

			.lamp-wrapper{
				width: 60px;
				display: inline-block;
				margin: 0px 60px;

				@media (max-width: @m){
					margin: 0 10px;
				}

				.line{
					position: relative;
					margin-left: -1px;
					width: 2px;
					background: #000000;
					height: 150px;
				}
				.piece1{
					width: 6px;
					height: 10px;
					background: #000000;
					position: relative;
					margin-left: -3px;
				}

				.piece2{
					width: 10px;
					height: 10px;
					background: #000000;
					position: relative;
					margin-left: -5px;
				}

				.bulb-wrapper{
					position: relative;
					width: 30px;

					.bulb{
						width: 60px;
						height: 60px;
						border-radius: 50%;
						position: relative;
						margin-left: -30px;
						-webkit-box-shadow: inset 2px -1px 10px 0px rgba(255, 255, 255, 0.25);
						-moz-box-shadow:    inset 2px -1px 10px 0px rgba(255, 255, 255, 0.25);
						box-shadow:         inset 2px -1px 10px 0px rgba(255, 255, 255, 0.25);
					}

					.light{
						transition: 1s;
						-webkit-transition: 1s;
						background: rgba(255,255,255,1);
  						box-shadow: 0px 2px 10px rgba(255,255,255,0.8), 0px 5px 50px rgba(255,255,255,0.8), 0px 8px 80px rgba(255,255,255,0.6), 0px 8px 120px rgba(255,255,255,0.6);
					}

					.filament-stem{
						position: absolute;
						top: 0;
						width: 2px;
						height: 20px;
						background: @f;
						opacity: 0.2;
						margin-left: -1px;
					}

					.filament-sphere{
						position: absolute;
						top: 20px;
						width: 12px;
						height: 12px;
						border-radius: 50%;
						border: 2px solid @f;
						opacity: 0.2;
						margin-left: -6px;
					}

				}

				.light-switch{
					margin-top: 40px;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					border: 2px solid @f;
					position: relative;
					margin-left: -15px;
					opacity: 0.2;
					cursor: pointer;

					&:hover{
						background: @f;
					}
				}

			}

			.message{
				margin-top: 40px;
				font-size: 24px;
				color: @f;
				opacity: 0.2;
				text-align: center;
			}

			.off-btn{
				margin-top: 40px;
				border: 1px solid @f;
				background: transparent;
				color: @f;
				padding: 10px 20px;
				opacity: 0.2;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				&:hover{
					color: @f;
					background: @grey-blue;
					border: 1px solid @grey-blue;
					transition: 0.5s;
					-webkit-transition: 0.5s;
					opacity: 1;
				}
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}

.lit{
	background: @f6;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.lit-message{
	display: none;
	color: @grey-blue;
	font-size: 24px;
}


