@import "../../global/less/variables";

.main{
	background: @light;

	.content{
		position: relative;
		max-width: 600px;
		padding: 0 20px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.hint{
				color: @dark-blue;
				font-size: 18px;
				margin-bottom: 20px;

				@media (max-width: @m){
					font-size: 16px;
				}
			}

			.row{
				margin: 20px 0px;

				@media (max-width: @m){
					margin: 0px 0px;
				}
				
				.col{
					float: left;
					width: 33.333%;

					p{
						margin: 20px 0;

						span{
							margin: 0 20px;
							color: @light-blue;
							opacity: 0.8;
							font-size: 24px;

							@media(max-width: @m){
								margin: 0 10px;
								font-size: 14px;
							}
						}

						.special{
							color: red;
							opacity: 1;
						}
					}
				}
			}

			.form{
				margin-top: 20px;
			}

		}
	}
}



