@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{
		position: relative;
		padding: 0 20px;
		max-width: 750px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.hint{
				color: @f;
				font-size: 24px;
				margin-top: 20px;
				opacity: 1;

				@media (max-width: @m){
					font-size: 18px;
				}

				span{
					color: @f;
					font-weight: 400;
				}
			}

			.e{
				span{
					display: inline-block;
					margin: 0 10px;
					color: @light-blue;
					font-size: 30px;
				}
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


