.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  width: 520px;
  margin: 0 auto;
  text-align: center;
  padding: 0 10px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #7599ac;
  margin-bottom: 20px;
}
.main .content .level-content .hint span {
  font-weight: 400;
  color: red;
}
.main .content .level-content .hint span .fa {
  font-size: 18px;
  color: red;
}
@media (max-width: 767px) {
  .main .content .level-content #hint1 {
    display: none;
  }
}
.main .content .level-content #hint2 {
  display: none;
}
@media (max-width: 767px) {
  .main .content .level-content #hint2 {
    display: block;
  }
}
.main .content .level-content .wrapper {
  position: relative;
  width: 500px;
  height: 360px;
  border: 1px solid #7599ac;
}
.main .content .level-content .wrapper .left {
  float: left;
  width: 350px;
}
.main .content .level-content .wrapper .left .floor {
  position: relative;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #dddddd;
  padding: 15px 20px;
}
.main .content .level-content .wrapper .left .floor:last-child {
  border-bottom: none;
}
.main .content .level-content .wrapper .left .floor .level-text {
  position: absolute;
  left: 20px;
  top: 15px;
  color: #dddddd;
}
.main .content .level-content .wrapper .left #floor1 {
  background: url('../static/pig-bg.svg') no-repeat 20px center;
  background-size: auto 30px;
}
.main .content .level-content .wrapper .left #floor2 {
  background: url('../static/monkey-gorilla-bg.svg') no-repeat 20px center;
  background-size: auto 30px;
}
.main .content .level-content .wrapper .left #floor3 {
  background: url('../static/tiger-bg.svg') no-repeat 20px center;
  background-size: auto 30px;
}
.main .content .level-content .wrapper .left #floor4 {
  background: url('../static/mouse-bg.svg') no-repeat 20px center;
  background-size: auto 30px;
}
.main .content .level-content .wrapper .left #floor5 {
  background: url('../static/lion-bg.svg') no-repeat 20px center;
  background-size: auto 30px;
}
.main .content .level-content .wrapper .right {
  position: relative;
  float: left;
  width: 148px;
  height: 358px;
  background: #171b1d;
}
.main .content .level-content .wrapper .right .elevator {
  position: absolute;
  bottom: 0;
  width: 148px;
  height: 59px;
  background: #7599ac;
  padding: 15px 10px;
}
.main .content .level-content .animal {
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}
.main .content .level-content .arrows {
  position: absolute;
  right: 5px;
  top: 0px;
  width: 26px;
}
.main .content .level-content .arrows .fa {
  display: block;
  font-size: 14px;
  color: #dddddd;
  padding: 7px 7px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .arrows .fa:hover {
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .message {
  color: red;
  margin-top: 20px;
}
.main .content .level-content .restart {
  border: 1px solid #7599ac;
  color: #7599ac;
  background: transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  clear: both;
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  width: 120px;
  margin: 0 auto;
  margin-top: 20px;
}
.main .content .level-content .restart:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  color: #ffffff;
  background: #7599ac;
}
.main .content .level-content .form {
  margin-top: 40px;
}
