body {
  background: #eaf0f8;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}
.restart {
  font-size: 18px;
  height: 50px;
  color: red;
  background: transparent;
  border: 1px solid red;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
  padding: 10px 20px;
  margin-top: 20px;
}
.restart:hover {
  color: #ffffff;
  background: red;
}
.numbers {
  color: #171b1d;
  opacity: 0.8;
}
span {
  display: inline-block;
  width: 20px;
}
.space {
  width: 100px;
  margin: 20px 50px;
}
.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  /* width and height can be anything, as long as they're equal */
}
h2 {
  font-weight: bolder;
  font-size: 20px;
  margin: 5px;
}
p {
  margin: 5px;
}
.controls {
  margin-top: 40px;
}
.btn {
  background: transparent;
  border: 1px solid #6f7f8b;
  padding: 15px 20px;
  color: #6f7f8b;
  border-radius: 0px;
  -webkit-appearance: none;
  margin: 0 10px;
  width: 140px;
}
.btn:hover {
  background: #6f7f8b;
  color: #ffffff;
  border: 1px solid #6f7f8b;
}
.screen {
  margin: 20px;
}
.content {
  width: 750px;
  margin: 0 auto;
}
.round-balls {
  cursor: pointer;
  margin: 0 1px;
}
.round-balls:hover {
  opacity: 0.95;
}
@media (max-width: 767px) {
  .continue_wrapper {
    top: 0px !important;
  }
}
@media (max-width: 767px) {
  .continue_wrapper .next_level {
    width: 280px;
    top: 20px !important;
    left: 20px;
    bottom: initial;
  }
}
