@import "../../global/less/variables";

.main{
	background: @f6;

	.content{
		position: relative;
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			p{
				font-size: 22px;
				color: @grey-blue;

				@media (max-width: @m){
					font-size: 16px;
				}
			}

			.fix{
				position: relative;
				left: -3px;

				@media (max-width: @m){
					left: 0;
				}
			}


			.form{
				margin-top: 40px;
			}

		}
	}
}


