@import "../../global/less/variables";

.main{
	background: @f6;

	.content{
		position: relative;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
		padding: 20px 20px;

		.level-content{
			position: relative;

			.col{
				float: left;
				width: 25%;
				padding: 0px 10px;
				max-height: 174px;
				overflow: hidden;
				cursor: pointer;

				@media (max-width: @m){
					width: 50%;
				}
			}

			.hint{
				color: @grey-blue;
				margin-bottom: 20px;
				span{
					font-weight: 700;
				}
			}

			.images{
				width: 100%;
				max-width: 285px;
				max-height: 164px;
				border: 4px solid transparent;
				cursor: pointer;

				&:hover{
					border: 4px solid red;
					cursor: pointer;
				}

			}

			.error{
				color: red;
				margin-top: 10px;
			}

			.boxes{
				text-align: center;
				margin-top: 20px;
				
				span{
					display: inline-block;
					width: 20px;
					height: 20px;
					border: 1px solid red;

				}
			}

			.selected{
				border: 4px solid red;
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


