@import "../../global/less/variables";

body {
  background: @dark-blue;
}

p {
  color: #ffffff;
  font-size: 24px;
  opacity: 0.8;
}

.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 350px !important;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
  box-sizing: border-box;

  @media (max-width: @m){
    margin-bottom: 10px;
    width: 100% !important;

  }
}

.form{

  .submit {
    display: block;
    float: left;
    width: 100px;
    font-size: 18px;
    height: 38px;
    color: #485158;
    background: transparent;
    border: 1px solid #485158;
    border-left: 0;
    font-weight: 300;
    outline: 0;
    transition: .5s;
    -webkit-transition: .5s;

    @media (max-width: @m){
      border-left: 1px solid #485158;
      margin-top: 10px;
      width: 100% !important;
    }
  }

}

.crypt_level{
  position: fixed;
  top: 40px;
  right: 30px;
  color: red;
  font-size: 30px;
}

.current_en{
  color: @light-blue;
  margin-bottom: 40px;

  @media (max-width: @m){
    font-size: 14px;
  }
}

.countdown{
  margin-bottom: 10px;
}

.form{
  margin-top: 40px;
}


