@import "../../global/less/variables";

.main{
	background: @light;

	.content{
		position: relative;
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
		padding: 0 10px;

		.level-content{
			position: relative;

			.hint{
				font-size: 18px;
				color: @dark-blue;
				margin-bottom: 20px;
				line-height: 1.5;
			}

			.ans{
				color: red;
			}


			.form{
				margin-top: 40px;
			}

		}
	}
}


