.main {
  background: #171b1d;
}
.main .content {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .main .content {
    padding: 0 5px;
  }
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .lamp-container {
  display: inline-block;
  padding-left: 60px;
}
.main .content .level-content .lamp-wrapper {
  width: 60px;
  display: inline-block;
  margin: 0px 60px;
}
@media (max-width: 767px) {
  .main .content .level-content .lamp-wrapper {
    margin: 0 10px;
  }
}
.main .content .level-content .lamp-wrapper .line {
  position: relative;
  margin-left: -1px;
  width: 2px;
  background: #000000;
  height: 150px;
}
.main .content .level-content .lamp-wrapper .piece1 {
  width: 6px;
  height: 10px;
  background: #000000;
  position: relative;
  margin-left: -3px;
}
.main .content .level-content .lamp-wrapper .piece2 {
  width: 10px;
  height: 10px;
  background: #000000;
  position: relative;
  margin-left: -5px;
}
.main .content .level-content .lamp-wrapper .bulb-wrapper {
  position: relative;
  width: 30px;
}
.main .content .level-content .lamp-wrapper .bulb-wrapper .bulb {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  margin-left: -30px;
  -webkit-box-shadow: inset 2px -1px 10px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 2px -1px 10px 0px rgba(255, 255, 255, 0.25);
  box-shadow: inset 2px -1px 10px 0px rgba(255, 255, 255, 0.25);
}
.main .content .level-content .lamp-wrapper .bulb-wrapper .light {
  transition: 1s;
  -webkit-transition: 1s;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.8), 0px 5px 50px rgba(255, 255, 255, 0.8), 0px 8px 80px rgba(255, 255, 255, 0.6), 0px 8px 120px rgba(255, 255, 255, 0.6);
}
.main .content .level-content .lamp-wrapper .bulb-wrapper .filament-stem {
  position: absolute;
  top: 0;
  width: 2px;
  height: 20px;
  background: #ffffff;
  opacity: 0.2;
  margin-left: -1px;
}
.main .content .level-content .lamp-wrapper .bulb-wrapper .filament-sphere {
  position: absolute;
  top: 20px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  opacity: 0.2;
  margin-left: -6px;
}
.main .content .level-content .lamp-wrapper .light-switch {
  margin-top: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  position: relative;
  margin-left: -15px;
  opacity: 0.2;
  cursor: pointer;
}
.main .content .level-content .lamp-wrapper .light-switch:hover {
  background: #ffffff;
}
.main .content .level-content .message {
  margin-top: 40px;
  font-size: 24px;
  color: #ffffff;
  opacity: 0.2;
  text-align: center;
}
.main .content .level-content .off-btn {
  margin-top: 40px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  padding: 10px 20px;
  opacity: 0.2;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .off-btn:hover {
  color: #ffffff;
  background: #7599ac;
  border: 1px solid #7599ac;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  opacity: 1;
}
.main .content .level-content .form {
  margin-top: 40px;
}
.lit {
  background: #f6f6f6;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.lit-message {
  display: none;
  color: #7599ac;
  font-size: 24px;
}
