.main {
  background: #eaf0f8;
}
.main .content {
  position: relative;
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #6f7f8b;
  font-size: 18px;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    font-size: 14px;
  }
}
.main .content .level-content .hint span {
  display: inline-block;
  margin: 0 10px;
}
@media (max-width: 767px) {
  .main .content .level-content .hint span {
    margin: 0 5px;
  }
}
.main .content .level-content hr {
  margin: 20px 0px;
  border: none;
  border-top: 1px solid #6f7f8b;
}
.main .content .level-content .clue {
  color: #171b1d;
  font-size: 24px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .main .content .level-content .clue {
    font-size: 18px;
  }
}
.main .content .level-content .form {
  margin-top: 40px;
}
