.main {
  background: #eaf0f8;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .col {
  float: left;
  width: 16.6666666667%;
}
.main .content .level-content .col p {
  color: #6f7f8b;
}
.main .content .level-content .col .plus,
.main .content .level-content .col .minus {
  cursor: pointer;
}
.main .content .level-content .col .num {
  font-size: 30px;
}
@media (max-width: 767px) {
  .main .content .level-content .col .num {
    font-size: 18px;
  }
}
.main .content .level-content .col .fa {
  color: red;
  padding: 5px 5px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .col .fa:hover {
  color: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  opacity: 1;
}
.main .content .level-content .hint {
  color: #171b1d;
  font-size: 30px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    font-size: 18px;
  }
}
.main .content .level-content .hint2 {
  color: red !important;
  text-decoration: none !important;
  font-size: 30px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .main .content .level-content .hint2 {
    font-size: 18px;
  }
}
.main .content .level-content .hint2 span {
  display: inline-block;
  font-weight: 400;
  margin: 0 10px;
}
.main .content .level-content .form {
  margin-top: 40px;
}
