@import "../../global/less/variables";

.main{
	background: @dark-red;

	.content{
		position: relative;
		z-index: 2;
		top: 28%;
		max-width: 500px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;
			z-index: 2;

			.image{
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 150px;
				position: relative;
				z-index: 2;

				@media (max-width: @m){
					max-width: 120px;
				}
			}

			.form{
				margin-top: 40px;
				position: relative;
				z-index: 2;
			}

		}
	}
}

.bg{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: url('../static/gridbg.png') no-repeat center center;
	background-size: cover;
	top: 0;
	opacity: 0.05;
}


