body {
  background: #221e20;
}
.main {
  height: auto;
}
.main .content {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
  padding: 0px 0px;
  overflow-y: hidden;
  width: 700px;
  margin: 0 auto;
}
.main .content .level-content .clue {
  display: none;
  font-size: 18px;
  color: #ffffff;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .main .content .level-content .clue {
    display: block;
  }
}
.main .content .level-content .hint {
  position: relative;
  top: 40px;
  color: #7599ac;
  text-align: center;
}
.main .content .level-content .main-wrapper {
  width: 664px;
  height: 500px;
  background: url('../static/bg.jpg');
  background-size: 650px 500px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -325px;
}
.main .content .level-content .main-wrapper .main {
  position: relative;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.main .content .level-content .main-wrapper .main .col {
  position: relative;
  float: left;
  width: 25%;
  text-align: center;
  height: 500px;
}
.main .content .level-content .main-wrapper .main .blue-section .ball {
  background: #42679e;
}
.main .content .level-content .main-wrapper .main .blue-section .fa-arrow-down {
  color: #42679e;
}
.main .content .level-content .main-wrapper .main .blue-section .button {
  background: #42679e;
}
.main .content .level-content .main-wrapper .main .red-section .ball {
  background: #9e4242;
}
.main .content .level-content .main-wrapper .main .red-section .fa-arrow-down {
  color: #9e4242;
}
.main .content .level-content .main-wrapper .main .red-section .button {
  background: #9e4242;
}
.main .content .level-content .main-wrapper .main .green-section .ball {
  background: #469e42;
}
.main .content .level-content .main-wrapper .main .green-section .fa-arrow-down {
  color: #469e42;
}
.main .content .level-content .main-wrapper .main .green-section .button {
  background: #469e42;
}
.main .content .level-content .main-wrapper .main .yellow-section .ball {
  background: #9e8142;
}
.main .content .level-content .main-wrapper .main .yellow-section .fa-arrow-down {
  color: #9e8142;
}
.main .content .level-content .main-wrapper .main .yellow-section .button {
  background: #9e8142;
}
.main .content .level-content .main-wrapper .main .down {
  position: relative;
  top: 20px;
}
.main .content .level-content .main-wrapper .main .fa-arrow-down {
  opacity: 0.10;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
  font-size: 24px;
  padding: 5px 5px;
  color: #ffffff !important;
}
.main .content .level-content .main-wrapper .main .fa-arrow-down:hover {
  opacity: 0.5;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .main-wrapper .main .button {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 30px;
  display: inline-block;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  line-height: 30px;
  border-radius: 0px 0px 10px 10px;
  z-index: 4;
}
.main .content .level-content .main-wrapper .main .ball {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -15px;
  z-index: 2;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}
.main .content .level-content .main-wrapper .main .key {
  position: relative;
  height: 30px;
  width: 100%;
  z-index: 3;
  opacity: 0.25;
}
.main .content .level-content .main-wrapper .main .firstkey {
  top: 80px;
}
.main .content .level-content .main-wrapper .main .secondkey {
  top: 160px;
}
.main .content .level-content .main-wrapper .main .thirdkey {
  top: 240px;
}
.main .content .level-content .main-wrapper .main .bluekey {
  background: #42679e;
}
.main .content .level-content .main-wrapper .main .redkey {
  background: #9e4242;
}
.main .content .level-content .main-wrapper .main .greenkey {
  background: #469e42;
}
.main .content .level-content .main-wrapper .main .yellowkey {
  background: #9e8142;
}
.main .content .level-content .main-wrapper .main .lock {
  position: relative;
}
.main .content .level-content .main-wrapper .main .lock .leftpin {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 8px;
  background: black;
}
.main .content .level-content .main-wrapper .main .lock .rightpin {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 8px;
  background: black;
}
.main .content .level-content .main-wrapper .main .lock .middlebar {
  position: absolute;
  left: 0;
  right: 0;
  top: 2px;
  width: 166px;
  height: 4px;
  background: black;
}
.main .content .level-content .main-wrapper .main .firstlock {
  top: 115px;
}
.main .content .level-content .main-wrapper .main .secondlock {
  top: 195px;
}
.main .content .level-content .main-wrapper .main .thirdlock {
  top: 280px;
}
.main .content .level-content .main-wrapper .main .bluelock .leftpin,
.main .content .level-content .main-wrapper .main .bluelock .rightpin,
.main .content .level-content .main-wrapper .main .bluelock .middlebar {
  background: #42679e;
}
.main .content .level-content .main-wrapper .main .redlock .leftpin,
.main .content .level-content .main-wrapper .main .redlock .rightpin,
.main .content .level-content .main-wrapper .main .redlock .middlebar {
  background: #9e4242;
}
.main .content .level-content .main-wrapper .main .greenlock .leftpin,
.main .content .level-content .main-wrapper .main .greenlock .rightpin,
.main .content .level-content .main-wrapper .main .greenlock .middlebar {
  background: #469e42;
}
.main .content .level-content .main-wrapper .main .yellowlock .leftpin,
.main .content .level-content .main-wrapper .main .yellowlock .rightpin,
.main .content .level-content .main-wrapper .main .yellowlock .middlebar {
  background: #9e8142;
}
@media (max-width: 767px) {
  .continue_wrapper {
    top: 0px !important;
  }
}
@media (max-width: 767px) {
  .continue_wrapper .next_level {
    width: 280px;
    top: 20px !important;
    left: 20px;
    bottom: initial;
  }
}
