@import "../../global/less/variables";

.main{
	background: @dark-red;

	.content{
		position: relative;
		max-width: 600px;
		padding: 0 20px;
		margin: 0 auto;
		text-align: center;
		z-index: 2;

		.level-content{
			position: relative;

			.hint{
				color: @f;
				font-size: 30px;

        @media (max-width: @m){
          font-size: 20px;
        }
			}

			.clue{
				margin-top: 20px;
				word-wrap: break-word;
				color: @light-blue;


				span{
					display: inline-block;
					margin: 10px 20px;
				}
			}


			.form{
				margin-top: 40px;
			}

		}
	}
}


.clock {
  position: relative;
  height: 200px;
  width: 200px;
  background: transparent;
  box-sizing: border-box;
  border-radius: 100%;
  border: 10px solid rgba(255,255,255,0.25);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.05;

  .top {
    position: absolute;
    width: 3px;
    height: 8px;
    background: #262626;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .right {
    position: absolute;
    width: 8px;
    height: 3px;
    background: #262626;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
  }
  .bottom {
    position: absolute;
    width: 3px;
    height: 8px;
    background: #262626;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .left {
    position: absolute;
    width: 8px;
    height: 3px;
    background: #262626;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
  }
  .center {
    height: 6px;
    width: 6px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #262626;
    border-radius: 100%;
  }
  .hour {
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: time 60s infinite linear;
    -webkit-animation: time 60s infinite linear;
    &:before {
      position: absolute;
      content: "";
      background: #ffffff;
      height: 60px;
      width: 3px;
      top: 30px;
    }
  }
  .minute {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: time 30s infinite linear;
    -webkit-animation: time 30s infinite linear;
    &:before {
      position: absolute;
      content: "";
      background: #ffffff;
      height: 40px;
      width: 1px;
      top: 50px;
    }
  }
  .second {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: time 15s infinite linear;
    -webkit-animation: time 15s infinite linear;
    &:before {
      position: absolute;
      content: "";
      background: red;
      height: 45px;
      width: 2px;
      top: 45px;
    }
  }
}

@-webkit-keyframes time {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
} 

/* Standard syntax */
@keyframes time {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
