.main {
  background: #221e20;
}
.main .content {
  position: relative;
  max-width: 750px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 40px;
}
.main .content .level-content .text {
  color: #6f7f8b;
  opacity: 0.8;
  font-size: 30px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .main .content .level-content .text {
    font-size: 14px;
  }
}
.main .content .level-content .text span {
  margin: 20px;
}
@media (max-width: 767px) {
  .main .content .level-content .text span {
    margin: 10px;
  }
}
.main .content .level-content .form {
  margin-top: 40px;
}
