@import "../../global/less/variables";

body {
  background: @light;
  padding-bottom: 40px;
}

table {
  border-collapse: separate !important;
  border-spacing: 10px !important;
  border: solid 1px;
  vertical-align: middle;
}

//td {
//  border: solid 1px;
//}

.answer-input {
  margin: 20px 0px;
  display: inline-block !important;
  float:none !important;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 80% !important;
  height: 150px !important;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}

.submit {
  display: inline-block !important;
  float:none !important;
  width: 80% !important;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158 !important;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
  border-radius: 0 !important;
}

.numbers {
  color: @dark-blue;
  opacity: 0.8;
}

.red {
  color: red;
  opacity: 0.8;
  font-weight: bolder;
  font-size: 20px;
}

span {
  display: inline-block;
  width: 30px;
}

button {
  border: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  opacity: 0.8;
  background: transparent;
  border-radius: 10%;
}

.reset{
  padding: 10px 20px;
  border-radius: 0px;
  margin-top: 20px;
  -webkit-appearance: none;
  border: 1px solid @dark-blue !important;
  color: @dark-blue;

  &:hover{
    background: @light-blue;
    border: 1px solid @light-blue;
    color: @f;
  }
}

.fa {
  cursor: pointer;
}

.legends{
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 400px;

  table{
    width: 50% !important;
    height: 180px !important;
  }
}