body {
  background: #151b1f;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.form {
  margin-top: 40px;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
  border-radius: 0px;
  -webkit-appearance: none;
}
.numbers {
  color: white;
  font-size: 40px;
}
.red {
  color: red;
  opacity: 0.8;
  font-weight: bolder;
  font-size: 20px;
}
span {
  display: inline-block;
  width: 30px;
}
button {
  border: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  opacity: 0.8;
  background: transparent;
  border-radius: 10%;
}
.fa {
  cursor: pointer;
}
