.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  width: 450px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .box-row {
  height: 100px;
  margin-bottom: 2px;
}
.main .content .level-content span {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #000000;
  margin: 0 1px;
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .disabled {
  background: #151b1f;
}
.main .content .level-content .open {
  background: #485158;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.main .content .level-content img {
  height: 50px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 20px;
  cursor: pointer;
}
.main .content .level-content .hint {
  font-size: 24px;
  color: #485158;
  opacity: 1;
  margin-top: 40px;
}
