@import "../../global/less/variables";

body{
	background: @dark-red;
}
.main{


	.content{
		position: relative;		
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;
			z-index: 3;
			padding: 20px 20px;


			.level-area{
				max-width: 400px;
				margin: 0 auto;
				margin-top: 40px;

				.tile{
					width: 92px;
					height: 92px;
					display: inline-block;
					margin: 2px 2px;
					background: @light-blue;
					line-height: 92px;
					color: @f;
					font-size: 30px;

					@media (max-width: @m){
						width: 62px;
						height: 62px;
						line-height: 62px;
						font-size: 18px;
					}

					&:hover{
						cursor: pointer;
						background: @dark-red;
					}
				}

				.select{
					background: red;
				}
			}

		}
	}

}

#canvas{
	position: absolute;
	z-index: 2;
}

