.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  z-index: 2;
  top: 28%;
  max-width: 750px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
  z-index: 2;
}
.main .content .level-content .hint {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 20px;
}
.main .content .level-content .e {
  position: relative;
  z-index: 2;
}
.main .content .level-content .e span {
  display: inline-block;
  margin: 0 10px;
  color: #485158;
  font-size: 30px;
  margin-bottom: 20px;
}
.main .content .level-content .form {
  position: relative;
  z-index: 2;
  margin-top: 20px;
}
.img {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url('../static/img.png') no-repeat center center;
  background-size: cover;
  opacity: 0.08;
}
