.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  padding: 0 20px;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #ffffff;
  font-size: 24px;
  margin-top: 20px;
  opacity: 1;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    font-size: 18px;
  }
}
.main .content .level-content .hint span {
  color: #ffffff;
  font-weight: 400;
}
.main .content .level-content .e span {
  display: inline-block;
  margin: 0 10px;
  color: #485158;
  font-size: 30px;
}
.main .content .level-content .form {
  margin-top: 40px;
}
