.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .col {
  float: left;
  width: 25%;
}
@media (max-width: 767px) {
  .main .content .level-content .col {
    float: left;
    width: 50%;
    margin-top: 30px;
  }
}
.main .content .level-content .col .text {
  color: #485158;
  display: inline-block;
  border: 1px solid #485158;
  padding: 5px 5px;
}
.main .content .level-content .col .text span {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 24px;
}
@media (max-width: 767px) {
  .main .content .level-content .col .text span {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
  }
}
.main .content .level-content .col .space {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .main .content .level-content .col .space {
    margin-top: 10px;
  }
}
.main .content .level-content .col .space span {
  display: inline-block;
  width: 22px;
  height: 26px;
  line-height: 26px;
  font-size: 24px;
  border-bottom: 1px solid #485158;
  margin: 0 4px;
}
@media (max-width: 767px) {
  .main .content .level-content .col .space span {
    width: 15px;
    height: 20px;
  }
}
.main .content .level-content .col .space .special {
  border: 1px solid #485158;
}
.main .content .level-content .hint {
  font-size: 24px;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    font-size: 19px;
    margin-bottom: 0px;
  }
}
.main .content .level-content form {
  position: relative;
  margin-top: 40px;
}
