.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}
.main .content .level-content {
  position: relative;
  height: 100%;
  margin: 0 auto;
}
.main .content .level-content .screen-wrapper {
  position: fixed;
  width: 100%;
  max-width: 520px;
  min-width: 320px;
  bottom: 20px;
  margin: 0 auto;
  padding: 0 10px;
  left: 50%;
}
@media (max-width: 767px) {
  .main .content .level-content .screen-wrapper {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    margin-left: -150px !important;
  }
}
.main .content .level-content .screen-wrapper .screen {
  position: relative;
  background: #ffffff;
  max-width: 500px;
  min-width: 300px;
  height: 100%;
  overflow-y: auto;
  border: 1px solid #dddddd;
  border-radius: 4px 4px 0px 0px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .main .content .level-content .screen-wrapper .screen {
    width: 280px;
    min-width: 280px;
    max-width: 280px;
  }
}
.main .content .level-content .title {
  width: 100%;
  height: 50px;
  text-align: center;
  background: #f6f6f6;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 5px;
}
.main .content .level-content .title p {
  color: #7599ac;
  line-height: 50px;
}
.main .content .level-content .message-area {
  position: fixed;
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  overflow-y: auto;
}
@media (max-width: 767px) {
  .main .content .level-content .message-area {
    width: 280px;
    min-width: 280px;
    max-width: 280px;
  }
}
.main .content .level-content .message-wrapper {
  position: relative;
  padding: 0px 30px;
  margin-top: 15px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.main .content .level-content .message-wrapper .message-container {
  display: inline-block;
  max-width: 80%;
  padding: 10px 15px;
  border-radius: 8px;
}
.main .content .level-content .message-wrapper .message-container p {
  font-size: 16px;
  line-height: 24px;
}
.main .content .level-content .robot {
  text-align: left;
}
.main .content .level-content .robot .message-container {
  background: #eaeaea;
}
.main .content .level-content .robot .message-container p {
  color: #222222;
}
.main .content .level-content .user {
  text-align: right;
}
.main .content .level-content .user .message-container {
  background: #7599ac;
}
.main .content .level-content .user .message-container p {
  color: #ffffff;
}
.main .content .level-content .arrow-left {
  position: absolute;
  left: 22px;
  top: 10px;
  z-index: 2;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #eaeaea;
}
.main .content .level-content .arrow-right {
  position: absolute;
  right: 22px;
  top: 10px;
  z-index: 2;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #7599ac;
}
.main .content .level-content .user-respond {
  position: fixed;
  bottom: 20px;
  width: 100%;
  min-width: 298px;
  max-width: 498px;
  height: 50px;
  background: #dce6ec;
  text-align: left;
}
@media (max-width: 767px) {
  .main .content .level-content .user-respond {
    width: 278px;
    min-width: 278px;
    max-width: 278px;
  }
}
.main .content .level-content .user-respond input {
  position: relative;
  display: inline-block;
  left: 0;
  width: 70%;
  height: 50px;
  outline: none;
  webkit-outline: none;
  border: none;
  padding: 0 0;
  padding-left: 20px;
  background: transparent;
  font-size: 16px;
}
.main .content .level-content .user-respond #send {
  text-align: center;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #7599ac;
  padding: 5px 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  border-radius: 4px;
}
.main .content .level-content .user-respond #send:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
  background: #ced8de;
}
.main .content .level-content .hidden {
  position: relative;
  top: 33%;
  opacity: 0;
  display: none;
}
.main .content .level-content .hidden .secret {
  text-align: center;
  font-size: 30px;
  color: red;
}
.main .content .level-content .form {
  margin-top: 40px;
}
.typing-wrapper {
  display: none;
  position: fixed;
  bottom: 85px;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
}
@media (max-width: 767px) {
  .typing-wrapper {
    min-width: 280px;
  }
}
.bubblingG {
  text-align: center;
  height: 20px;
}
.bubblingG span {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  margin: 10px auto;
  background: #E8A972;
  -moz-border-radius: 38px;
  -moz-animation: bubblingG 0.6s infinite alternate;
  -webkit-border-radius: 38px;
  -webkit-animation: bubblingG 0.6s infinite alternate;
  -ms-border-radius: 38px;
  -ms-animation: bubblingG 0.6s infinite alternate;
  -o-border-radius: 38px;
  -o-animation: bubblingG 0.6s infinite alternate;
  border-radius: 38px;
  animation: bubblingG 0.6s infinite alternate;
}
#bubble1 {
  -moz-animation-delay: 0.36s;
  -webkit-animation-delay: 0.36s;
  -ms-animation-delay: 0.36s;
  -o-animation-delay: 0.36s;
  animation-delay: 0.36s;
}
#bubble2 {
  -moz-animation-delay: 0.18s;
  -webkit-animation-delay: 0.18s;
  -ms-animation-delay: 0.18s;
  -o-animation-delay: 0.18s;
  animation-delay: 0.18s;
}
#bubble3 {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
@-moz-keyframes bubblingG {
  0% {
    width: 8px;
    height: 8px;
    background-color: #aec1cf;
    -moz-transform: translateY(0);
  }
  100% {
    width: 18px;
    height: 18px;
    background-color: #1eb2d7;
    -moz-transform: translateY(-16px);
  }
}
@-webkit-keyframes bubblingG {
  0% {
    width: 8px;
    height: 8px;
    background-color: #aec1cf;
    -webkit-transform: translateY(0);
  }
  100% {
    width: 18px;
    height: 18px;
    background-color: #1eb2d7;
    -webkit-transform: translateY(-16px);
  }
}
@-ms-keyframes bubblingG {
  0% {
    width: 8px;
    height: 8px;
    background-color: #aec1cf;
    -ms-transform: translateY(0);
  }
  100% {
    width: 18px;
    height: 18px;
    background-color: #1eb2d7;
    -ms-transform: translateY(-16px);
  }
}
@-o-keyframes bubblingG {
  0% {
    width: 8px;
    height: 8px;
    background-color: #aec1cf;
    -o-transform: translateY(0);
  }
  100% {
    width: 18px;
    height: 18px;
    background-color: #1eb2d7;
    -o-transform: translateY(-16px);
  }
}
@keyframes bubblingG {
  0% {
    width: 8px;
    height: 8px;
    background-color: #aec1cf;
    transform: translateY(0);
  }
  100% {
    width: 18px;
    height: 18px;
    background-color: #1eb2d7;
    transform: translateY(-16px);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.on {
  display: block !important;
}
.off {
  display: none !important;
}
