@import "../../global/less/variables";

.main{
	background: @f6;

	.content{
		position: relative;
		top: 28%;
		max-width: 500px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.hint{
				color: @grey-blue;

				@media (max-width: @m){
					font-size: 14px;
				}
			}

			.value{
				height: 40px;
				width: 80px;
				border: 1px solid @grey-blue;
				font-size: 18px;
				padding: 0px 10px;

				&:focus{
					box-shadow: none;
					border: 1px solid @c2;
					outline: none;
				}
			}

			form{
				position: relative;
			}

			.total{
				color: red;
				font-size: 40px;
				margin: 30px 0px;
			}

			.mymove{
				margin-top: 20px;
				color: @grey-blue;
			}

			.add{
				display: inline-block;
				cursor: pointer;
				height: 42px;
				line-height: 42px;
				border: 1px solid @grey-blue;
				padding: 0 20px;
				color: @grey-blue;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				&:hover{
					transition: 0.5s;
					-webkit-transition: 0.5s;
					color: @f;
					background: @grey-blue;
				}
			}

			.lose{

				p{
					color: red;
					margin-bottom: 10px;
					margin-top: 20px;
				}
			}

			.restart{
				display: inline-block;
				margin: 0 auto;
				height: 40px;
				padding: 0 20px;
				color: @c7;
				line-height: 40px;
				margin-top: 20px;
				cursor: pointer;
				&:hover{
					color: @grey-blue;
				}
			}

			.disable{
				display: inline-block;
				cursor: pointer;
				height: 42px;
				line-height: 42px;
				border: 1px solid @d;
				padding: 0 20px;
				color: @d;
			}
			.form{
				margin-top: 40px;
			}

		}
	}
}


