@import "../../global/less/variables";

body{
	width: 100%;
	height: 100vh;
	background-image: url('../static/image.jpg');
	background-repeat: repeat-x;
	background-size: cover;
	background-position: center center;
	position: relative;
	overflow-y: hidden;
}
.main{


	.content{
		position: relative;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;
			min-width: 900px;
			width: 100%;
			height: 100vh;

			.land{
				position: absolute;
				width: 1600px;
				position: fixed;
				left: 50%;
				margin-left: -800px;
				bottom: 35px;
			}

			#elemental-wrapper{
				position: absolute;
				background: @dark-blue;
				height: 120px;
				bottom: 0;
				width: 100%;
				min-width: 900px;
			}

			.windmill{
				position: relative;
				top: -150px;
				cursor: pointer;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				&:hover{
					opacity: 0.5;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}

				.mill{
					position: relative;
					z-index: 2;
					width: 60px;
					display: block;
					margin: 0 auto;
				}

				.wind{
					position: absolute;
					z-index: 1;
					top: 10px;
					width: 100px;
					left: 50%;
					margin-left: -50px;
				}
			}
			#start{
				opacity: 1 !important;

				&:hover{
					opacity: 1;
				}
			}
			.col{
				float: left;
				width: 20%;
				height: 120px;

				.element{
					display: block;
					margin: 0 auto;
					height: 80px;
					opacity: 1;
					transition: 0.5s;
					-webkit-transition: 0.5s;


					@media (max-width: @m){
						width: 40px;
					}
				}

				.button{
					width: 30px;
					height: 30px;
					display: inline-block;
					margin: 0 auto;
					border: 2px solid @light-blue;
					border-radius: 50%;
					margin-top: 20px;
					transition: 0.5s;
					-webkit-transition: 0.5s;
					cursor: pointer;


					@media (max-width: @m){
						margin-top: 0px;
					}

					&:hover{
						border: 2px solid @f;
						transition: 0.5s;
						-webkit-transition: 0.5s;
					}
				}
			}

			.hint{
				font-size: 30px;
				color: @f;
				opacity: 1;
				text-align: center;
				position: absolute;
				bottom: 40px;
				z-index: 3;
				width: 100%;
				text-align: center;

				
			}

			.a{
				font-size: 40px;
				color: @f;
				margin-bottom: 20px;
			}



			.fa-spin {
			  -webkit-animation: fa-spin 2s infinite linear;
			  animation: fa-spin 2s infinite linear;
			}

			@-webkit-keyframes fa-spin {
			  0% {
			    -webkit-transform: rotate(0deg);
			    transform: rotate(0deg);
			  }
			  100% {
			    -webkit-transform: rotate(359deg);
			    transform: rotate(359deg);
			  }
			}
			@keyframes fa-spin {
			  0% {
			    -webkit-transform: rotate(0deg);
			    transform: rotate(0deg);
			  }
			  100% {
			    -webkit-transform: rotate(359deg);
			    transform: rotate(359deg);
			  }
			}
		}
	}
}


