body {
  background: #eaf0f8;
}
.content {
  padding: 0 10px;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.code {
  word-wrap: break-word;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}
.code {
  color: #171b1d;
}
.hint {
  color: #6f7f8b;
  margin-bottom: 10px;
  font-size: 30px;
}
@media (max-width: 767px) {
  .hint {
    font-size: 18px;
  }
}
.find {
  margin-bottom: 40px;
}
span {
  display: inline-block;
  width: 30px;
}
button {
  border: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  opacity: 0.8;
  background: transparent;
}
.reset {
  padding: 10px 20px;
  border-radius: 0px;
  margin-top: 20px;
  -webkit-appearance: none;
  border: 1px solid #171b1d !important;
  color: #171b1d;
}
.reset:hover {
  background: #6f7f8b;
  border: 1px solid #6f7f8b;
  color: #ffffff;
}
.fa {
  cursor: pointer;
}
.form {
  margin-top: 40px;
  margin-bottom: 40px;
}
.next_level {
  background-color: white;
}
@media (max-width: 767px) {
  .next_level {
    background-color: transparent;
  }
}
