@import "../../global/less/variables";

body {
  background: @dark-red;
}

.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}

.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}

.hint{
  color: @f;
  margin-bottom: 40px;
  font-size: 24px;

  @media (max-width: @m){
    font-size: 18px;
  }
}

@dimensions: 80px;
@dimensionsMinusTwo: @dimensions - 2;
.square {
  margin: 0px;
  margin-left: -1px;
  display: inline-block;
  border: 1px solid @c7;
  width: @dimensions;
  height: @dimensions;
}

.rows {
  margin-bottom: -1px;
  display: block;
  height: @dimensions;
}

.knight {
  margin-left: 0.4px;
  margin-top: 1px;
  width: @dimensionsMinusTwo;
  height: @dimensionsMinusTwo;
  cursor: pointer;
}

@font-face {
  font-family: thehidden;
  src: url(hidden.ttf);
}

.highlight {
  background-color: red;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  cursor: pointer;
}

.hidden {
  font-family: thehidden;
}

img.resize {
  width: 250px; /* you can use % */
  height: auto;
}

.message {
  display: inline-block;
  margin: 5px;
  width: auto
}