.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #7599ac;
  font-size: 24px;
  margin-bottom: 20px;
}
.main .content .level-content .telephone {
  display: block;
  width: 40px;
  margin: 0 auto;
  cursor: pointer;
}
.main .content .level-content .numberpad {
  display: none;
  max-width: 300px;
  margin: 0 auto;
  opacity: 0;
  position: relative;
}
.main .content .level-content .numberpad .numbers {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: #7599ac;
  font-size: 24px;
}
.main .content .level-content .numberpad .keys {
  padding-top: 60px;
}
.main .content .level-content .numberpad .keys .fa-phone {
  color: #51d636;
}
.main .content .level-content .numberpad .keys .fa-angle-double-left {
  color: #777777;
}
.main .content .level-content #op {
  display: none;
  color: #777777;
  opacity: 0;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}
.main .content .level-content #op span {
  color: #222222;
  font-weight: 700;
}
.main .content .level-content .col {
  float: left;
  width: 33.33333%;
  margin-bottom: 30px;
}
.main .content .level-content .col p {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #7599ac;
  color: #7599ac;
  line-height: 40px;
  cursor: pointer;
}
.main .content .level-content .col p:hover {
  color: red;
  border: 1px solid red;
}
.main .content .level-content .form {
  margin-top: 40px;
}
