.main {
  background: #eaf0f8;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content p {
  font-size: 18px;
  color: #171b1d;
  margin-bottom: 15px;
  line-height: 26px;
}
.main .content .level-content .hint {
  color: red;
  position: relative;
  text-decoration: underline;
}
.main .content .level-content .form {
  margin-top: 40px;
}
