.main {
  background: #eaf0f8;
}
.main .content {
  position: relative;
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #171b1d;
  font-size: 18px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    font-size: 16px;
  }
}
.main .content .level-content .row {
  margin: 20px 0px;
}
@media (max-width: 767px) {
  .main .content .level-content .row {
    margin: 0px 0px;
  }
}
.main .content .level-content .row .col {
  float: left;
  width: 33.333%;
}
.main .content .level-content .row .col p {
  margin: 20px 0;
}
.main .content .level-content .row .col p span {
  margin: 0 20px;
  color: #6f7f8b;
  opacity: 0.8;
  font-size: 24px;
}
@media (max-width: 767px) {
  .main .content .level-content .row .col p span {
    margin: 0 10px;
    font-size: 14px;
  }
}
.main .content .level-content .row .col p .special {
  color: red;
  opacity: 1;
}
.main .content .level-content .form {
  margin-top: 20px;
}
