.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .left {
  margin-bottom: 20px;
}
.main .content .level-content .left .box-row {
  height: 80px;
  margin-bottom: 2px;
}
.main .content .level-content .left .box-row span {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #000000;
  margin: 0 1px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  line-height: 80px;
}
.main .content .level-content .left .box-row span:hover {
  background: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .left .box-row .empty {
  background: #151b1f;
}
.main .content .level-content .left .box-row .empty:hover {
  background: #151b1f;
}
.main .content .level-content .left .box-row #d {
  color: red;
}
.main .content .level-content .left .box-row #f {
  color: red;
}
.main .content .level-content .left .box-row .on {
  background: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .left .box-row .on:hover {
  background: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .left .opacity {
  opacity: 0.6;
  transition: 2s;
  -webkit-transition: 2s;
}
.main .content .level-content .right .clue-row {
  margin-bottom: 20px;
}
.main .content .level-content .right .clue-row:last-child {
  margin-bottom: 0px;
}
.main .content .level-content .right .clue-row .l {
  border-bottom: 1px solid #485158;
}
.main .content .level-content .right .clue-row span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  color: #485158;
}
@media (max-width: 767px) {
  .main .content .level-content .right .clue-row span {
    width: 13px;
    height: 20px;
    margin: 0 5px;
    font-size: 12px;
  }
}
.main .content .level-content .right .first-row .l {
  border-bottom: 1px solid red;
}
.main .content .level-content .form {
  margin-top: 40px;
}
