@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{
		position: relative;
		max-width: 750px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.col{
				float: left;
				width: 25%;

				@media (max-width: @m){
					float: left;
					width: 50%;
					margin-top: 30px;
				}

				.text{
					color: @light-blue;
					display: inline-block;
					border: 1px solid @light-blue;
					padding: 5px 5px;

					span{
						display: inline-block;
						width: 26px;
						height: 26px;
						line-height: 26px;
						font-size: 24px;

						@media (max-width: @m){
							width: 18px;
							height: 18px;
							line-height: 18px;
							font-size: 18px;
						}
					}
				}

				.space{
					margin-top: 20px;

					@media (max-width: @m){
						margin-top: 10px;
					}

					span{
						display: inline-block;
						width: 22px;
						height: 26px;
						line-height: 26px;
						font-size: 24px;
						border-bottom: 1px solid @light-blue;
						margin: 0 4px;


						@media (max-width: @m){
							width: 15px;
							height: 20px;
						}
					}


					.special{
						border: 1px solid @light-blue;
					}
				}
			}

			.hint{
				font-size: 24px;
				color: @f;
				opacity: 0.8;
				margin-bottom: 40px;

				@media (max-width: @m){
					font-size: 19px;
					margin-bottom: 0px;
				}
				
			}


			form{
				position: relative;
				margin-top: 40px;
			}
		}
	}
}


