@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{
		position: relative;
		padding: 0 20px;
		max-width: 750px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.arrow{
				color: @light-blue;
				font-size: 100px;
			}

			.hint{
				color: @f;
				font-size: 24px;
			}


			.form{
				margin-top: 40px;
			}

		}
	}
}



.animated { 
    -webkit-animation-duration: 5s; 
    animation-duration: 5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 
@keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 
.flash { 
    -webkit-animation-name: flash; 
    animation-name: flash; 
}