@import "../../global/less/variables";

.main{
	background: @f6;

	.content{
		position: relative;
		width: 520px;
		margin: 0 auto;
		text-align: center;
		padding: 0 10px;

		.level-content{
			position: relative;

			.hint{
				color: @grey-blue;
				margin-bottom: 20px;

				span{
					font-weight: 400;
					color: red;

					.fa{
						font-size: 18px;
						color: red;
					}
				}
			}

			#hint1{
				@media (max-width: @m){
					display: none;
				}
			}

			#hint2{
				display: none;

				@media (max-width: @m){
					display: block;
				}
			}

			.wrapper{
				position: relative;
				width: 500px;
				height: 360px;
				border: 1px solid @grey-blue;

				.left{
					float: left;
					width: 350px;

					.floor{
						position: relative;
						width: 100%;
						height: 60px;
						border-bottom: 1px solid @d;
						padding: 15px 20px;

						&:last-child{
							border-bottom: none;
						}

						.level-text{
							position: absolute;
							left: 20px;
							top: 15px;
							color: @d;
						}
					}

					#floor1{
						background: url('../static/pig-bg.svg') no-repeat 20px center;
						background-size: auto 30px;
					}

					#floor2{
						background: url('../static/monkey-gorilla-bg.svg') no-repeat 20px center;
						background-size: auto 30px;
					}

					#floor3{
						background: url('../static/tiger-bg.svg') no-repeat 20px center;
						background-size: auto 30px;
					}

					#floor4{
						background: url('../static/mouse-bg.svg') no-repeat 20px center;
						background-size: auto 30px;
					}

					#floor5{
						background: url('../static/lion-bg.svg') no-repeat 20px center;
						background-size: auto 30px;
					}
				}

				.right{
					position: relative;
					float: left;
					width: 148px;
					height: 358px;
					background: @dark-blue;

					.elevator{
						position: absolute;
						bottom: 0;
						width: 148px;
						height: 59px;
						background: @grey-blue;
						padding: 15px 10px;
					}
				}
			}

			.animal{
				height: 30px;
				margin: 0 5px;
				cursor: pointer;
			}

			.arrows{
				position: absolute;
				right: 5px;
				top: 0px;
				width: 26px;

				.fa{
					display: block;
					font-size: 14px;
					color: @d;
					padding: 7px 7px;
					cursor: pointer;
					transition: 0.5s;
					-webkit-transition: 0.5s;

					&:hover{
						color: @f;
						transition: 0.5s;
						-webkit-transition: 0.5s;
					}
				}
			}

			.message{
				color: red;
				margin-top: 20px;
			}

			.restart{
				border: 1px solid @grey-blue;
				color: @grey-blue;
				background: transparent;
				transition: 0.5s;
				-webkit-transition: 0.5s;
				clear: both;
				cursor: pointer;
				display: block;
				padding: 10px 20px;
				width: 120px;
				margin: 0 auto;
				margin-top: 20px;

				&:hover{
					transition: 0.5s;
					-webkit-transition: 0.5s;
					color: @f;
					background: @grey-blue;
				}
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}




