@import "../../global/less/variables";


body{
	background: @light;
}
.main{
	background: @light;

	.float{
		color: red;
		position: fixed;
		right: 20px;
		top: 20px;
		font-size: 30px;
	}

	.content{
		position: relative;
		top: 80px;
		max-width: 500px;
		margin: 0 auto;
		text-align: center;

		@media (max-width: @m){
			padding-bottom: 40px;
			top: 40px;
		}

		.level-content{
			position: relative;

			.num{
				margin-bottom: 20px;
				text-align: center;

				span{
					color: @light-blue;
					display: inline-block;
					width: 80px;
					height: 30px;
					line-height: 30px;

					@media (max-width: @m){
						width: 60px;
						font-size: 14px;
					}
				}
			}

			.answer{
				text-align: center;

				span{
					color: red;
					display: inline-block;
					width: 80px;
					height: 30px;
					line-height: 30px;

					@media (max-width: @m){
						width: 60px;
						font-size: 14px;
					}
				}

				.highlight{
					color: @f;
					background: red;
				}
			}

			hr{
				margin-top: 50px;
				margin-bottom: 50px;
				border: none;
				border-top: 1px solid @light-blue;
				display: block;
			}

			.next{
				padding: 10px 20px;
				color: red;
				border: 1px solid red;
				font-size: 18px;
				cursor: pointer;
				display: block;
				width: 100px;
				text-align: center;
				margin: 0 auto;
				margin-top: 40px;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				&:hover{
					color: @f;
					background: red;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}
			}

			.hint{
				color: @dark-blue;
				font-size: 24px;
				margin-bottom: 40px;
				text-align: center;
				text-decoration: line-through;
			}

			form{
				margin-top: 40px;
			}


			

		}
	}

}


