.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: red;
  font-size: 20px;
  margin-top: 80px;
}
.main .content .level-content .hint span {
  margin: 0 20px;
}
@media (max-width: 767px) {
  .main .content .level-content .hint span {
    font-size: 14px;
    margin: 0 10px;
  }
}
.main .content .level-content .b {
  text-align: right;
  font-size: 24px;
  color: #6f7f8b;
}
.main .content .level-content .a {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  color: #6f7f8b;
}
.main .content .level-content .form {
  margin-top: 40px;
}
