.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #7599ac;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    font-size: 14px;
  }
}
.main .content .level-content .value {
  height: 40px;
  width: 80px;
  border: 1px solid #7599ac;
  font-size: 18px;
  padding: 0px 10px;
}
.main .content .level-content .value:focus {
  box-shadow: none;
  border: 1px solid #222222;
  outline: none;
}
.main .content .level-content form {
  position: relative;
}
.main .content .level-content .total {
  color: red;
  font-size: 40px;
  margin: 30px 0px;
}
.main .content .level-content .mymove {
  margin-top: 20px;
  color: #7599ac;
}
.main .content .level-content .add {
  display: inline-block;
  cursor: pointer;
  height: 42px;
  line-height: 42px;
  border: 1px solid #7599ac;
  padding: 0 20px;
  color: #7599ac;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .add:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  color: #ffffff;
  background: #7599ac;
}
.main .content .level-content .lose p {
  color: red;
  margin-bottom: 10px;
  margin-top: 20px;
}
.main .content .level-content .restart {
  display: inline-block;
  margin: 0 auto;
  height: 40px;
  padding: 0 20px;
  color: #777777;
  line-height: 40px;
  margin-top: 20px;
  cursor: pointer;
}
.main .content .level-content .restart:hover {
  color: #7599ac;
}
.main .content .level-content .disable {
  display: inline-block;
  cursor: pointer;
  height: 42px;
  line-height: 42px;
  border: 1px solid #dddddd;
  padding: 0 20px;
  color: #dddddd;
}
.main .content .level-content .form {
  margin-top: 40px;
}
