@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{
		position: relative;
		padding: 0 20px;
		max-width: 750px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.arrow{
				color: @light-blue;
				font-size: 100px;
			}

			.text-hint{
				color: @f;
				margin-bottom: 20px;
				font-size: 24px;
			}

			.hint{
				color: @f;
				font-size: 24px;
				margin-bottom: 40px;

				.i{
					width: 40px;
					height: 40px;
					text-align: center;
					line-height: 40px;

				}
			}

			.i{
				display: inline-block;
				width: 10px;
				height: 10px;
				background-color: @light-blue;
				margin: 0 3px;
			}

			.circle{
				border-radius: 50%;
			}

			.space{
				display: inline-block;
				width: 20px;

				@media (max-width: @m){
					display: block;
					height: 20px;
				}
			}


			.form{
				margin-top: 40px;
			}

		}
	}
}


