.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content p {
  font-size: 22px;
  color: #7599ac;
}
@media (max-width: 767px) {
  .main .content .level-content p {
    font-size: 16px;
  }
}
.main .content .level-content .fix {
  position: relative;
  left: -3px;
}
@media (max-width: 767px) {
  .main .content .level-content .fix {
    left: 0;
  }
}
.main .content .level-content .form {
  margin-top: 40px;
}
