body {
  background: #151b1f;
}
.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  padding: 20px 20px;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .clue {
  float: left;
  width: 30%;
  font-size: 0;
}
@media (max-width: 565px) {
  .main .content .level-content .clue {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
}
.main .content .level-content .clue img {
  width: 50px;
  display: inline-block;
  margin: 0 auto;
  background-color: #485158;
  border: 1px solid #ffffff;
  padding: 5px 5px;
}
.main .content .level-content .clue span {
  width: 50px;
  display: inline-block;
  color: #ffffff;
  font-size: 30px;
  border: 1px solid #ffffff;
  padding: 5px 5px;
}
.main .content .level-content .clue .given {
  margin-top: 120px;
  margin-bottom: 20px;
}
@media (max-width: 565px) {
  .main .content .level-content .clue .given {
    margin-top: 40px;
  }
}
.main .content .level-content .clue .solve img {
  background-color: red;
}
.main .content .level-content .clue .solve span {
  color: red;
}
.main .content .level-content .image {
  float: left;
  width: 70%;
  padding: 20px 20px;
}
@media (max-width: 565px) {
  .main .content .level-content .image {
    width: 100%;
    float: none;
  }
}
.main .content .level-content .image img {
  width: 100%;
  margin: 0 auto;
  max-width: 380px;
}
@media (max-width: 565px) {
  .main .content .level-content .image img {
    width: 280px;
    float: none;
  }
}
.main .content .level-content .form {
  margin-top: 40px;
}
