/* CSS RESET */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  -webkit-appearance: none;
  border-radius: 0px;
}
button {
  display: inline-block;
  line-height: 1;
  font-size: 18px;
  border: none;
  outline: none;
  margin: 0 0;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -webkit-appearance: none;
  border-radius: 0px;
}
.row:before,
.row:after {
  content: "";
  display: table;
  box-sizing: border-box;
}
.row:after {
  clear: both;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* END OF CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
a,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: 'Roboto', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}
body {
  background: #f6f6f6;
}
.main {
  position: absolute;
  width: 100%;
  height: 100%;
}
.level {
  opacity: 0;
  display: none;
  position: fixed !important;
  z-index: 9;
  bottom: 40px;
  left: 20px;
  color: #171b1d;
  font-size: 40px;
}
.level-content {
  opacity: 0;
  display: none;
}
.form {
  font-size: 0;
}
.form .row {
  display: inline-block;
  margin: 0 auto;
}
.form .answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #6f7f8b;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: none;
  color: #6f7f8b;
  -webkit-appearance: none !important;
  border-radius: 0px !important;
}
.form .answer-input:focus {
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  background: #6f7f8b;
  color: #ffffff;
}
.form .submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #6f7f8b;
  background: transparent;
  border: 1px solid #6f7f8b;
  border-left: none;
  font-weight: 300;
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.form .submit:hover {
  background: #6f7f8b;
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.continue_wrapper {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 90px;
  bottom: -20px;
  background: transparent;
  transition: 1s;
  -webkit-transition: 1s;
  opacity: 0;
}
@media (max-width: 767px) {
  .continue_wrapper {
    background: rgba(255, 255, 255, 0.95);
  }
}
.next_level {
  background: transparent;
  border: 1px solid #6f7f8b;
  padding: 15px 20px;
  color: #6f7f8b;
  border-radius: 0px;
  -webkit-appearance: none;
  position: fixed !important;
  z-index: 10;
  opacity: 1;
  bottom: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
@media (max-width: 767px) {
  .next_level {
    width: 80%;
    left: 10%;
  }
}
.next_level:hover {
  background: #6f7f8b;
  border: 1px solid #6f7f8b;
  color: #ffffff;
}
.header {
  position: fixed;
  width: 100%;
}
.header .main-header {
  position: relative;
  height: 22px;
  background-color: #111111;
}
.header .main-header .profile {
  position: absolute;
  z-index: 9;
  right: 20px;
  top: 4px;
  width: 14px;
  opacity: 0.8;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.header .main-header .profile:hover {
  opacity: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.header .main-header .right-text {
  position: absolute;
  z-index: 9;
  right: 0px;
  line-height: 22px;
  font-size: 12px;
  padding: 0 20px;
  color: #ffffff;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.header .main-header .right-text:hover {
  opacity: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.header .main-header .left-text {
  position: absolute;
  z-index: 9;
  display: inline-block;
  color: #ffffff;
  line-height: 22px;
  top: 0px;
  left: 20px;
  font-size: 12px;
}
.header .main-header .last-level {
  text-decoration: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.header .main-header .last-level:hover {
  color: #6f7f8b;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.header .main-header .profile-icon {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
}
.profile {
  background-color: #161616;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.profile .levels-container {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
}
.profile .levels-container .col {
  width: 25%;
  float: left;
  padding: 0 20px;
}
@media (max-width: 960px) {
  .profile .levels-container .col {
    width: 50%;
    margin-bottom: 100px;
  }
}
@media (max-width: 500px) {
  .profile .levels-container .col {
    width: 100%;
    float: none;
    margin-bottom: 100px;
  }
}
.profile .levels-container .act-number {
  text-align: center;
}
.profile .levels-container .act-number .number {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #6f7f8b;
  line-height: 40px;
  font-size: 18px;
  color: #6f7f8b;
}
.profile .levels-container .all-act-levels {
  margin-top: 40px;
}
.profile .levels-container .all-act-levels .levels-list {
  max-width: 230px;
  margin: 0 auto;
  text-align: center;
}
.profile .levels-container .all-act-levels .levels-list a {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #6f7f8b;
  margin: 5px 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: default;
}
.profile .levels-container .all-act-levels .levels-list a:hover {
  border: 1px solid #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.profile .levels-container .all-act-levels .levels-list .level-complete {
  background-color: #6f7f8b;
  cursor: pointer;
}
.profile .levels-container .all-act-levels .levels-list .level-complete:hover {
  background-color: #ffffff;
}
.profile .levels-container .all-act-levels .specials-list {
  text-align: center;
}
.profile .levels-container .all-act-levels .specials-list .triangle {
  display: inline-block;
  margin: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
  opacity: 0.1;
}
.profile .levels-container .all-act-levels .specials-list .special-complete {
  border-color: transparent transparent red transparent;
  opacity: 1;
}
.modal .close-modal {
  opacity: 0.3;
  color: #222222;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
  cursor: pointer;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSIzNTdweCIgaGVpZ2h0PSIzNTdweCIgdmlld0JveD0iMCAwIDM1NyAzNTciIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDM1NyAzNTciIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPGcgaWQ9ImNsb3NlIj4NCgkJPHBvbHlnb24gZmlsbD0iIzZGN0Y4QiIgcG9pbnRzPSIzNTcsMzUuNyAzMjEuMywwIDE3OC41LDE0Mi44IDM1LjcsMCAwLDM1LjcgMTQyLjgsMTc4LjUgMCwzMjEuMyAzNS43LDM1NyAxNzguNSwyMTQuMiAzMjEuMywzNTcgDQoJCQkzNTcsMzIxLjMgMjE0LjIsMTc4LjUgCQkiLz4NCgk8L2c+DQo8L2c+DQo8L3N2Zz4NCg==');
  background-size: 20px auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.modal .close-modal:hover {
  opacity: 0.6;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.login {
  background: rgba(255, 255, 255, 0.98);
  display: none;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
}
.login .modal-content {
  position: relative;
  top: 20%;
  max-width: 480px;
  margin: 0 auto;
  border: 1px solid #dddddd;
  padding: 20px 40px;
}
.login .modal-content p {
  text-transform: uppercase;
  color: #6f7f8b;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.login .modal-content input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #6f7f8b;
  height: 40px;
  padding: 5px 15px;
  margin-bottom: 20px;
  background-color: transparent;
  font-size: 14px;
  color: #6f7f8b;
  box-shadow: none;
  outline: none;
}
.login .modal-content input:focus {
  border: 1px solid red;
}
.login .modal-content .button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #6f7f8b;
  background-color: transparent;
  color: #6f7f8b;
  font-size: 14px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.login .modal-content .button:hover {
  background-color: #6f7f8b;
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.login .modal-content .link {
  text-align: center;
  margin-top: 40px;
}
.login .modal-content .link .modal-link {
  display: inline-block;
  text-align: center;
  color: #6f7f8b;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.login .modal-content .link .modal-link:hover {
  color: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.showModal {
  display: block !important;
}
