.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 0 0px;
  width: 100%;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .col {
  float: left;
  width: 33.333333%;
  transition: 1s;
  -webkit-transition: 1s;
  padding-bottom: 80px;
}
.main .content .level-content .on {
  background: #e4cdaa;
  transition: 1s;
  -webkit-transition: 1s;
}
.main .content .level-content .line {
  width: 4px;
  height: 150px;
  background: #6f7f8b;
  margin: 0 auto;
}
.main .content .level-content .fa-sun-o {
  font-size: 100px;
  color: #6f7f8b;
  position: relative;
  top: -5px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
@media (max-width: 767px) {
  .main .content .level-content .fa-sun-o {
    font-size: 40px;
  }
}
.main .content .level-content .sunColor {
  color: #eca22c;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .hint {
  color: #f6f6f6;
  font-size: 60px;
  margin-top: 80px;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    font-size: 30px;
  }
}
.main .content .level-content .hint span {
  display: inline-block;
  margin: 0px 20px;
}
@media (max-width: 767px) {
  .main .content .level-content .hint span {
    margin: 0 5px;
  }
}
.main .content .level-content .form {
  margin-top: 40px;
}
