@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{
		position: relative;
		width: 550px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.box-row{
				height: 60px;
				margin-bottom: 2px;
			}

			span{
				display: inline-block;
				width: 60px;
				height: 60px;
				background: #000000;
				margin: 0 1px;
				cursor: pointer;
				color: @f;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				&:hover{
					background: @light-blue;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}
			}

			.on{
				background: @blue;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				&:hover{
					background: @blue;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}
			}

			.hint{
				font-size: 24px;
				color: @light-blue;
				opacity: 1;	
				margin-top: 40px;
			}
		}
	}
}


