@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{
		position: relative;
		max-width: 1200px;
		padding: 0 20px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.col{

			}

			.left{
				margin-bottom: 20px;

				.box-row{
					height: 80px;
					margin-bottom: 2px;

					span{
						display: inline-block;
						width: 80px;
						height: 80px;
						background: #000000;
						margin: 0 1px;
						cursor: pointer;
						color: @f;
						transition: 0.5s;
						-webkit-transition: 0.5s;
						line-height: 80px;

						&:hover{
							background: red;
							transition: 0.5s;
							-webkit-transition: 0.5s;
						}
					}

					.empty{
						background: @dark-blue;

						&:hover{
							background: @dark-blue;
						}
					}

					#d{
						color: red;
					}

					#f{
						color: red;
					}

					.on{
						background: red;
						transition: 0.5s;
						-webkit-transition: 0.5s;

						&:hover{
							background: red;
							transition: 0.5s;
							-webkit-transition: 0.5s;
						}
					}

				}

				.opacity{
					opacity: 0.6;
					transition: 2s;
					-webkit-transition: 2s;
				}
			}

			.right{

				.clue-row{
					margin-bottom: 20px;

					&:last-child{
						margin-bottom: 0px;
					}

					.l{
						border-bottom: 1px solid @light-blue;
					}
					span{
						display: inline-block;
						width: 20px;
						height: 20px;
						margin: 0 10px;
						color: @light-blue;

						@media (max-width: @m){
							width: 13px;
							height: 20px;
							margin: 0 5px;
							font-size: 12px;

						}
					}
				}

				.first-row{
					.l{
						border-bottom: 1px solid red;
					}
				}




			}

			.form{
				margin-top: 40px;
			}






		}
	}
}


