@import "../../global/less/variables";

body {
  background: @dark-red;
}

.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}

.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}

span {
  display: inline-block;
  width: 20px;
}

@font-face {
    font-family: thehidden;
    src: url(hidden.ttf);
}



.num_code {
  width: auto;
  margin: 10px;
  color: red;
}

.hint{
  color: @f;
}

.code{
  color: red;
}


.clue,.hint,.code{
  font-size: 24px;
}

.form{
  margin-top: 40px;
}
