@import "../../global/less/variables";

body {
  background: @dark-red;
}

.content{
  padding: 40px 0;
}

.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}

.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}

.content{
  position: relative;
  top: 10%;
}

span {
  display: inline-block;
  width: 20px;
}

@font-face {
  font-family: creatures;
  src: url(CREATURE.TTF);
}

.creatures {
  font-family: creatures;
  cursor: pointer;
  font-size: 50px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  color: @f;
  opacity: 0.8;

  &:hover{
    background: @c7;
    opacity: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
}

.hint{
  margin-bottom: 10px;
}

.hint{
  color: @f;
}

.selected {
  background-color: red;
  color: white;
  transition: 0.5s;
  -webkit-transition: 0.5s;

  &:hover{
    background-color: red;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  width: 75px;
  height: 75px;
  text-align: center;
  vertical-align: middle;
}

img.resize {
  width: 250px; /* you can use % */
  height: auto;
}

.message {
  display: inline-block;
  margin: 5px;
  width: auto
}