@import "../../global/less/variables";

.main{
	background: @light;

	.content{
		position: relative;
		max-width: 600px;
		padding: 0 20px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.hint{
				color: @light-blue;
				font-size: 18px;

				@media (max-width: @m){
					font-size: 14px;
				}

				span{
					display: inline-block;
					margin: 0 10px;

					@media (max-width: @m){
						margin: 0 5px;
					}
				}
			}

			hr{
				margin: 20px 0px;
				border: none;
				border-top: 1px solid @light-blue;
			}


			.clue{
				color: @dark-blue;
				font-size: 24px;
				margin-bottom: 40px;

				@media (max-width: @m){
					font-size: 18px;
				}
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


