body {
  background: #eaf0f8;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
  margin-bottom: 5%;
}
button {
  background-color: transparent;
  border: solid 1px;
  border-radius: 5%;
}
em {
  font-weight: 600;
}
p {
  margin: 1%;
}
li {
  font-weight: 600;
}
em {
  font-weight: bolder;
}
h5 {
  margin: 2%;
}
.truth_table {
  font-size: 80%;
  display: inline-block;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
}
h2 {
  font-weight: bold;
}
#truth {
  float: none;
  display: inline-block;
}
.legend p span {
  color: #171b1d;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #6f7f8b;
  line-height: 40px;
  margin: 0 10px;
  font-weight: 700;
}
.example {
  color: #6f7f8b;
  margin-top: 20px;
  margin-bottom: 40px;
}
.instruction {
  margin-top: 40px;
  margin-bottom: 20px;
  color: red;
}
.truth_table_cells {
  border: solid 1px;
  vertical-align: middle;
  padding: 8px 8px;
  font-size: 14px;
  text-align: center;
  min-width: 25px;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}
.message {
  display: inline-block;
  margin: 5px;
  width: auto;
}
.content {
  position: relative;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .content {
    margin-top: 40px;
  }
}
.success_text {
  color: #5ba917;
  margin-bottom: 5px;
}
.next-button {
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
  min-width: 100px;
}
.next-button:hover {
  color: #ffffff;
  background: #485158;
  transition: .5s;
  -webkit-transition: .5s;
}
.form {
  margin-top: 10px;
}
