.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  width: 550px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .box-row {
  height: 60px;
  margin-bottom: 2px;
}
.main .content .level-content span {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #000000;
  margin: 0 1px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content span:hover {
  background: #485158;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .on {
  background: #2880ae;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .on:hover {
  background: #2880ae;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .hint {
  font-size: 24px;
  color: #485158;
  opacity: 1;
  margin-top: 40px;
}
