body {
  background: #221e20;
}
.main {
  background: #221e20;
  font-family: "Lucida Console", Monaco, monospace !important;
}
.main .content {
  position: relative;
  margin: 0 auto;
  text-align: center;
  max-width: 480px;
  z-index: 2;
}
.main .content .level-content {
  position: relative;
  padding: 20px 20px;
  font-size: 0;
}
@media (max-width: 767px) {
  .main .content .level-content {
    padding: 20px 10px;
  }
}
.main .content .level-content .card-base {
  display: inline-block;
  width: 80px;
  height: 100px;
  background: #ebe5d7;
  background-size: 50px 50px;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  line-height: 95px;
  margin: 10px 10px;
  border: 2px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 767px) {
  .main .content .level-content .card-base {
    width: 50px;
    height: 60px;
    line-height: 55px;
    background-size: 34px 34px;
    font-size: 13px;
  }
}
.main .content .level-content .card-base:hover {
  background-color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .hint {
  display: inline-block;
  padding: 15px 15px;
  font-weight: 700;
  margin-bottom: 20px;
  background: #ffffff;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    padding: 10px 10px;
  }
}
.main .content .level-content .hint .box {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #000000;
  line-height: 60px;
  font-size: 14px;
  color: #000000;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .main .content .level-content .hint .box {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
.main .content .level-content .hint .cardhint {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url('../static/spade.svg') center center no-repeat;
  background-color: #ffffff;
  background-size: 40px 40px;
  line-height: 60px;
  color: #ffffff;
  font-size: 14px;
}
@media (max-width: 767px) {
  .main .content .level-content .hint .cardhint {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
.main .content .level-content .selected {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid red;
}
.main .content .level-content .btn {
  padding: 10px 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  font-size: 18px;
  display: inline-block;
  margin: 0 10px;
  margin-top: 20px;
  cursor: pointer;
}
.main .content .level-content .answer {
  color: #6f7f8b;
  border: 1px solid #6f7f8b;
}
.main .content .level-content .answer:hover {
  color: #ffffff;
  background: #6f7f8b;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .reset {
  color: red;
  border: 1px solid red;
}
.main .content .level-content .reset:hover {
  color: #ffffff;
  background: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .count {
  position: absolute;
  right: 20px;
  top: 20px;
  color: red;
  font-size: 30px;
}
.main .moves {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #6f7f8b;
  font-size: 30px;
}
.spade {
  position: absolute;
  background: url('../static/spade-w.svg') no-repeat center center;
  background-size: 90% 90%;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  opacity: 0.02;
}
.heart {
  position: absolute;
  background: url('../static/heart.svg') no-repeat center center;
  background-size: 90% 90%;
  width: 50%;
  height: 50%;
  top: 0;
  left: 50%;
  opacity: 0.02;
}
.club {
  position: absolute;
  background: url('../static/club-w.svg') no-repeat center center;
  background-size: 90% 90%;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  opacity: 0.02;
}
.diamond {
  position: absolute;
  background: url('../static/diamond.svg') no-repeat center center;
  background-size: 90% 90%;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 0%;
  opacity: 0.02;
}
