body {
  width: 100%;
  height: 100vh;
  background-image: url('../static/image.jpg');
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow-y: hidden;
}
.main .content {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
  min-width: 900px;
  width: 100%;
  height: 100vh;
}
.main .content .level-content .land {
  position: absolute;
  width: 1600px;
  position: fixed;
  left: 50%;
  margin-left: -800px;
  bottom: 35px;
}
.main .content .level-content #elemental-wrapper {
  position: absolute;
  background: #151b1f;
  height: 120px;
  bottom: 0;
  width: 100%;
  min-width: 900px;
}
.main .content .level-content .windmill {
  position: relative;
  top: -150px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .windmill:hover {
  opacity: 0.5;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .windmill .mill {
  position: relative;
  z-index: 2;
  width: 60px;
  display: block;
  margin: 0 auto;
}
.main .content .level-content .windmill .wind {
  position: absolute;
  z-index: 1;
  top: 10px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
}
.main .content .level-content #start {
  opacity: 1 !important;
}
.main .content .level-content #start:hover {
  opacity: 1;
}
.main .content .level-content .col {
  float: left;
  width: 20%;
  height: 120px;
}
.main .content .level-content .col .element {
  display: block;
  margin: 0 auto;
  height: 80px;
  opacity: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
@media (max-width: 767px) {
  .main .content .level-content .col .element {
    width: 40px;
  }
}
.main .content .level-content .col .button {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #485158;
  border-radius: 50%;
  margin-top: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 767px) {
  .main .content .level-content .col .button {
    margin-top: 0px;
  }
}
.main .content .level-content .col .button:hover {
  border: 2px solid #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .hint {
  font-size: 30px;
  color: #ffffff;
  opacity: 1;
  position: absolute;
  bottom: 40px;
  z-index: 3;
  width: 100%;
  text-align: center;
}
.main .content .level-content .a {
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 20px;
}
.main .content .level-content .fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
