.main {
  background: #eaf0f8;
}
.main .content {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 0 10px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  font-size: 18px;
  color: #171b1d;
  margin-bottom: 20px;
  line-height: 1.5;
}
.main .content .level-content .ans {
  color: red;
}
.main .content .level-content .form {
  margin-top: 40px;
}
