.content {
  position: relative;
  top: 150px;
  height: 100%;
}
@media (max-width: 767px) {
  .content {
    top: 100px;
  }
}
.ball_game {
  display: inline-block;
  position: relative;
  left: 50%;
  margin-left: -160px;
}
.ball_game rect {
  cursor: pointer;
}
