.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  max-width: 750px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 40px;
}
.main .content .level-content .image {
  height: 300px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .main .content .level-content .image {
    width: 100%;
  }
}
.main .content .level-content .form {
  position: relative;
  margin-top: 40px;
}
