@import "../../global/less/variables";


body{
	width: 100%;
	height: 100vh;
	background: url('../static/everest.jpg') no-repeat center center;
	background-size: cover;
}
.main{
	

	.content{
		position: relative;
		top: 28%;
		max-width: 500px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;


			.col{
				float: left;
				width: 50%;

				p{
					margin-bottom: 10px;
					font-size: 30px;

					@media(max-width: @m){
						font-size: 20px;
					}
				}


				.c{
					color: red;
				}

				.a{
					color: @grey-blue;
				}
			}

			hr{
				width: 150px;
				margin: 0 auto;
				margin-bottom: 10px;

				@media(max-width: @m){
					width: 100px;
				}
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


