@import "../../global/less/variables";

body{
	background: @light;
}
.main{
	

	.content{
		position: relative;
		top: 28%;
		max-width: 500px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.sum{
				margin-bottom: 80px;
				span{
					display: inline-block;
					width: 40px;
					color: red;
				}
			}

			.hint{
				color: @light-blue;
				margin-bottom: 20px;
				font-size: 24px;
			}
			
			.ring-super{
				position: relative;
				width: 100%;
				height: 360px;
				top: 80px;

				.ring{
					color: @light-blue;
					cursor: pointer;
					margin-left: -15px;
				}
			}

			.ring-wrapper-1{
				position: absolute;
				left: 50%;
				z-index: 5;
				cursor: default;

				.ring{
					display: inline-block;
					width: 30px;
					height: 120px;
					position: absolute;
					padding-top: 10px;
				}
			}

			.ring-wrapper-2{
				position: absolute;
				top: -40px;
				left: 50%;
				z-index: 4;

				&:hover{
					.ring{
						color: red;
					}
				}

				.ring{
					display: inline-block;
					width: 30px;
					height: 200px;
					position: absolute;
					padding-top: 10px;
				}
			}

			.ring-wrapper-3{
				position: absolute;
				top: -80px;
				left: 50%;
				z-index: 3;

				&:hover{
					.ring{
						color: red;
					}
				}

				.ring{
					display: inline-block;
					width: 30px;
					height: 280px;
					position: absolute;
					padding-top: 10px;
				}
			}

			.ring-wrapper-4{
				position: absolute;
				top: -120px;
				left: 50%;
				z-index: 2;

				&:hover{
					.ring{
						color: red;
					}
				}

				.ring{
					display: inline-block;
					width: 30px;
					height: 360px;
					position: absolute;
					border: 1px solid @grey-blue;
					padding-top: 10px;
				}
			}

			.rotate0{
			    -ms-transform: rotate(0deg); /* IE 9 */
			    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
			    transform: rotate(0deg);				
			}

			.rotate60{
			    -ms-transform: rotate(60deg); /* IE 9 */
			    -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
			    transform: rotate(60deg);				
			}

			.rotate120{
			    -ms-transform: rotate(120deg); /* IE 9 */
			    -webkit-transform: rotate(120deg); /* Chrome, Safari, Opera */
			    transform: rotate(120deg);				
			}

			.rotate180{
			    -ms-transform: rotate(180deg); /* IE 9 */
			    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
			    transform: rotate(180deg);				
			}

			.rotate240{
			    -ms-transform: rotate(240deg); /* IE 9 */
			    -webkit-transform: rotate(240deg); /* Chrome, Safari, Opera */
			    transform: rotate(240deg);				
			}

			.rotate300{
			    -ms-transform: rotate(300deg); /* IE 9 */
			    -webkit-transform: rotate(300deg); /* Chrome, Safari, Opera */
			    transform: rotate(300deg);				
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


