.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #6f7f8b;
  margin-bottom: 40px;
  font-size: 20px;
}
.main .content .level-content .hint span {
  font-weight: 700;
  font-style: italic;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    font-size: 18px;
  }
}
.main .content .level-content .top-row {
  margin-bottom: 10px;
}
.main .content .level-content .sec {
  display: inline-block;
  margin: 0 20px;
}
@media (max-width: 767px) {
  .main .content .level-content .sec {
    margin: 0 10px;
  }
}
.main .content .level-content .sec span {
  display: inline-block;
  width: 20px;
  font-size: 24px;
}
@media (max-width: 767px) {
  .main .content .level-content .sec span {
    font-size: 14px;
  }
}
.main .content .level-content .d {
  color: red;
}
.main .content .level-content .m {
  color: red;
}
.main .content .level-content .s {
  color: red;
}
.main .content .level-content hr {
  margin: 20px 0px;
}
.main .content .level-content .form {
  margin-top: 40px;
}
