.main {
  background: #221e20;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
@media (max-width: 767px) {
  .main .content .level-content {
    padding: 20px 0px;
  }
}
.main .content .level-content .hint {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 20px;
  text-decoration: line-through;
}
.main .content .level-content .col {
  float: left;
  width: 33.3333%;
}
.main .content .level-content .col img {
  display: block;
  width: 100px;
  margin: 10px auto;
  border: 2px solid transparent;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
@media (max-width: 767px) {
  .main .content .level-content .col img {
    width: 80px;
  }
}
.main .content .level-content .col img:hover {
  opacity: 1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .col .select {
  border: 2px solid #ffffff;
}
.main .content .level-content .btn {
  display: inline-block;
  color: #6f7f8b;
  border: 1px solid #6f7f8b;
  background: transparent;
  padding: 10px 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  margin-top: 40px;
  cursor: pointer;
}
.main .content .level-content .btn:hover {
  color: #ffffff;
  background: #6f7f8b;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .form {
  margin-top: 40px;
}
.main .num {
  position: fixed;
  right: 30px;
  top: 30px;
  font-size: 30px;
  color: red;
}
