@import "../../global/less/variables";


body{
	background: url('../static/bg.jpg') repeat-x center center;
	width: 12000px;
	height: 12000px;
}

.boat{
	position: absolute;
	top: 5863px;
	left: 6075px;
	width: 150px;
}

.boat-reflection{
	position: absolute;
	top: 6000px;
	left: 6075px;
	width: 150px;
	opacity: 0.1;
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
}

.island{
	position: absolute;
	top: 5840px;
	left: 5200px;
	width: 500px;
}

.island-reflection{
	position: absolute;
	top: 6000px;
	left: 5200px;
	width: 500px;
	opacity: 0.1;
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
}

.sun{
	position: absolute;
	top: 7500px;
	left: 9000px;
	width: 300px;
	opacity: 0.1;
}

.water{
	position: absolute;
	top: 4200px;
	left: 9000px;
	width: 300px;
	cursor: pointer;
	opacity: 0;

}

.bottle{
	position: absolute;
	top: 7000px;
	left: 8000px;
	width: 500px;
	height: 50px;
}

.sub{
	position: absolute;
	top: 10000px;
	left: 9000px;
	width: 500px;
	height: 150px;
}

.hint{
	position: absolute;
	top: 5700px;
	left: 6075px;
	width: 300px;
	font-size: 30px;
}

