@import "../../global/less/variables";

.main{
	background: @dark-red;

	.content{
		position: relative;
		top: 28%;
		max-width: 500px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.image{
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 400px;
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


