@import "../../global/less/variables";

body {
  background: @f6;
}

.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}

.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}


.numbers {
  color: @light-blue;
  font-size: 18px;
}

.red {
  color: red;
  opacity: 0.8;
  font-weight: bolder;
  font-size: 20px;
}

span {
  display: inline-block;
  width: 30px;

  @media (max-width: @m){
    display: block;
    text-align: center;
    width: 100%;

    .fa{
      display: block;
      margin: 10px auto;
    }
  }
}

.puzzle{
  display: inline-block;
  width: 30px;
}

button {
  border: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  opacity: 0.8;
  background: transparent;
  border-radius: 10%;
}

.reset{
  padding: 10px 20px;
  border-radius: 0px;
  margin-top: 40px;
  -webkit-appearance: none;
  border: 1px solid @light-blue !important;
  color: @light-blue;


  &:hover{
    background: @light-blue;
    border: 1px solid @light-blue;
    color: @f;
  }
}

.fa {
  cursor: pointer;
}