@import "../../global/less/variables";

body{
	background: @dark-red;
}


.main{
	background: @dark-red;

	.content{
		position: relative;		
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;
			padding: 20px 20px;

			.playground{
				height: 40px;
				font-size: 24px;
				color: @light-blue;
				border: none;
				border-bottom: 2px solid @light-blue;
				outline: none;
				background: transparent;
				text-align: center;
			}

			.output{
				color: @f;
				height: 40px;
				font-size: 24px;

				span{
					display: inline-block;
					width: 24px;
					height: 24px;

				}
			}



			.red{
				display: inline-block;
				background: red;
				border-radius: 50%;
			}

			.hint{
				font-size: 24px;
				color: @light-blue;
				margin-bottom: 20px;

				span{
					color: red;
				}
			}

			form{
				margin-top: 40px;
			}

		}
	}

}


