body {
  width: 100%;
  height: 100vh;
  background: url('../static/everest.jpg') no-repeat center center;
  background-size: cover;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .col {
  float: left;
  width: 50%;
}
.main .content .level-content .col p {
  margin-bottom: 10px;
  font-size: 30px;
}
@media (max-width: 767px) {
  .main .content .level-content .col p {
    font-size: 20px;
  }
}
.main .content .level-content .col .c {
  color: red;
}
.main .content .level-content .col .a {
  color: #7599ac;
}
.main .content .level-content hr {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .main .content .level-content hr {
    width: 100px;
  }
}
.main .content .level-content .form {
  margin-top: 40px;
}
