@import "../../global/less/variables";

.main{
	background: @f6;

	.content{
		position: relative;
		top: 28%;
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.hint{
				color: @light-blue;
				margin-bottom: 40px;
				font-size: 20px;

				span{
					font-weight: 700;
					font-style: italic;
				}
				@media (max-width: @m){
					font-size: 18px;
				}
			}

			.top-row{
				margin-bottom: 10px;
			}

			.sec{
				display: inline-block;
				margin: 0 20px;

				@media (max-width: @m){
					margin: 0 10px;
				}

				span{
					display: inline-block;
					width: 20px;
					font-size: 24px;

					@media (max-width: @m){
						font-size: 14px;
					}
				}
			}

			.d{
				color: red;
			}

			.m{
				color: red;
			}

			.s{
				color: red;
			}

			hr{
				margin: 20px 0px;
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


