@import "../../global/less/variables";

.main{
	background: @dark-red;

	.content{
		position: relative;
		max-width: 750px;
		padding: 0 20px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.hint{
				color: @f;
				font-size: 24px;
				margin-bottom: 40px;
			}

			.text{
				color: @light-blue;
				opacity: 0.8;
				font-size: 30px;
				margin-bottom: 10px;

				@media (max-width: @m){
					font-size: 14px;
				}

				span{
					margin: 20px;

					@media (max-width: @m){
						margin: 10px;
					}
				}
			}
			.form{
				margin-top: 40px;
			}

		}
	}
}


