.main {
  background: #eaf0f8;
}
.main .content {
  position: relative;
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .col {
  width: 20%;
  float: left;
}
.main .content .level-content .col .image {
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .main .content .level-content .col .image {
    height: 36px;
  }
}
.main .content .level-content .col .hint {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  display: inline-block;
  border-bottom: 1px solid #6f7f8b;
}
@media (max-width: 767px) {
  .main .content .level-content .col .hint {
    height: 36px;
    width: 36px;
  }
}
.main .content .level-content .col .hint img {
  height: 24px;
  display: inline-block;
  margin: 0 auto;
}
.main .content .level-content .form {
  margin-top: 40px;
}
