/* CSS RESET */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  -webkit-appearance: none;
  border-radius: 0px;
}
button {
  display: inline-block;
  line-height: 1;
  font-size: 18px;
  border: none;
  outline: none;
  margin: 0 0;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -webkit-appearance: none;
  border-radius: 0px;
}
.row:before,
.row:after {
  content: "";
  display: table;
  box-sizing: border-box;
}
.row:after {
  clear: both;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* END OF CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
a,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: 'Roboto', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}
body {
  background: #f6f6f6;
}
.main {
  position: absolute;
  width: 100%;
  height: 100%;
}
.level {
  opacity: 0;
  display: none;
  position: fixed;
  z-index: 9;
  bottom: 40px;
  left: 20px;
  color: #ffffff;
  font-size: 40px
    ;
}
.level-content {
  opacity: 0;
  display: none;
}
.form {
  font-size: 0;
}
.form .row {
  display: inline-block;
  margin: 0 auto;
}
.form .answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #6f7f8b;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: none;
  color: #6f7f8b;
  -webkit-appearance: none !important;
  border-radius: 0px !important;
}
.form .answer-input:focus {
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  background: #6f7f8b;
  color: #ffffff;
}
.form .submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #6f7f8b;
  background: transparent;
  border: 1px solid #6f7f8b;
  border-left: none;
  font-weight: 300;
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.form .submit:hover {
  background: #6f7f8b;
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.continue_wrapper {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 90px;
  bottom: -20px;
  background: transparent;
  transition: 1s;
  -webkit-transition: 1s;
  opacity: 0;
}
@media (max-width: 767px) {
  .continue_wrapper {
    background: rgba(0, 0, 0, 0.95);
  }
}
.next_level {
  background: transparent;
  border: 1px solid #6f7f8b;
  padding: 15px 20px;
  color: #6f7f8b;
  border-radius: 0px;
  -webkit-appearance: none;
  position: fixed !important;
  z-index: 10;
  opacity: 1;
  bottom: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
@media (max-width: 767px) {
  .next_level {
    width: 80%;
    left: 10%;
  }
}
.next_level:hover {
  background: #6f7f8b;
  border: 1px solid #6f7f8b;
  color: #ffffff;
}
