body {
  background: #151b1f;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
  -webkit-appearance: none;
  border-radius: 0px;
}
.clue {
  color: #485158;
  font-style: italic;
  line-height: 36px;
  font-size: 24px;
  letter-spacing: 3px;
}
.reversed {
  display: inline-block;
}
.form {
  margin-top: 40px;
}
.numbers {
  color: white;
  opacity: 0.8;
}
