.main {
  background: #151b1f;
}
.main .content .level-content .center {
  position: absolute;
  width: 100%;
}
.main .content .level-content .center p {
  position: relative;
  top: 100px;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  z-index: 2;
}
.main .content .level-content .left {
  position: relative;
  width: 50%;
  background-color: #2f2525;
  float: left;
  padding: 200px 10px;
}
.main .content .level-content .left .circles span {
  border: 1px solid #79a1ff;
}
.main .content .level-content .right {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #25282f;
  float: left;
  padding: 200px 10px;
}
.main .content .level-content .right .circles span {
  border: 1px solid red;
}
.main .content .level-content .image {
  width: 200px;
  margin: 0 auto;
  display: block;
}
.main .content .level-content .circles {
  font-size: 0;
  text-align: center;
  margin-top: 50px;
}
.main .content .level-content .circles span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
  color: #ffffff;
}
.main .content .level-content .circles span:hover {
  background-color: #ffffff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
