body {
  background: #221e20;
}
.main {
  background: #221e20;
}
.main .content {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
  padding: 20px 20px;
}
.main .content .level-content .playground {
  height: 40px;
  font-size: 24px;
  color: #6f7f8b;
  border: none;
  border-bottom: 2px solid #6f7f8b;
  outline: none;
  background: transparent;
  text-align: center;
}
.main .content .level-content .output {
  color: #ffffff;
  height: 40px;
  font-size: 24px;
}
.main .content .level-content .output span {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.main .content .level-content .red {
  display: inline-block;
  background: red;
  border-radius: 50%;
}
.main .content .level-content .hint {
  font-size: 24px;
  color: #6f7f8b;
  margin-bottom: 20px;
}
.main .content .level-content .hint span {
  color: red;
}
.main .content .level-content form {
  margin-top: 40px;
}
