.main {
  background: #221e20;
}
.main .content {
  position: relative;
  z-index: 2;
  top: 28%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
  z-index: 2;
}
.main .content .level-content .image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 150px;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .main .content .level-content .image {
    max-width: 120px;
  }
}
.main .content .level-content .form {
  margin-top: 40px;
  position: relative;
  z-index: 2;
}
.bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url('../static/gridbg.png') no-repeat center center;
  background-size: cover;
  top: 0;
  opacity: 0.05;
}
