@import "../../global/less/variables";

@blue: #42679e;
@red: #9e4242;
@green: #469e42;
@yellow: #9e8142;

body{
	background: @dark-red;
}
.main{
	height: auto;

	.content{
		position: relative;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;
			padding: 0px 0px;
			overflow-y: hidden;
			width: 700px;
			margin: 0 auto;

			.clue{
				display: none;
				font-size: 18px;
				color: @f;
				text-align: left;
				margin-top: 20px;
				margin-left: 20px;
				@media (max-width: @m){
					display: block;
				}
			}

			.hint{
				position: relative;
				top: 40px;
				color: @grey-blue;
				text-align: center;
			}

			.main-wrapper{
				width: 664px;
				height: 500px;
				background: url('../static/bg.jpg');
				background-size: 650px 500px;
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -325px;

				.main{
					position: relative;
					-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
					-moz-box-shadow:    inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
					box-shadow:         inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

					.col{
						position: relative;
						float: left;
						width: 25%;
						text-align: center;
						height: 500px;
					}

					.blue-section{
						// background: rgba(66, 103, 158, 0.05);

						.ball{
							background: @blue;
						}

						.fa-arrow-down{
							color: @blue;
						}

						.button{
							background: @blue;
						}
					}

					.red-section{
						// background: rgba(158, 66, 66, 0.05);

						.ball{
							background: @red;
						}

						.fa-arrow-down{
							color: @red;
						}

						.button{
							background: @red;
						}
					}

					.green-section{
						// background: rgba(70, 158, 66, 0.05);

						.ball{
							background: @green;
						}

						.fa-arrow-down{
							color: @green;
						}

						.button{
							background: @green;
						}
					}

					.yellow-section{
						// background: rgba(158, 129, 66, 0.05);

						.ball{
							background: @yellow;
						}

						.fa-arrow-down{
							color: @yellow;
						}

						.button{
							background: @yellow;
						}
					}

					.down{
						position: relative;
						top: 20px;
					}

					.fa-arrow-down{
						opacity: 0.10;
						transition: 0.5s;
						-webkit-transition: 0.5s;
						cursor: pointer;
						font-size: 24px;
						padding: 5px 5px;
						color: @f !important;

						&:hover{
							opacity: 0.5;
							transition: 0.5s;
							-webkit-transition: 0.5s;

						}
					}

					.button{
						position: absolute;
						bottom: 0px;
						left: 50%;
						margin-left: -25px;
						width: 50px;
						height: 30px;
						display: inline-block;
						text-align: center;
						color: rgba(255, 255, 255, 0.5);
						font-size: 10px;
						line-height: 30px;
						border-radius: 0px 0px 10px 10px;
						z-index: 4;
					}


					.ball{
						position: absolute;
						top: 50px;
						left: 50%;
						margin-left: -15px;
						z-index: 2;
						display: inline-block;
						width: 30px;
						height: 30px;
						border-radius: 50%;
						-webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
						-moz-box-shadow:    0px 5px 10px 0px rgba(0, 0, 0, 0.25);
						box-shadow:         0px 5px 10px 0px rgba(0, 0, 0, 0.25);
					}

					.key{
						position: relative;
						height: 30px;
						width: 100%;
						z-index: 3;
						opacity: 0.25;
					}

					.firstkey{
						top: 80px;
					}

					.secondkey{
						top: 160px;
					}

					.thirdkey{
						top: 240px;
					}

					.bluekey{
						background: @blue;
					}

					.redkey{
						background: @red;
					}

					.greenkey{
						background: @green;
					}

					.yellowkey{
						background: @yellow;
					}

					.lock{
						position: relative;

						.leftpin{
							position: absolute;
							left: 0;
							top: 0;
							width: 10px;
							height: 8px;
							background: black;
						}

						.rightpin{
							position: absolute;
							right: 0;
							top: 0;
							width: 10px;
							height: 8px;
							background: black;
						}

						.middlebar{
							position: absolute;
							left: 0;
							right: 0;
							top: 2px;
							width: 166px;
							height: 4px;
							background: black;
						}
					}

					.firstlock{
						top: 115px;
					}

					.secondlock{
						top: 195px;
					}

					.thirdlock{
						top: 280px;
					}

					.bluelock{
						.leftpin,.rightpin,.middlebar{
							background: @blue;
						}
					}

					.redlock{
						.leftpin,.rightpin,.middlebar{
							background: @red;
						}
					}

					.greenlock{
						.leftpin,.rightpin,.middlebar{
							background: @green;
						}
					}

					.yellowlock{
						.leftpin,.rightpin,.middlebar{
							background: @yellow;
						}
					}


				}
			}
		}
	}
}


.continue_wrapper{
  @media (max-width: @m){
    top: 0px !important;
  }

  .next_level{

    @media (max-width: @m){
      width: 280px;
      top: 20px !important;
      left: 20px;
      bottom: initial;
    }
  }
}