.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .col .image {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
}
.main .content .level-content .col .hint {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  display: inline-block;
  border-bottom: 1px solid #485158;
}
.main .content .level-content .col .hint img {
  height: 30px;
  display: inline-block;
  margin: 0 auto;
}
.main .content .level-content .form {
  margin-top: 40px;
}
