.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  max-width: 450px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .col {
  position: relative;
  float: left;
  width: 33.3333333%;
  margin-bottom: 140px;
}
@media (max-width: 767px) {
  .main .content .level-content .col {
    margin-bottom: 80px;
  }
}
.main .content .level-content .circle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: #485158;
  border-radius: 50%;
  box-shadow: 0 0 5px white;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .circle:hover {
  background: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .glow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  background-color: orange;
  border-radius: 50%;
  box-shadow: 0 0 5px white;
  animation: box 3s infinite ease-in-out;
  -webkit-animation: box 3s infinite ease-in-out;
}
@keyframes box {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    color: white;
    background-color: orange;
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: orange;
    box-shadow: 0 0 60px #2880ae;
    color: black;
  }
}
@-webkit-keyframes box {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    color: white;
    background-color: orange;
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: orange;
    box-shadow: 0 0 60px #2880ae;
    color: black;
  }
}
.main .content .level-content .hint {
  font-size: 24px;
  color: #ffffff;
  opacity: 1;
}
