body {
  background: #221e20;
}
.main .content {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
  z-index: 3;
  padding: 20px 20px;
}
.main .content .level-content .level-area {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
}
.main .content .level-content .level-area .tile {
  width: 92px;
  height: 92px;
  display: inline-block;
  margin: 2px 2px;
  background: #6f7f8b;
  line-height: 92px;
  color: #ffffff;
  font-size: 30px;
}
@media (max-width: 767px) {
  .main .content .level-content .level-area .tile {
    width: 62px;
    height: 62px;
    line-height: 62px;
    font-size: 18px;
  }
}
.main .content .level-content .level-area .tile:hover {
  cursor: pointer;
  background: #221e20;
}
.main .content .level-content .level-area .select {
  background: red;
}
#canvas {
  position: absolute;
  z-index: 2;
}
