@import "../../global/less/variables";

body {
  background: @light;
  height: 100vh;
}

.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}

.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}


span {
  display: inline-block;
  width: 20px;
  color: @dark-blue;
  font-size: 24px;
  line-height: 40px;  
}

.content{
  position: relative;
  top: 50%;
  width: 650px;
  margin: 0 auto;
}

.content > div > div:last-child{
  margin-top: 10px;
}

.continue_wrapper{
  @media (max-width: @m){
    top: 0px !important;
  }

  .next_level{

    @media (max-width: @m){
      width: 280px;
      top: 20px !important;
      left: 20px;
      bottom: initial;
    }
  }
}


.form{
  margin-top: 40px;
}
