@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{
		position: relative;
		max-width: 600px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.col{

				.image{
					width: 300px;
					height: 200px;
					position: absolute;
					top:0;
				}

				.hint{
					height: 40px;
					width: 40px;
					margin: 0 auto;
					display: inline-block;
					border-bottom: 1px solid @light-blue;

					img{
						height: 30px;
						display: inline-block;
						margin: 0 auto;
						
					}
				}
			}


			.form{
				margin-top: 40px;
			}

		}
	}
}


