.main {
  background: #151b1f;
}
.main .content {
  position: relative;
  padding: 0 20px;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .arrow {
  color: #485158;
  font-size: 100px;
}
.main .content .level-content .hint {
  color: #ffffff;
  font-size: 24px;
}
.main .content .level-content .form {
  margin-top: 40px;
}
.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
