@import "../../global/less/variables";

.main{
	background: @f6;

	.content{
		position: relative;
		top: 50px;
		max-width: 750px;
		margin: 0 auto;
		text-align: center;
		padding: 20px 20px;

		.level-content{
			position: relative;

			.hint{
				color: @grey-blue;
				margin-bottom: 20px;
			}
			
			img{
				max-width: 500px;
				width: 100%;
				display: block;
				margin: 0 auto;
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


