body {
  background: #eaf0f8;
}
.main {
  font-family: "Lucida Console", Monaco, monospace !important;
}
.main .content {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
  padding: 20px 20px;
}
.main .content .level-content .clue {
  color: red;
  font-size: 24px;
}
.main .content .level-content .hint {
  font-size: 24px;
  color: #6f7f8b;
  margin-bottom: 20px;
}
.main .content .level-content form {
  margin-top: 40px;
}
