@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{


		.level-content{

			.center{
				position: absolute;
				width: 100%;
				p{
					position: relative;
					top: 100px;
					text-align: center;
					font-size: 30px;
					color: @f;
					z-index: 2;
				}

			}
			.left{
				position: relative;
				width: 50%;
				background-color: #2f2525;
				float: left;
				padding: 200px 10px;

				.circles{
					span{
						border: 1px solid #79a1ff;
					}
				}
			}

			.right{
				position: relative;
				width: 50%;
				height: 100%;
				background-color: #25282f;
				float: left;
				padding: 200px 10px;

				.circles{
					span{
						border: 1px solid red;
					}
				}
			}

			.image{
				width: 200px;
				margin: 0 auto;
				display: block;

			}

			.circles{
				font-size: 0;
				text-align: center;
				margin-top: 50px;

				span{
					display: inline-block;
					width: 25px;
					height: 25px;
					margin: 0px 10px;
					border-radius: 50%;
					cursor: pointer;
					transition: 0.3s;
					-webkit-transition: 0.3s;
					font-size: 12px;
					text-align: center;
					line-height: 25px;
					color: @f;

					&:hover{
						background-color: @f;
						transition: 0.3s;
						-webkit-transition: 0.3s;
					}
				}
			}
		}
	}
}


