@import "../../global/less/variables";

.main{
	background: @f;
	position: fixed;
	overflow: hidden;

	.content{
		position: relative;		
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;
			

			.start{
				position: relative;
				z-index: 2;
				color: @dark-blue;
				border: 1px solid @dark-blue;
				padding: 10px 20px;
				cursor: pointer;
				transition: 0.5s;
				-webkit-transition: 0.5s;

				&:hover{
					color: @f;
					background: @dark-blue;
					cursor: pointer;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}
			}

			.reset{
				display: inline-block;
				position: relative;
				z-index: 2;
				color: red;
				border: 1px solid red;
				padding: 10px 20px;
				cursor: pointer;
				transition: 0.5s;
				-webkit-transition: 0.5s;
				margin-bottom: 20px;
				
				&:hover{
					color: @f;
					background: red;
					cursor: pointer;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}
			}

			.hint{
				position: relative;
				z-index: 2;
				font-size: 18px;
				color: @f;
				text-align: center;
				display: none;

				@media (max-width: @m){
					font-size: 16px;
				}

			}

			.form{
				position: relative;
				z-index: 2;
				margin-top: 40px;
			}
		}
	}

	#counter{
		color: red;
		position: fixed;
		top: 30px;
		right: 30px;
		font-size: 30px;
	}

	.area{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
	}

	.circle{
		position: absolute;
		width: 100px;
		height: 100px;
		display: inline-block;
		background: @dark-red;
		border-radius: 50%;
	}
}


