body {
  background: #eaf0f8;
}
.main {
  background: #eaf0f8;
}
.main .float {
  color: red;
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 30px;
}
.main .content {
  position: relative;
  top: 80px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 767px) {
  .main .content {
    padding-bottom: 40px;
    top: 40px;
  }
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .num {
  margin-bottom: 20px;
  text-align: center;
}
.main .content .level-content .num span {
  color: #6f7f8b;
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
}
@media (max-width: 767px) {
  .main .content .level-content .num span {
    width: 60px;
    font-size: 14px;
  }
}
.main .content .level-content .answer {
  text-align: center;
}
.main .content .level-content .answer span {
  color: red;
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
}
@media (max-width: 767px) {
  .main .content .level-content .answer span {
    width: 60px;
    font-size: 14px;
  }
}
.main .content .level-content .answer .highlight {
  color: #ffffff;
  background: red;
}
.main .content .level-content hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
  border-top: 1px solid #6f7f8b;
  display: block;
}
.main .content .level-content .next {
  padding: 10px 20px;
  color: red;
  border: 1px solid red;
  font-size: 18px;
  cursor: pointer;
  display: block;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .next:hover {
  color: #ffffff;
  background: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .hint {
  color: #171b1d;
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
  text-decoration: line-through;
}
.main .content .level-content form {
  margin-top: 40px;
}
