body {
  background: #151b1f;
}
p {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 350px !important;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .answer-input {
    margin-bottom: 10px;
    width: 100% !important;
  }
}
.form .submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}
@media (max-width: 767px) {
  .form .submit {
    border-left: 1px solid #485158;
    margin-top: 10px;
    width: 100% !important;
  }
}
.left {
  color: #485158;
}
.right {
  color: red;
}
.crypt_level {
  position: fixed;
  right: 30px;
  top: 40px;
  color: red;
  font-size: 30px;
}
span {
  font-size: 24px;
}
.form {
  margin-top: 40px;
}
