@import "../../global/less/variables";

.main{
	background: @f6;

	.content{
		position: relative;
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.hint{
				color: @grey-blue;
				font-size: 24px;
				margin-bottom: 20px;
			}

			.telephone{
				display: block;
				width: 40px;
				margin: 0 auto;	
				cursor: pointer;
			}

			.numberpad{
				display: none;
				max-width: 300px;
				margin: 0 auto;
				opacity: 0;
				position: relative;

				.numbers{
					position: absolute;
					width: 100%;
					text-align: center;
					margin-bottom: 20px;
					color: @grey-blue;
					font-size: 24px;
				}

				.keys{
					padding-top: 60px;

					.fa-phone{
						color: #51d636;
					}

					.fa-angle-double-left{
						color: @c7;
					}
				}
			}

			#op{
				display: none;
				color: @c7;
				opacity: 0;
				font-size: 30px;
				line-height: 30px;
				text-align: center;

				span{
					color: @c2;
					font-weight: 700;
				}
			}

			.col{
				float: left;
				width: 33.33333%;
				margin-bottom: 30px;

				p{
					width: 40px;
					height: 40px;
					margin: 0 auto;
					border-radius: 50%;
					border: 1px solid @grey-blue;
					color: @grey-blue;
					line-height: 40px;
					cursor: pointer;

					&:hover{
						color: red;
						border: 1px solid red;
					}
				}
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


