body {
  background: #eaf0f8;
}
.content {
  padding: 0 10px;
}
.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}
.code {
  word-wrap: break-word;
}
.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}
.code {
  color: #7599ac;
}
.hint {
  color: #6f7f8b;
  font-size: 18px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 40px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .hint {
    font-size: 14px;
  }
}
.find {
  margin-bottom: 40px;
}
span {
  display: inline-block;
  width: 30px;
}
button {
  border: 1px;
  border-style: solid;
  border-color: white;
  color: white;
  opacity: 0.8;
  background: transparent;
}
.next_level {
  background-color: white;
}
.cell {
  background: transparent;
  border: 1px solid #6f7f8b;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  width: 80px;
  height: 80px;
  font-size: 30px;
  outline: none;
  color: #171b1d;
  margin: 2px;
  -webkit-appearance: none !important;
  border-radius: 0px !important;
  text-align: center;
}
@media (max-width: 767px) {
  .cell {
    width: 50px;
    height: 50px;
  }
}
