body {
  width: 100%;
  height: 100vh;
  background-image: url('../static/bg.jpg');
  background-repeat: no-repeat;
  background-size: 1440px auto;
  background-position: center bottom;
}
.main .content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 0px;
  height: 100vh;
}
.main .content .level-content {
  position: relative;
  height: 100vh;
}
.main .content .level-content .hint {
  position: relative;
  top: 20%;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}
.main .content .level-content .row {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 900px;
}
.main .content .level-content .col {
  float: left;
  position: relative;
  height: 138px;
}
.main .content .level-content .col span {
  position: relative;
  margin: 0px 3px;
  cursor: pointer;
  top: -10px;
  height: 30px;
  padding: 2px 2px;
  display: inline-block;
}
.main .content .level-content .col .ground {
  width: 100%;
  height: 118px;
  position: absolute;
  top: 20px;
}
.main .content .level-content .col1,
.main .content .level-content .col3 {
  width: 20%;
  background: #dddddd;
}
.main .content .level-content .col2 {
  width: 60%;
  overflow: hidden;
}
.main .content .level-content .col2 .character {
  top: -15px;
}
.main .content .level-content .character img {
  height: 30px;
}
.main .content .level-content .form {
  margin-top: 40px;
}
.error {
  margin-top: 40px;
  color: red;
  font-size: 14px;
  text-align: center;
}
.error .error1 {
  display: none;
}
.error .error2 {
  display: none;
}
.move {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 60px;
}
.move a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
}
.move a:hover {
  color: #7599ac;
  background: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.boat-wrapper {
  position: absolute;
  z-index: 2;
  top: 25px;
  height: 40px;
  width: 100px;
  left: 110px;
  margin-left: -105px !important;
}
.boat {
  height: 20px;
  width: 100px;
  border-radius: 0 0 80px 80px;
  -moz-border-radius: 0 0 80px 80px;
  -webkit-border-radius: 0 0 80px 80px;
  background: #ffffff;
  position: absolute;
  top: 5px;
  z-index: 2;
}
.inboat {
  position: relative;
  top: -15px;
}
.fail {
  position: fixed;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 5;
  opacity: 0;
  display: none;
}
.fail .text {
  position: relative;
  top: 40%;
}
.fail p {
  color: #ffffff;
  text-align: center;
  font-style: italic;
  margin-bottom: 40px;
}
.fail button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #7599ac;
  color: #7599ac;
  background: transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.fail button:hover {
  color: #ffffff;
  background: #7599ac;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
