@import "../../global/less/variables";

.main{
	background: @f6;

	.content{
		position: relative;
		top: 28%;
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		padding: 0 20px;

		.level-content{
			position: relative;

			.hint{
				color: red;
				font-size: 20px;
				margin-top: 80px;

				span{
					margin: 0 20px;

					@media (max-width: @m){
						font-size: 14px;
						margin: 0 10px;
					}
				}
			}

			.b{
				text-align: right;
				font-size: 24px;
				color: @light-blue;
			}

			.a{
				text-align: center;
				margin-bottom: 40px;
				font-size: 24px;
				color: @light-blue;
			}

			.form{
				margin-top: 40px;
			}

		}
	}
}


