.main {
  background: #eaf0f8;
}
.main .float {
  color: red;
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 30px;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .firstrow {
  margin-bottom: 20px;
}
.main .content .level-content .clue {
  display: inline-block;
}
.main .content .level-content .clue span {
  color: red;
  display: inline-block;
  width: 60px;
  font-size: 24px;
  text-align: center;
}
@media (max-width: 767px) {
  .main .content .level-content .clue span {
    width: 35px;
    font-size: 14px;
  }
}
.main .content .level-content .question {
  display: inline-block;
}
.main .content .level-content .question span {
  color: #6f7f8b;
  display: inline-block;
  width: 60px;
  font-size: 24px;
  text-align: center;
}
@media (max-width: 767px) {
  .main .content .level-content .question span {
    width: 35px;
    font-size: 14px;
  }
}
.main .content .level-content .question-answer {
  display: inline-block;
  font-size: 40px;
  padding: 5px 20px;
  color: #ffffff;
  background: #6f7f8b;
}
@media (max-width: 767px) {
  .main .content .level-content .question-answer {
    font-size: 20px;
    display: block;
    text-align: center;
    margin-top: 5px;
  }
}
.main .content .level-content .clue-answer {
  display: inline-block;
  font-size: 40px;
  padding: 5px 20px;
  color: #ffffff;
  background: red;
}
@media (max-width: 767px) {
  .main .content .level-content .clue-answer {
    font-size: 20px;
    display: block;
    text-align: center;
    margin-top: 5px;
  }
}
.main .content .level-content .next {
  padding: 10px 20px;
  color: red;
  border: 1px solid red;
  font-size: 18px;
  cursor: pointer;
  display: block;
  width: 100px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .next:hover {
  color: #ffffff;
  background: red;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .hint {
  color: #171b1d;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.main .content .level-content .pseudo-form {
  font-size: 0;
  margin-top: 40px;
  text-align: center;
}
.main .content .level-content .pseudo-form .row {
  display: inline-block;
  margin: 0 auto;
}
.main .content .level-content .pseudo-form .input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #6f7f8b;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: none;
  color: #6f7f8b;
  -webkit-appearance: none !important;
  border-radius: 0px !important;
}
.main .content .level-content .pseudo-form .input:focus {
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  background: #6f7f8b;
  color: #ffffff;
}
.main .content .level-content .pseudo-form .enter {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #6f7f8b;
  background: transparent;
  border: 1px solid #6f7f8b;
  border-left: none;
  font-weight: 300;
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .pseudo-form .enter:hover {
  background: #6f7f8b;
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .num {
  position: fixed;
  right: 30px;
  top: 30px;
  font-size: 30px;
  color: red;
}
.form {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}
