.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #6f7f8b;
  margin-bottom: 40px;
  font-size: 20px;
}
.main .content .level-content .hint span {
  color: #6f7f8b;
  font-style: italic;
  font-weight: 700;
}
@media (max-width: 767px) {
  .main .content .level-content .hint {
    font-size: 16px;
  }
}
.main .content .level-content .sec {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 10px;
  color: red;
  height: 48px;
}
@media (max-width: 767px) {
  .main .content .level-content .sec {
    margin: 0 0px;
    padding: 10px 5px;
  }
}
.main .content .level-content .sec span {
  display: inline-block;
  width: 20px;
  font-size: 24px;
}
@media (max-width: 767px) {
  .main .content .level-content .sec span {
    font-size: 14px;
  }
}
.main .content .level-content hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #7599ac;
}
.main .content .level-content .form {
  margin-top: 40px;
}
