body {
  background: #eaf0f8;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .sum {
  margin-bottom: 80px;
}
.main .content .level-content .sum span {
  display: inline-block;
  width: 40px;
  color: red;
}
.main .content .level-content .hint {
  color: #6f7f8b;
  margin-bottom: 20px;
  font-size: 24px;
}
.main .content .level-content .ring-super {
  position: relative;
  width: 100%;
  height: 360px;
  top: 80px;
}
.main .content .level-content .ring-super .ring {
  color: #6f7f8b;
  cursor: pointer;
  margin-left: -15px;
}
.main .content .level-content .ring-wrapper-1 {
  position: absolute;
  left: 50%;
  z-index: 5;
  cursor: default;
}
.main .content .level-content .ring-wrapper-1 .ring {
  display: inline-block;
  width: 30px;
  height: 120px;
  position: absolute;
  padding-top: 10px;
}
.main .content .level-content .ring-wrapper-2 {
  position: absolute;
  top: -40px;
  left: 50%;
  z-index: 4;
}
.main .content .level-content .ring-wrapper-2:hover .ring {
  color: red;
}
.main .content .level-content .ring-wrapper-2 .ring {
  display: inline-block;
  width: 30px;
  height: 200px;
  position: absolute;
  padding-top: 10px;
}
.main .content .level-content .ring-wrapper-3 {
  position: absolute;
  top: -80px;
  left: 50%;
  z-index: 3;
}
.main .content .level-content .ring-wrapper-3:hover .ring {
  color: red;
}
.main .content .level-content .ring-wrapper-3 .ring {
  display: inline-block;
  width: 30px;
  height: 280px;
  position: absolute;
  padding-top: 10px;
}
.main .content .level-content .ring-wrapper-4 {
  position: absolute;
  top: -120px;
  left: 50%;
  z-index: 2;
}
.main .content .level-content .ring-wrapper-4:hover .ring {
  color: red;
}
.main .content .level-content .ring-wrapper-4 .ring {
  display: inline-block;
  width: 30px;
  height: 360px;
  position: absolute;
  border: 1px solid #7599ac;
  padding-top: 10px;
}
.main .content .level-content .rotate0 {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.main .content .level-content .rotate60 {
  -ms-transform: rotate(60deg);
  /* IE 9 */
  -webkit-transform: rotate(60deg);
  /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}
.main .content .level-content .rotate120 {
  -ms-transform: rotate(120deg);
  /* IE 9 */
  -webkit-transform: rotate(120deg);
  /* Chrome, Safari, Opera */
  transform: rotate(120deg);
}
.main .content .level-content .rotate180 {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.main .content .level-content .rotate240 {
  -ms-transform: rotate(240deg);
  /* IE 9 */
  -webkit-transform: rotate(240deg);
  /* Chrome, Safari, Opera */
  transform: rotate(240deg);
}
.main .content .level-content .rotate300 {
  -ms-transform: rotate(300deg);
  /* IE 9 */
  -webkit-transform: rotate(300deg);
  /* Chrome, Safari, Opera */
  transform: rotate(300deg);
}
.main .content .level-content .form {
  margin-top: 40px;
}
