body {
  background: #221e20;
}
.main {
  height: auto;
}
.main .content {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
  padding: 40px 0px;
}
.main .content .level-content h6 {
  color: #ffffff;
  text-align: left;
  margin-bottom: 40px;
  padding-left: 40px;
  font-size: 30px;
}
@media (max-width: 767px) {
  .main .content .level-content h6 {
    text-align: center;
    padding-left: 0px;
  }
}
.main .content .level-content hr {
  border: none;
  border-top: 2px solid #ffffff;
  margin: 40px 0px;
}
.main .content .level-content .number {
  color: #ffffff;
  position: relative;
  text-align: right;
  margin-bottom: 1000px;
  padding: 0 40px;
  font-size: 18px;
}
.main .content .level-content .invert {
  -webkit-transform: rotate(180deg);
  /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);
  /* FF */
  -o-transform: rotate(180deg);
  /* Opera */
  -ms-transform: rotate(180deg);
  /* IE9 */
  transform: rotate(180deg);
  /* W3C compliant browsers */
  text-align: left;
}
.main .content .level-content .fix {
  margin-bottom: 371px;
}
.main .content .level-content .center {
  color: red;
}
.main .content .level-content .end {
  margin-bottom: 0px;
}
.main .content .level-content .form {
  margin-top: 40px;
}
