.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #6f7f8b;
  margin-bottom: 20px;
  font-size: 18px;
}
.main .content .level-content .hint span {
  color: red;
}
.main .content .level-content .hint .fa {
  margin: 0 5px;
}
.main .content .level-content .letters {
  text-transform: uppercase;
  position: relative;
}
.main .content .level-content .letters span {
  display: inline-block;
  margin: 0 15px;
  color: #7599ac;
  position: relative;
  top: 0;
}
.main .content .level-content .spacer {
  height: 150px;
}
.main .content .level-content .arrow {
  text-align: center;
}
.main .content .level-content .arrow .fa {
  font-size: 30px;
  color: #999999;
  padding: 5px 5px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content .arrow .fa:hover {
  color: #222222;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main .content .level-content hr {
  border: none;
  border-top: 1px solid #7599ac;
  margin: 20px 0px;
}
.main .content .level-content .form {
  margin-top: 40px;
}
