@import "../../global/less/variables";

body{
	background: @dark-red;
}
.main{
	background: @dark-red;
	font-family: "Lucida Console", Monaco, monospace !important;


	.content{
		position: relative;
		z-index: 2;		
		margin: 0 auto;
		text-align: center;
		max-width: 480px;
		z-index: 2;

		.level-content{
			position: relative;
			padding: 20px 20px;
			font-size: 0;

			@media (max-width: @m){
				padding: 20px 10px;
			}

			.card-base{
				display: inline-block;
				width: 80px;
				height: 100px;
				background: #ebe5d7;
				background-size: 50px 50px;
				background-position: center center;
				background-repeat: no-repeat;
				text-align: center;
				font-size: 16px;
				color: @f;
				font-weight: 700;
				line-height: 95px;
				margin: 10px 10px;
				border: 2px solid transparent;
				-webkit-transition: 0.5s;
				transition: 0.5s;
				cursor: pointer;

				@media (max-width: @m){
					width: 50px;
					height: 60px;
					line-height: 55px;
					background-size: 34px 34px;
					font-size: 13px;
				}

				&:hover{
					background-color: @f;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}
			}

			.hint{
				display: inline-block;
				padding: 15px 15px;
				font-weight: 700;
				margin-bottom: 20px;
				background: @f;

				@media (max-width: @m){
					padding: 10px 10px;
				}

				.box{
					display: inline-block;
					width: 60px;
					height: 60px;
					background: #000000;
					line-height: 60px;
					font-size: 14px;
					color: #000000;
					margin-right: 10px;

					@media (max-width: @m){
						width: 40px;
						height: 40px;
						line-height: 40px;
					}
				}

				.cardhint{
					display: inline-block;
					width: 60px;
					height: 60px;
					background: url('../static/spade.svg') center center no-repeat;
					background-color: @f;
					background-size: 40px 40px;
					line-height: 60px;
					color: @f;
					font-size: 14px;

					@media (max-width: @m){
						width: 40px;
						height: 40px;
						line-height: 40px;
					}
				}

			}

			.selected{
				-webkit-transition: 0.5s;
				transition: 0.5s;
				border: 2px solid red;
			}

			.btn{
				padding: 10px 20px;
				transition: 0.5s;
				-webkit-transition: 0.5s;
				font-size: 18px;
				display: inline-block;
				margin: 0 10px;
				margin-top: 20px;
				cursor: pointer;
			}

			.answer{
				color: @light-blue;
				border: 1px solid @light-blue;

				&:hover{
					color: @f;
					background: @light-blue;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}
			}

			.reset{
				color: red;
				border: 1px solid red;

				&:hover{
					color: @f;
					background: red;
					transition: 0.5s;
					-webkit-transition: 0.5s;
				}
			}

		}
	}

	.count{
		position: absolute;
		right: 20px;
		top: 20px;
		color: red;
		font-size: 30px;
	}

	.moves{
		position: absolute;
		left: 20px;
		top: 20px;
		color: @light-blue;
		font-size: 30px;
	}

}


.spade{
	position: absolute;
	background: url('../static/spade-w.svg') no-repeat center center;
	background-size: 90% 90%;
	width: 50%;
	height: 50%;
	top: 0;
	left: 0;
	opacity: 0.02;
}

.heart{
	position: absolute;
	background: url('../static/heart.svg') no-repeat center center;
	background-size: 90% 90%;
	width: 50%;
	height: 50%;
	top: 0;
	left: 50%;
	opacity: 0.02;
}

.club{
	position: absolute;
	background: url('../static/club-w.svg') no-repeat center center;
	background-size: 90% 90%;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	opacity: 0.02;
}

.diamond{
	position: absolute;
	background: url('../static/diamond.svg') no-repeat center center;
	background-size: 90% 90%;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 0%;
	opacity: 0.02;
}


