@import "../../global/less/variables";

.main{
	background: @dark-blue;

	.content{
		position: relative;
		padding: 0 20px;
		max-width: 750px;
		margin: 0 auto;
		text-align: center;

		.level-content{
			position: relative;

			.images{

				.imagerow{
					margin: 0 auto;
					text-align: center;
					font-size: 0;

					img{
						width: 90px;
						display: inline-block;
						cursor: pointer;
						opacity: 0.90;


						&:hover{
							opacity: 1;

						}
					}

					.r0{
					    -ms-transform: rotate(0deg); /* IE 9 */
					    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
					    transform: rotate(0deg);
					}

					.r90{
					    -ms-transform: rotate(90deg); /* IE 9 */
					    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
					    transform: rotate(90deg);
					}

					.r180{
					    -ms-transform: rotate(180deg); /* IE 9 */
					    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
					    transform: rotate(180deg);
					}

					.r270{
					    -ms-transform: rotate(270deg); /* IE 9 */
					    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
					    transform: rotate(270deg);
					}

				}

			}

			.form{
				margin-top: 40px;
			}

		}
	}
}



.animated { 
    -webkit-animation-duration: 5s; 
    animation-duration: 5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 
@keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 
.flash { 
    -webkit-animation-name: flash; 
    animation-name: flash; 
}