.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  top: 20%;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
  top: 10px;
}
.main .content .level-content .hotel {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  top: 150px;
  left: 50%;
  z-index: 1;
  opacity: 0.5;
}
.main .content .level-content .found {
  z-index: 3;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  top: 150px;
  left: 50%;
  opacity: 0.5;
  display: none;
}
.main .content .level-content .record {
  position: absolute;
  z-index: 3;
  right: 40px;
  top: 30px;
}
.main .content .level-content .record span {
  color: red;
}
.main .content .level-content .record .circle {
  background: red;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.main .content .level-content .record .rec {
  color: red;
  font-weight: 700;
  font-size: 12px;
}
.main .content .level-content .text {
  position: absolute;
  text-align: left;
  opacity: 0.9;
  top: 290px;
  left: 35px;
  z-index: 3;
}
.main .content .level-content .text span {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
}
.main .content .level-content .screenshot {
  width: 500px;
  height: 340px;
  background: url('../static/screenshot.jpg') no-repeat center center;
  background-size: 500px 340px;
  position: absolute;
  top: 0px;
  z-index: 2;
}
.main .content .level-content .form {
  margin-top: 40px;
}
.blink {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: flash;
  -moz-animation-duration: 4s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: flash;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.slow {
  -webkit-animation-name: slow;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: slow;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: slow;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@-moz-keyframes flash {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1.0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 0.0;
  }
}
@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1.0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 0.0;
  }
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1.0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 0.0;
  }
}
@-moz-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@-moz-keyframes slow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  25% {
    opacity: 1.0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0.0;
  }
}
@-webkit-keyframes slow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  25% {
    opacity: 1.0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0.0;
  }
}
@keyframes slow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  25% {
    opacity: 1.0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0.0;
  }
}
