@import "../../global/less/variables";

body {
  background: @dark-red;
}

.answer-input {
  display: block;
  float: left;
  background: transparent;
  border: 1px solid #485158;
  transition: .5s;
  -webkit-transition: .5s;
  width: 150px;
  height: 36px;
  padding: 0 10px;
  font-size: 18px;
  outline: 0;
  color: #485158;
}

.submit {
  display: block;
  float: left;
  width: 100px;
  font-size: 18px;
  height: 38px;
  color: #485158;
  background: transparent;
  border: 1px solid #485158;
  border-left: 0;
  font-weight: 300;
  outline: 0;
  transition: .5s;
  -webkit-transition: .5s;
}

span {
  display: inline-block;
  width: 20px;
}

@font-face {
  font-family: thehidden;
  src: url(hidden.ttf);
}

.hidden {
  font-family: thehidden;
}

img.resize {
  width: 250px; /* you can use % */
  height: auto;
}

.message {
  display: inline-block;
  margin: 5px;
  width: auto
}

.enclosingJug {
  margin: 20px;
  cursor: pointer;

  @media (max-width: @m){
    width: 60px !important;
    margin: 20px 10px;
  }

  p{
    color: @f;
    margin-top: 20px;
  }
}

.jug {
  position: relative;
  border-color: @f !important;

  @media (max-width: @m){
    width: 60px !important;
  }
}

.clue{
  color: @f;
  font-size: 18px;

  @media (max-width: @m){
    font-size: 20px;
    margin-bottom: 20px;
  }
}


.water {
  bottom: 0;
  background-color: #538bae;
  @media (max-width: @m){
    width: 52px !important;
  }
}


.glow {
  -webkit-box-shadow: 0px 10px 38px 1px rgba(82, 110, 222, 1);
  -moz-box-shadow: 0px 10px 38px 1px rgba(82, 110, 222, 1);
  box-shadow: 0px 10px 38px 1px rgba(82, 110, 222, 1);
}