.main {
  background: #eaf0f8;
}
.main .content {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  font-size: 18px;
  color: #171b1d;
  margin-bottom: 20px;
}
.main .content .level-content .hint span {
  color: red;
}
.main .content .level-content .num span {
  display: inline-block;
  margin: 0px 5px;
  font-size: 24px;
  color: #6f7f8b;
}
.main .content .level-content .form {
  margin-top: 40px;
}
