.main {
  background: #f6f6f6;
}
.main .content {
  position: relative;
  top: 28%;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
.main .content .level-content {
  position: relative;
}
.main .content .level-content .hint {
  color: #7599ac;
  text-align: center;
  margin-bottom: 20px;
}
.main .content .level-content .imagerow {
  line-height: 0;
  width: 372px;
  margin: 0 auto;
}
.main .content .level-content .imagerow img {
  display: inline-block;
  width: 120px;
  margin: 2px 2px;
  cursor: pointer;
}
.main .content .level-content .r0 {
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.main .content .level-content .r90 {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.main .content .level-content .r180 {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.main .content .level-content .r270 {
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}
.main .content .level-content .form {
  margin-top: 40px;
}
